SOURCE_JEEPSERVICES/Dashboard/VecompSoftware.JeepDashboard/Service References/LiveUpdateServiceReference/LiveUpdate32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://wcf.jeepserviceliveupdate.fabbrisoft.it/LiveUpdate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JeepServiceLiveUpdate.Interfaces" />
  <xs:element name="GetLastVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/JeepServiceLiveUpdate.Interfaces" minOccurs="0" name="GetLastVersionResult" nillable="true" type="q1:UpdateDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastVersions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastVersionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/JeepServiceLiveUpdate.Interfaces" minOccurs="0" name="GetLastVersionsResult" nillable="true" type="q2:ArrayOfUpdateDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="moduleName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="comparingVersion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/JeepServiceLiveUpdate.Interfaces" minOccurs="0" name="GetUpdateResult" nillable="true" type="q3:UpdateDefinition" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutNewVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/JeepServiceLiveUpdate.Interfaces" minOccurs="0" name="release" nillable="true" type="q4:ModuleRelease" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PutNewVersionResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>