SOURCE_JEEPSERVICES/Dashboard/VecompSoftware.JeepDashboard/Service References/LiveUpdateServiceReference/LiveUpdate1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LiveUpdate" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wcf.jeepserviceliveupdate.fabbrisoft.it/LiveUpdate.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wcf.jeepserviceliveupdate.fabbrisoft.it/LiveUpdate.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://wcf.jeepserviceliveupdate.fabbrisoft.it/LiveUpdate.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/JeepServiceLiveUpdate.Interfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiveUpdate_GetLastVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastVersion" />
  </wsdl:message>
  <wsdl:message name="ILiveUpdate_GetLastVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastVersionResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveUpdate_GetLastVersions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastVersions" />
  </wsdl:message>
  <wsdl:message name="ILiveUpdate_GetLastVersions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastVersionsResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveUpdate_GetUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdate" />
  </wsdl:message>
  <wsdl:message name="ILiveUpdate_GetUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveUpdate_PutNewVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:PutNewVersion" />
  </wsdl:message>
  <wsdl:message name="ILiveUpdate_PutNewVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:PutNewVersionResponse" />
  </wsdl:message>
  <wsdl:portType name="ILiveUpdate">
    <wsdl:operation name="GetLastVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveUpdate/GetLastVersion" message="tns:ILiveUpdate_GetLastVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveUpdate/GetLastVersionResponse" message="tns:ILiveUpdate_GetLastVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastVersions">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveUpdate/GetLastVersions" message="tns:ILiveUpdate_GetLastVersions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveUpdate/GetLastVersionsResponse" message="tns:ILiveUpdate_GetLastVersions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveUpdate/GetUpdate" message="tns:ILiveUpdate_GetUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveUpdate/GetUpdateResponse" message="tns:ILiveUpdate_GetUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PutNewVersion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveUpdate/PutNewVersion" message="tns:ILiveUpdate_PutNewVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveUpdate/PutNewVersionResponse" message="tns:ILiveUpdate_PutNewVersion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILiveUpdate" type="tns:ILiveUpdate">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLastVersion">
      <soap:operation soapAction="http://tempuri.org/ILiveUpdate/GetLastVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastVersions">
      <soap:operation soapAction="http://tempuri.org/ILiveUpdate/GetLastVersions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUpdate">
      <soap:operation soapAction="http://tempuri.org/ILiveUpdate/GetUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutNewVersion">
      <soap:operation soapAction="http://tempuri.org/ILiveUpdate/PutNewVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveUpdate">
    <wsdl:port name="BasicHttpBinding_ILiveUpdate" binding="tns:BasicHttpBinding_ILiveUpdate">
      <soap:address location="http://wcf.jeepserviceliveupdate.fabbrisoft.it/LiveUpdate.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>