SOURCE_BIBLOSDS/BiblosDS.UnitTest.LegalExtension/Service References/Preservation/Preservation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:i0="http://Vecomp.BiblosDs.Preservation" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Preservation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IPreservation_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://Vecomp.BiblosDs.Preservation" location="http://docsuitebiblosds.cloudapp.net/BiblosDS2010WCF/Preservation.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="WSHttpBinding_IPreservation" type="i0:IPreservation">
    <wsp:PolicyReference URI="#WSHttpBinding_IPreservation_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="VerifyPreservation">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Preservation/IPreservation/VerifyPreservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreservationHistory">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Preservation/IPreservation/PreservationHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreservationTaskStatus">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTaskStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreparePreservationTask">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Preservation/IPreservation/PreparePreservationTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIdPreservation">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Preservation/IPreservation/GetIdPreservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClosingPreservationHash">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Preservation/IPreservation/GetClosingPreservationHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmSignedPreservation">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Preservation/IPreservation/ConfirmSignedPreservation" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreservationAdEMark">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationAdEMark" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPreservationCloseFile">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationCloseFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Preservation">
    <wsdl:port name="WSHttpBinding_IPreservation" binding="tns:WSHttpBinding_IPreservation">
      <soap12:address location="http://docsuitebiblosds.cloudapp.net/BiblosDS2010WCF/Preservation.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://docsuitebiblosds.cloudapp.net/BiblosDS2010WCF/Preservation.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>