SOURCE_BIBLOSDS/BiblosDS.UnitTest.LegalExtension/Service References/Preservation/Preservation2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Vecomp.BiblosDs.Preservation" elementFormDefault="qualified" targetNamespace="http://Vecomp.BiblosDs.Preservation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://docsuitebiblosds.cloudapp.net/BiblosDS2010WCF/Preservation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://docsuitebiblosds.cloudapp.net/BiblosDS2010WCF/Preservation.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://docsuitebiblosds.cloudapp.net/BiblosDS2010WCF/Preservation.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/PreservationEvents" />
  <xs:import schemaLocation="http://docsuitebiblosds.cloudapp.net/BiblosDS2010WCF/Preservation.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/ContentFormat" />
  <xs:import schemaLocation="http://docsuitebiblosds.cloudapp.net/BiblosDS2010WCF/Preservation.svc?xsd=xsd5" namespace="http://BiblosDS/2009/10/Content" />
  <xs:element name="VerifyPreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyPreservationResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="messages" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreservationHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreservationHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://BiblosDS/2009/10/PreservationEvents" minOccurs="0" name="PreservationHistoryResult" nillable="true" type="q4:ArrayOfPreservationEvents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPreservationTaskStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreparePreservationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreparePreservationTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PreparePreservationTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdPreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdPreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetIdPreservationResult" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosingPreservationHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosingPreservationHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClosingPreservationHashResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSignedPreservation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSignedPreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmSignedPreservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationAdEMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q10:guid" />
        <xs:element xmlns:q11="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q11:ContentFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationAdEMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetPreservationAdEMarkResult" nillable="true" type="q12:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationCloseFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q13:guid" />
        <xs:element xmlns:q14="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q14:ContentFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationCloseFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetPreservationCloseFileResult" nillable="true" type="q15:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>