SOURCE_BIBLOSDS/BiblosDS.UnitTest.LegalExtension/Service References/Preservation/Preservation3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BiblosDS/2009/10/PreservationEvents" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationEvents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPreservationEvents">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreservationEvents" nillable="true" type="tns:PreservationEvents" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreservationEvents" nillable="true" type="tns:ArrayOfPreservationEvents" />
  <xs:complexType name="PreservationEvents">
    <xs:sequence>
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreservationEvents" nillable="true" type="tns:PreservationEvents" />
</xs:schema>