SOURCE_SERVICEBUS/VecompSoftware.ServiceBus.Module.Workflow.Listener.SecurePaper/Web References/SPService/SecurePaperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ax21="http://spservice.securepaperappliance.land.it/xsd" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://spservice.securepaperappliance.land.it" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://spservice.securepaperappliance.land.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema xmlns:ax22="http://spservice.securepaperappliance.land.it" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://spservice.securepaperappliance.land.it/xsd">
      <xs:import namespace="http://spservice.securepaperappliance.land.it" />
      <xs:complexType name="SPWebServiceException">
        <xs:complexContent mixed="false">
          <xs:extension base="ax22:Exception">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SignerBean">
        <xs:sequence>
          <xs:element minOccurs="0" name="domain" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="hsmIp" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SPServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="archiveKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="securedDocument" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="status" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Key">
        <xs:sequence>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="SPServiceBaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="securedDocument" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="status" type="xs:int" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax23="http://spservice.securepaperappliance.land.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://spservice.securepaperappliance.land.it">
      <xs:import namespace="http://spservice.securepaperappliance.land.it/xsd" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="Exception" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SPWebServiceException">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SPWebServiceException" nillable="true" type="ax23:SPWebServiceException" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeBufferOnPdf">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="signers" nillable="true" type="ax23:SignerBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeBufferOnPdfResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax23:SPServiceResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeBuffer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="inXml" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="signers" nillable="true" type="ax23:SignerBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeBufferResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax23:SPServiceResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizePDF">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="signers" nillable="true" type="ax23:SignerBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizePDFResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax23:SPServiceResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeBufferOnPdfWithKeys">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="buffer" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="signers" nillable="true" type="ax23:SignerBean" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="keys" nillable="true" type="ax23:Key" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeBufferOnPdfWithKeysResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax23:SPServiceResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeXMLWithClosingDocument">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inXml" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="closingDocumentXml" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="signers" nillable="true" type="ax23:SignerBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeXMLWithClosingDocumentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax23:SPServiceResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizePDFWithClosingDocument">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="closingDocumentXml" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="signers" nillable="true" type="ax23:SignerBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizePDFWithClosingDocumentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax23:SPServiceResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeMessageDigestOnPdfWithKeys">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="messageDigest" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="messageDigestType" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" name="xmlData" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="signers" nillable="true" type="ax23:SignerBean" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="keys" nillable="true" type="ax23:Key" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeMessageDigestOnPdfWithKeysResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax23:SPServiceBaseResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeXML">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serviceId" nillable="true" type="xs:string" />
            <xs:element minOccurs="0" name="inXml" nillable="true" type="xs:base64Binary" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="signers" nillable="true" type="ax23:SignerBean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="securizeXMLResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax23:SPServiceResponse" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="securizeBufferRequest">
    <wsdl:part name="parameters" element="ns:securizeBuffer" />
  </wsdl:message>
  <wsdl:message name="securizeBufferResponse">
    <wsdl:part name="parameters" element="ns:securizeBufferResponse" />
  </wsdl:message>
  <wsdl:message name="SPWebServiceException">
    <wsdl:part name="parameters" element="ns:SPWebServiceException" />
  </wsdl:message>
  <wsdl:message name="securizeMessageDigestOnPdfWithKeysRequest">
    <wsdl:part name="parameters" element="ns:securizeMessageDigestOnPdfWithKeys" />
  </wsdl:message>
  <wsdl:message name="securizeMessageDigestOnPdfWithKeysResponse">
    <wsdl:part name="parameters" element="ns:securizeMessageDigestOnPdfWithKeysResponse" />
  </wsdl:message>
  <wsdl:message name="securizeXMLRequest">
    <wsdl:part name="parameters" element="ns:securizeXML" />
  </wsdl:message>
  <wsdl:message name="securizeXMLResponse">
    <wsdl:part name="parameters" element="ns:securizeXMLResponse" />
  </wsdl:message>
  <wsdl:message name="securizePDFRequest">
    <wsdl:part name="parameters" element="ns:securizePDF" />
  </wsdl:message>
  <wsdl:message name="securizePDFResponse">
    <wsdl:part name="parameters" element="ns:securizePDFResponse" />
  </wsdl:message>
  <wsdl:message name="securizePDFWithClosingDocumentRequest">
    <wsdl:part name="parameters" element="ns:securizePDFWithClosingDocument" />
  </wsdl:message>
  <wsdl:message name="securizePDFWithClosingDocumentResponse">
    <wsdl:part name="parameters" element="ns:securizePDFWithClosingDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="securizeBufferOnPdfRequest">
    <wsdl:part name="parameters" element="ns:securizeBufferOnPdf" />
  </wsdl:message>
  <wsdl:message name="securizeBufferOnPdfResponse">
    <wsdl:part name="parameters" element="ns:securizeBufferOnPdfResponse" />
  </wsdl:message>
  <wsdl:message name="securizeXMLWithClosingDocumentRequest">
    <wsdl:part name="parameters" element="ns:securizeXMLWithClosingDocument" />
  </wsdl:message>
  <wsdl:message name="securizeXMLWithClosingDocumentResponse">
    <wsdl:part name="parameters" element="ns:securizeXMLWithClosingDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="securizeBufferOnPdfWithKeysRequest">
    <wsdl:part name="parameters" element="ns:securizeBufferOnPdfWithKeys" />
  </wsdl:message>
  <wsdl:message name="securizeBufferOnPdfWithKeysResponse">
    <wsdl:part name="parameters" element="ns:securizeBufferOnPdfWithKeysResponse" />
  </wsdl:message>
  <wsdl:portType name="SPPortType">
    <wsdl:operation name="securizeBuffer">
      <wsdl:input wsaw:Action="urn:securizeBuffer" message="ns:securizeBufferRequest" />
      <wsdl:output wsaw:Action="urn:securizeBufferResponse" message="ns:securizeBufferResponse" />
      <wsdl:fault wsaw:Action="urn:securizeBufferSPWebServiceException" name="SPWebServiceException" message="ns:SPWebServiceException" />
    </wsdl:operation>
    <wsdl:operation name="securizeMessageDigestOnPdfWithKeys">
      <wsdl:input wsaw:Action="urn:securizeMessageDigestOnPdfWithKeys" message="ns:securizeMessageDigestOnPdfWithKeysRequest" />
      <wsdl:output wsaw:Action="urn:securizeMessageDigestOnPdfWithKeysResponse" message="ns:securizeMessageDigestOnPdfWithKeysResponse" />
      <wsdl:fault wsaw:Action="urn:securizeMessageDigestOnPdfWithKeysSPWebServiceException" name="SPWebServiceException" message="ns:SPWebServiceException" />
    </wsdl:operation>
    <wsdl:operation name="securizeXML">
      <wsdl:input wsaw:Action="urn:securizeXML" message="ns:securizeXMLRequest" />
      <wsdl:output wsaw:Action="urn:securizeXMLResponse" message="ns:securizeXMLResponse" />
      <wsdl:fault wsaw:Action="urn:securizeXMLSPWebServiceException" name="SPWebServiceException" message="ns:SPWebServiceException" />
    </wsdl:operation>
    <wsdl:operation name="securizePDF">
      <wsdl:input wsaw:Action="urn:securizePDF" message="ns:securizePDFRequest" />
      <wsdl:output wsaw:Action="urn:securizePDFResponse" message="ns:securizePDFResponse" />
      <wsdl:fault wsaw:Action="urn:securizePDFSPWebServiceException" name="SPWebServiceException" message="ns:SPWebServiceException" />
    </wsdl:operation>
    <wsdl:operation name="securizePDFWithClosingDocument">
      <wsdl:input wsaw:Action="urn:securizePDFWithClosingDocument" message="ns:securizePDFWithClosingDocumentRequest" />
      <wsdl:output wsaw:Action="urn:securizePDFWithClosingDocumentResponse" message="ns:securizePDFWithClosingDocumentResponse" />
      <wsdl:fault wsaw:Action="urn:securizePDFWithClosingDocumentSPWebServiceException" name="SPWebServiceException" message="ns:SPWebServiceException" />
    </wsdl:operation>
    <wsdl:operation name="securizeBufferOnPdf">
      <wsdl:input wsaw:Action="urn:securizeBufferOnPdf" message="ns:securizeBufferOnPdfRequest" />
      <wsdl:output wsaw:Action="urn:securizeBufferOnPdfResponse" message="ns:securizeBufferOnPdfResponse" />
      <wsdl:fault wsaw:Action="urn:securizeBufferOnPdfSPWebServiceException" name="SPWebServiceException" message="ns:SPWebServiceException" />
    </wsdl:operation>
    <wsdl:operation name="securizeXMLWithClosingDocument">
      <wsdl:input wsaw:Action="urn:securizeXMLWithClosingDocument" message="ns:securizeXMLWithClosingDocumentRequest" />
      <wsdl:output wsaw:Action="urn:securizeXMLWithClosingDocumentResponse" message="ns:securizeXMLWithClosingDocumentResponse" />
      <wsdl:fault wsaw:Action="urn:securizeXMLWithClosingDocumentSPWebServiceException" name="SPWebServiceException" message="ns:SPWebServiceException" />
    </wsdl:operation>
    <wsdl:operation name="securizeBufferOnPdfWithKeys">
      <wsdl:input wsaw:Action="urn:securizeBufferOnPdfWithKeys" message="ns:securizeBufferOnPdfWithKeysRequest" />
      <wsdl:output wsaw:Action="urn:securizeBufferOnPdfWithKeysResponse" message="ns:securizeBufferOnPdfWithKeysResponse" />
      <wsdl:fault wsaw:Action="urn:securizeBufferOnPdfWithKeysSPWebServiceException" name="SPWebServiceException" message="ns:SPWebServiceException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SPSoap11Binding" type="ns:SPPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="securizeBuffer">
      <soap:operation soapAction="urn:securizeBuffer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeMessageDigestOnPdfWithKeys">
      <soap:operation soapAction="urn:securizeMessageDigestOnPdfWithKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeXML">
      <soap:operation soapAction="urn:securizeXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizePDF">
      <soap:operation soapAction="urn:securizePDF" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizePDFWithClosingDocument">
      <soap:operation soapAction="urn:securizePDFWithClosingDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeBufferOnPdf">
      <soap:operation soapAction="urn:securizeBufferOnPdf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeXMLWithClosingDocument">
      <soap:operation soapAction="urn:securizeXMLWithClosingDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeBufferOnPdfWithKeys">
      <soap:operation soapAction="urn:securizeBufferOnPdfWithKeys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPSoap12Binding" type="ns:SPPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="securizeBuffer">
      <soap12:operation soapAction="urn:securizeBuffer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap12:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeMessageDigestOnPdfWithKeys">
      <soap12:operation soapAction="urn:securizeMessageDigestOnPdfWithKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap12:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeXML">
      <soap12:operation soapAction="urn:securizeXML" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap12:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizePDF">
      <soap12:operation soapAction="urn:securizePDF" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap12:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizePDFWithClosingDocument">
      <soap12:operation soapAction="urn:securizePDFWithClosingDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap12:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeBufferOnPdf">
      <soap12:operation soapAction="urn:securizeBufferOnPdf" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap12:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeXMLWithClosingDocument">
      <soap12:operation soapAction="urn:securizeXMLWithClosingDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap12:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="securizeBufferOnPdfWithKeys">
      <soap12:operation soapAction="urn:securizeBufferOnPdfWithKeys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="SPWebServiceException">
        <soap12:fault use="literal" name="SPWebServiceException" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SPHttpBinding" type="ns:SPPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="securizeBuffer">
      <http:operation location="SP/securizeBuffer" />
      <wsdl:input>
        <mime:content part="securizeBuffer" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="securizeBuffer" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="securizeMessageDigestOnPdfWithKeys">
      <http:operation location="SP/securizeMessageDigestOnPdfWithKeys" />
      <wsdl:input>
        <mime:content part="securizeMessageDigestOnPdfWithKeys" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="securizeMessageDigestOnPdfWithKeys" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="securizeXML">
      <http:operation location="SP/securizeXML" />
      <wsdl:input>
        <mime:content part="securizeXML" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="securizeXML" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="securizePDF">
      <http:operation location="SP/securizePDF" />
      <wsdl:input>
        <mime:content part="securizePDF" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="securizePDF" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="securizePDFWithClosingDocument">
      <http:operation location="SP/securizePDFWithClosingDocument" />
      <wsdl:input>
        <mime:content part="securizePDFWithClosingDocument" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="securizePDFWithClosingDocument" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="securizeBufferOnPdf">
      <http:operation location="SP/securizeBufferOnPdf" />
      <wsdl:input>
        <mime:content part="securizeBufferOnPdf" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="securizeBufferOnPdf" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="securizeXMLWithClosingDocument">
      <http:operation location="SP/securizeXMLWithClosingDocument" />
      <wsdl:input>
        <mime:content part="securizeXMLWithClosingDocument" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="securizeXMLWithClosingDocument" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="securizeBufferOnPdfWithKeys">
      <http:operation location="SP/securizeBufferOnPdfWithKeys" />
      <wsdl:input>
        <mime:content part="securizeBufferOnPdfWithKeys" type="text/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="securizeBufferOnPdfWithKeys" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SP">
    <wsdl:port name="SPHttpSoap11Endpoint" binding="ns:SPSoap11Binding">
      <soap:address location="http://dgroove.coll.securepaper.it:8080/sp/services/SP.SPHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SPHttpSoap12Endpoint" binding="ns:SPSoap12Binding">
      <soap12:address location="http://dgroove.coll.securepaper.it:8080/sp/services/SP.SPHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="SPHttpEndpoint" binding="ns:SPHttpBinding">
      <http:address location="http://dgroove.coll.securepaper.it:8080/sp/services/SP.SPHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>