SOURCE_BIBLOSDS/BiblosDS.API/Service References/DocumentServiceReference/Vecomp.BiblosDs.Documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Vecomp.BiblosDs.Documents" elementFormDefault="qualified" targetNamespace="http://Vecomp.BiblosDs.Documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://BiblosDS/2009/10/Document" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://BiblosDS/2009/10/Attribute" />
  <xs:import namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import namespace="http://BiblosDS/2009/10/Storage" />
  <xs:import namespace="http://BiblosDS/2009/10/Content" />
  <xs:import namespace="http://BiblosDS/2009/10/ContentFormat" />
  <xs:import namespace="http://BiblosDS/2009/10/AttributeValue" />
  <xs:import namespace="http://BiblosDS/2009/10/DocumentServer" />
  <xs:import namespace="http://BiblosDS/2009/10/StorageArea" />
  <xs:import namespace="http://BiblosDS/2009/10/Certificate" />
  <xs:import namespace="http://BiblosDS/2009/10/DocumentAttach" />
  <xs:import namespace="http://BiblosDS/2009/10/ArchiveStatistics" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://BiblosDS/2009/10/DocumentResponse" />
  <xs:element name="UpdateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q1:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q2:guid" />
        <xs:element minOccurs="0" name="documentName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentNameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q3:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckMetaDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetChainInfoByIdResult" nillable="true" type="q5:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdArchive" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://BiblosDS/2009/10/Attribute" minOccurs="0" name="GetMetadataStructureResult" nillable="true" type="q7:ArrayOfAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q8:guid" />
        <xs:element minOccurs="0" name="latestVersion" type="xs:boolean" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://BiblosDS/2009/10/Document" minOccurs="0" name="DocumentCheckOutResult" nillable="true" type="q9:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentUndoCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q10:guid" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentUndoCheckOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentAttributeCheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q11:Document" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentAttributeCheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DocumentAttributeCheckInResult" type="q12:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q13:Document" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DocumentCheckInResult" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q15:guid" />
        <xs:element xmlns:q16="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q16:Archive" />
        <xs:element minOccurs="0" name="ForceDelete" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToArchiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q17:guid" />
        <xs:element xmlns:q18="http://BiblosDS/2009/10/Storage" minOccurs="0" name="Storage" nillable="true" type="q18:Storage" />
        <xs:element minOccurs="0" name="ForceDelete" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToStorageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveFromTransito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveFromTransitoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreAttributeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q21:guid" />
        <xs:element xmlns:q22="http://BiblosDS/2009/10/Content" minOccurs="0" name="SignerCert" nillable="true" type="q22:Content" />
        <xs:element xmlns:q23="http://BiblosDS/2009/10/Content" minOccurs="0" name="SignedDigest" nillable="true" type="q23:Content" />
        <xs:element xmlns:q24="http://BiblosDS/2009/10/Content" minOccurs="0" name="Content" nillable="true" type="q24:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q25:guid" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
        <xs:element xmlns:q26="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q26:ContentFormat" />
        <xs:element minOccurs="0" name="lastVersion" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetDocumentContentResult" nillable="true" type="q27:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentInServerResult" nillable="true" type="q29:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentConformContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q30:guid" />
        <xs:element xmlns:q31="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q31:ContentFormat" />
        <xs:element minOccurs="0" name="xmlLabel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentConformContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetDocumentConformContentResult" nillable="true" type="q32:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q33:guid" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="lastVersion" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentInfoResult" nillable="true" type="q34:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocumentChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://BiblosDS/2009/10/AttributeValue" minOccurs="0" name="attributeValues" nillable="true" type="q35:ArrayOfAttributeValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocumentChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateDocumentChainResult" type="q36:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmDocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q38:Document" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idParent" nillable="true" type="q39:guid" />
        <xs:element xmlns:q40="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="inputFormat" type="q40:ContentFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://BiblosDS/2009/10/Document" minOccurs="0" name="AddDocumentToChainResult" nillable="true" type="q41:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToChainPDFCrypted">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q42:Document" />
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idParent" nillable="true" type="q43:guid" />
        <xs:element xmlns:q44="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="inputFormat" type="q44:ContentFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToChainPDFCryptedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://BiblosDS/2009/10/Document" minOccurs="0" name="AddDocumentToChainPDFCryptedResult" nillable="true" type="q45:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q46:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://BiblosDS/2009/10/DocumentServer" minOccurs="0" name="AddDocumentToMasterResult" nillable="true" type="q47:DocumentServer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentChainWithWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q48:Document" />
        <xs:element xmlns:q49="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idParent" nillable="true" type="q49:guid" />
        <xs:element xmlns:q50="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="inputFormat" type="q50:ContentFormat" />
        <xs:element minOccurs="0" name="uriWorkflow" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentChainWithWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://BiblosDS/2009/10/Document" minOccurs="0" name="AddDocumentChainWithWorkflowResult" nillable="true" type="q51:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://BiblosDS/2009/10/Attribute" minOccurs="0" name="GetAttributesDefinitionResult" nillable="true" type="q52:ArrayOfAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q53:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsReadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIsReadyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIntegrity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q54:Document" />
        <xs:element minOccurs="0" name="forceSign" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIntegrityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIntegrityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idChain" type="q55:guid" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="lastVersion" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetChainInfoResult" nillable="true" type="q56:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idParent" type="q57:guid" />
        <xs:element minOccurs="0" name="isVisible" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="lastVersion" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetChainInfoDetailsResult" nillable="true" type="q58:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q59:guid" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q60:ContentFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://BiblosDS/2009/10/Content" minOccurs="0" name="CheckOutDocumentContentResult" nillable="true" type="q61:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q62:guid" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q63="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q63:ContentFormat" />
        <xs:element minOccurs="0" name="returnContent" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://BiblosDS/2009/10/Document" minOccurs="0" name="CheckOutDocumentResult" nillable="true" type="q64:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOutDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q65:guid" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOutDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q66:Document" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="inputFormat" type="q67:ContentFormat" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://BiblosDS/2009/10/Document" minOccurs="0" name="CheckInDocumentResult" nillable="true" type="q68:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchives">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://BiblosDS/2009/10/Archive" minOccurs="0" name="GetArchivesResult" nillable="true" type="q69:ArrayOfArchive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoragesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://BiblosDS/2009/10/Storage" minOccurs="0" name="GetStoragesResult" nillable="true" type="q70:ArrayOfStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageAreas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://BiblosDS/2009/10/Storage" minOccurs="0" name="storage" nillable="true" type="q71:Storage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://BiblosDS/2009/10/StorageArea" minOccurs="0" name="GetStorageAreasResult" nillable="true" type="q72:ArrayOfStorageArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idBiblos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetDocumentIdResult" type="q73:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idChain" type="q74:guid" />
        <xs:element minOccurs="0" name="visibility" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleChainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q75:guid" />
        <xs:element minOccurs="0" name="visibility" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDocumentSigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q76:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDocumentSignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDocumentSignedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentSigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q77:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentSignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://BiblosDS/2009/10/Certificate" minOccurs="0" name="GetDocumentSignedResult" nillable="true" type="q78:ArrayOfCertificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q79:guid" />
        <xs:element xmlns:q80="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocumentLink" type="q80:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDocumentLinkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q81:guid" />
        <xs:element xmlns:q82="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocumentLink" type="q82:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDocumentLinkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q83:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentLinksResult" nillable="true" type="q84:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q85:guid" />
        <xs:element xmlns:q86="http://BiblosDS/2009/10/DocumentAttach" minOccurs="0" name="attach" nillable="true" type="q86:DocumentAttach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentAttachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://BiblosDS/2009/10/DocumentAttach" minOccurs="0" name="AddDocumentAttachResult" nillable="true" type="q87:DocumentAttach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDocumentAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocumentAttach" type="q88:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDocumentAttachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmDocumentAttachResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q89:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://BiblosDS/2009/10/DocumentAttach" minOccurs="0" name="GetDocumentAttachsResult" nillable="true" type="q90:ArrayOfDocumentAttach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocumentAttach" type="q91:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetDocumentAttachContentResult" nillable="true" type="q92:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleDocumentAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocumentAttach" type="q93:guid" />
        <xs:element minOccurs="0" name="visible" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleDocumentAttachResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idArchive" type="q94:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://BiblosDS/2009/10/ArchiveStatistics" minOccurs="0" name="GetArchiveStatisticsResult" nillable="true" type="q95:ArchiveStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q96:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetDocumentContentByIdResult" nillable="true" type="q97:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q98:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentInfoByIdResult" nillable="true" type="q99:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsInfoByIdPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idDocuments" nillable="true" type="q100:ArrayOfguid" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsInfoByIdPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://BiblosDS/2009/10/DocumentResponse" minOccurs="0" name="GetDocumentsInfoByIdPagedResult" nillable="true" type="q101:DocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocumentChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q102:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocumentChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://BiblosDS/2009/10/Document" minOccurs="0" name="InsertDocumentChainResult" nillable="true" type="q103:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdParent" type="q104:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmChainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>