SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.AUSLRE.SPID/Connected Services/PDFGeneratorService/PDFGeneratorService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PDFGeneratorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/PDFGenerator/PDFGeneratorService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/PDFGenerator/PDFGeneratorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DocSuite.Services.PDFGenerator" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/PDFGenerator/PDFGeneratorService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/PDFGenerator/PDFGeneratorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/PDFGenerator/PDFGeneratorService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Reflection" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPDFGenerator_GetXSDSchema_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXSDSchema" />
  </wsdl:message>
  <wsdl:message name="IPDFGenerator_GetXSDSchema_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXSDSchemaResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFGenerator_GetXSDSchema_PdfServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/DocSuite.Services.PDFGenerator" name="detail" element="q1:PdfServiceFault" />
  </wsdl:message>
  <wsdl:message name="IPDFGenerator_GenerateDocumentPDFA_InputMessage">
    <wsdl:part name="parameters" element="tns:GenerateDocumentPDFA" />
  </wsdl:message>
  <wsdl:message name="IPDFGenerator_GenerateDocumentPDFA_OutputMessage">
    <wsdl:part name="parameters" element="tns:GenerateDocumentPDFAResponse" />
  </wsdl:message>
  <wsdl:message name="IPDFGenerator_GenerateDocumentPDFA_PdfServiceFaultFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/DocSuite.Services.PDFGenerator" name="detail" element="q2:PdfServiceFault" />
  </wsdl:message>
  <wsdl:portType name="IPDFGenerator">
    <wsdl:operation name="GetXSDSchema">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFGenerator/GetXSDSchema" message="tns:IPDFGenerator_GetXSDSchema_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFGenerator/GetXSDSchemaResponse" message="tns:IPDFGenerator_GetXSDSchema_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPDFGenerator/GetXSDSchemaPdfServiceFaultFault" name="PdfServiceFaultFault" message="tns:IPDFGenerator_GetXSDSchema_PdfServiceFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GenerateDocumentPDFA">
      <wsdl:input wsaw:Action="http://tempuri.org/IPDFGenerator/GenerateDocumentPDFA" message="tns:IPDFGenerator_GenerateDocumentPDFA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPDFGenerator/GenerateDocumentPDFAResponse" message="tns:IPDFGenerator_GenerateDocumentPDFA_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IPDFGenerator/GenerateDocumentPDFAPdfServiceFaultFault" name="PdfServiceFaultFault" message="tns:IPDFGenerator_GenerateDocumentPDFA_PdfServiceFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPDFGenerator" type="tns:IPDFGenerator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetXSDSchema">
      <soap:operation soapAction="http://tempuri.org/IPDFGenerator/GetXSDSchema" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PdfServiceFaultFault">
        <soap:fault use="literal" name="PdfServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GenerateDocumentPDFA">
      <soap:operation soapAction="http://tempuri.org/IPDFGenerator/GenerateDocumentPDFA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="PdfServiceFaultFault">
        <soap:fault use="literal" name="PdfServiceFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PDFGeneratorService">
    <wsdl:port name="BasicHttpBinding_IPDFGenerator" binding="tns:BasicHttpBinding_IPDFGenerator">
      <soap:address location="http://srvgeddev9999.cloudapp.net/PDFGenerator/PDFGeneratorService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>