SOURCE_DOCSUITE/VecompSoftware.DocSuiteWeb.API.Connector/Service References/APIService/APIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="APIService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://gaiardo.vecompsoftware.local/API/APIService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://gaiardo.vecompsoftware.local/API/APIService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAPIService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IAPIService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IAPIService_GetAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailable" />
  </wsdl:message>
  <wsdl:message name="IAPIService_GetAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAvailableResponse" />
  </wsdl:message>
  <wsdl:portType name="IAPIService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsam:Action="http://tempuri.org/IAPIService/IsAlive" message="tns:IAPIService_IsAlive_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IAPIService/IsAliveResponse" message="tns:IAPIService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailable">
      <wsdl:input wsam:Action="http://tempuri.org/IAPIService/GetAvailable" message="tns:IAPIService_GetAvailable_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/IAPIService/GetAvailableResponse" message="tns:IAPIService_GetAvailable_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAPIService" type="tns:IAPIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IAPIService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAvailable">
      <soap:operation soapAction="http://tempuri.org/IAPIService/GetAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="APIService">
    <wsdl:port name="BasicHttpBinding_IAPIService" binding="tns:BasicHttpBinding_IAPIService">
      <soap:address location="http://gaiardo.vecompsoftware.local/API/APIService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>