SOURCE_STAMPACONFORME/VecompSoftware.StampaConforme.Services.DOU/Service References/DOUService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns="http://dou.land.it" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax29="http://dou.land.it/xsd" xmlns:ax24="http://coords.param.dou.land.it/xsd" xmlns:ax23="http://param.dou.land.it/xsd" xmlns:ax26="http://pagerange.param.dou.land.it/xsd" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://keys.dou.land.it/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://dou.land.it">
  <wsdl:documentation>
    Please Type your service description here
  </wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dou.land.it/xsd">
      <xs:complexType name="DOUResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="idPdf" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="pdf" nillable="true" type="xs:base64Binary"/>
          <xs:element minOccurs="0" name="reason" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="status" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://keys.dou.land.it/xsd">
      <xs:complexType name="ArchiveKey">
        <xs:sequence>
          <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema xmlns:ax28="http://param.dou.land.it/xsd" xmlns:ax210="http://dou.land.it/xsd" xmlns:ax22="http://keys.dou.land.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dou.land.it">
      <xs:import namespace="http://keys.dou.land.it/xsd"/>
      <xs:import namespace="http://param.dou.land.it/xsd"/>
      <xs:import namespace="http://dou.land.it/xsd"/>
      <xs:element name="createWithParam">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element name="idservice" type="xs:int"/>
            <xs:element minOccurs="0" name="key" nillable="true" type="ax22:ArchiveKey"/>
            <xs:element minOccurs="0" name="param" nillable="true" type="ax28:Param"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createWithParamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateWithParam">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="idPdf" nillable="true" type="xs:string"/>
            <xs:element name="idservice" type="xs:int"/>
            <xs:element minOccurs="0" name="param" nillable="true" type="ax28:Param"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateWithParamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateWithPreviousDocument">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="oldPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element name="idservice" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateWithPreviousDocumentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateWithPreviousDocumentWithParam">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="oldPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element name="idservice" type="xs:int"/>
            <xs:element minOccurs="0" name="param" nillable="true" type="ax28:Param"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateWithPreviousDocumentWithParamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createAndUpload">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element name="idservice" type="xs:int"/>
            <xs:element minOccurs="0" name="key" nillable="true" type="ax22:ArchiveKey"/>
            <xs:element minOccurs="0" name="metadata" nillable="true" type="xs:base64Binary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createAndUploadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createAndUploadWithParam">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element name="idservice" type="xs:int"/>
            <xs:element minOccurs="0" name="key" nillable="true" type="ax22:ArchiveKey"/>
            <xs:element minOccurs="0" name="param" nillable="true" type="ax28:Param"/>
            <xs:element minOccurs="0" name="metadata" nillable="true" type="xs:base64Binary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createAndUploadWithParamResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteWithDocument">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element name="idservice" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteWithDocumentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateNoGlyph">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element name="idservice" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateNoGlyphResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="upload">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="idPdf" nillable="true" type="xs:string"/>
            <xs:element name="idservice" type="xs:int"/>
            <xs:element minOccurs="0" name="metadata" nillable="true" type="xs:base64Binary"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="uploadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="update">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element minOccurs="0" name="idPdf" nillable="true" type="xs:string"/>
            <xs:element name="idservice" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="updateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="delete">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="idPdf" nillable="true" type="xs:string"/>
            <xs:element name="idservice" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="create">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="inPdf" nillable="true" type="xs:base64Binary"/>
            <xs:element name="idservice" type="xs:int"/>
            <xs:element minOccurs="0" name="key" nillable="true" type="ax22:ArchiveKey"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="createResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ax29:DOUResponse"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax27="http://pagerange.param.dou.land.it/xsd" xmlns:ax25="http://coords.param.dou.land.it/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://param.dou.land.it/xsd">
      <xs:import namespace="http://coords.param.dou.land.it/xsd"/>
      <xs:import namespace="http://pagerange.param.dou.land.it/xsd"/>
      <xs:complexType name="Param">
        <xs:sequence>
          <xs:element minOccurs="0" name="coords" nillable="true" type="ax24:Coords"/>
          <xs:element minOccurs="0" name="pagerange" nillable="true" type="ax27:PageRange"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://pagerange.param.dou.land.it/xsd">
      <xs:complexType name="PageRange">
        <xs:sequence>
          <xs:element minOccurs="0" name="range" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://coords.param.dou.land.it/xsd">
      <xs:complexType name="Coords">
        <xs:sequence>
          <xs:element minOccurs="0" name="x" type="xs:int"/>
          <xs:element minOccurs="0" name="y" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="uploadRequest">
    <wsdl:part name="parameters" element="ns:upload"/>
  </wsdl:message>
  <wsdl:message name="uploadResponse">
    <wsdl:part name="parameters" element="ns:uploadResponse"/>
  </wsdl:message>
  <wsdl:message name="updateWithPreviousDocumentRequest">
    <wsdl:part name="parameters" element="ns:updateWithPreviousDocument"/>
  </wsdl:message>
  <wsdl:message name="updateWithPreviousDocumentResponse">
    <wsdl:part name="parameters" element="ns:updateWithPreviousDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteWithDocumentRequest">
    <wsdl:part name="parameters" element="ns:deleteWithDocument"/>
  </wsdl:message>
  <wsdl:message name="deleteWithDocumentResponse">
    <wsdl:part name="parameters" element="ns:deleteWithDocumentResponse"/>
  </wsdl:message>
  <wsdl:message name="updateRequest">
    <wsdl:part name="parameters" element="ns:update"/>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part name="parameters" element="ns:updateResponse"/>
  </wsdl:message>
  <wsdl:message name="updateNoGlyphRequest">
    <wsdl:part name="parameters" element="ns:updateNoGlyph"/>
  </wsdl:message>
  <wsdl:message name="updateNoGlyphResponse">
    <wsdl:part name="parameters" element="ns:updateNoGlyphResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteRequest">
    <wsdl:part name="parameters" element="ns:delete"/>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part name="parameters" element="ns:deleteResponse"/>
  </wsdl:message>
  <wsdl:message name="createAndUploadRequest">
    <wsdl:part name="parameters" element="ns:createAndUpload"/>
  </wsdl:message>
  <wsdl:message name="createAndUploadResponse">
    <wsdl:part name="parameters" element="ns:createAndUploadResponse"/>
  </wsdl:message>
  <wsdl:message name="updateWithPreviousDocumentWithParamRequest">
    <wsdl:part name="parameters" element="ns:updateWithPreviousDocumentWithParam"/>
  </wsdl:message>
  <wsdl:message name="updateWithPreviousDocumentWithParamResponse">
    <wsdl:part name="parameters" element="ns:updateWithPreviousDocumentWithParamResponse"/>
  </wsdl:message>
  <wsdl:message name="createAndUploadWithParamRequest">
    <wsdl:part name="parameters" element="ns:createAndUploadWithParam"/>
  </wsdl:message>
  <wsdl:message name="createAndUploadWithParamResponse">
    <wsdl:part name="parameters" element="ns:createAndUploadWithParamResponse"/>
  </wsdl:message>
  <wsdl:message name="createRequest">
    <wsdl:part name="parameters" element="ns:create"/>
  </wsdl:message>
  <wsdl:message name="createResponse">
    <wsdl:part name="parameters" element="ns:createResponse"/>
  </wsdl:message>
  <wsdl:message name="updateWithParamRequest">
    <wsdl:part name="parameters" element="ns:updateWithParam"/>
  </wsdl:message>
  <wsdl:message name="updateWithParamResponse">
    <wsdl:part name="parameters" element="ns:updateWithParamResponse"/>
  </wsdl:message>
  <wsdl:message name="createWithParamRequest">
    <wsdl:part name="parameters" element="ns:createWithParam"/>
  </wsdl:message>
  <wsdl:message name="createWithParamResponse">
    <wsdl:part name="parameters" element="ns:createWithParamResponse"/>
  </wsdl:message>
  <wsdl:portType name="DOUPortType">
    <wsdl:operation name="upload">
      <wsdl:input message="ns:uploadRequest" wsaw:Action="urn:upload"/>
      <wsdl:output message="ns:uploadResponse" wsaw:Action="urn:uploadResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateWithPreviousDocument">
      <wsdl:input message="ns:updateWithPreviousDocumentRequest" wsaw:Action="urn:updateWithPreviousDocument"/>
      <wsdl:output message="ns:updateWithPreviousDocumentResponse" wsaw:Action="urn:updateWithPreviousDocumentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteWithDocument">
      <wsdl:input message="ns:deleteWithDocumentRequest" wsaw:Action="urn:deleteWithDocument"/>
      <wsdl:output message="ns:deleteWithDocumentResponse" wsaw:Action="urn:deleteWithDocumentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="ns:updateRequest" wsaw:Action="urn:update"/>
      <wsdl:output message="ns:updateResponse" wsaw:Action="urn:updateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateNoGlyph">
      <wsdl:input message="ns:updateNoGlyphRequest" wsaw:Action="urn:updateNoGlyph"/>
      <wsdl:output message="ns:updateNoGlyphResponse" wsaw:Action="urn:updateNoGlyphResponse"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="ns:deleteRequest" wsaw:Action="urn:delete"/>
      <wsdl:output message="ns:deleteResponse" wsaw:Action="urn:deleteResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createAndUpload">
      <wsdl:input message="ns:createAndUploadRequest" wsaw:Action="urn:createAndUpload"/>
      <wsdl:output message="ns:createAndUploadResponse" wsaw:Action="urn:createAndUploadResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateWithPreviousDocumentWithParam">
      <wsdl:input message="ns:updateWithPreviousDocumentWithParamRequest" wsaw:Action="urn:updateWithPreviousDocumentWithParam"/>
      <wsdl:output message="ns:updateWithPreviousDocumentWithParamResponse" wsaw:Action="urn:updateWithPreviousDocumentWithParamResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createAndUploadWithParam">
      <wsdl:input message="ns:createAndUploadWithParamRequest" wsaw:Action="urn:createAndUploadWithParam"/>
      <wsdl:output message="ns:createAndUploadWithParamResponse" wsaw:Action="urn:createAndUploadWithParamResponse"/>
    </wsdl:operation>
    <wsdl:operation name="create">
      <wsdl:input message="ns:createRequest" wsaw:Action="urn:create"/>
      <wsdl:output message="ns:createResponse" wsaw:Action="urn:createResponse"/>
    </wsdl:operation>
    <wsdl:operation name="updateWithParam">
      <wsdl:input message="ns:updateWithParamRequest" wsaw:Action="urn:updateWithParam"/>
      <wsdl:output message="ns:updateWithParamResponse" wsaw:Action="urn:updateWithParamResponse"/>
    </wsdl:operation>
    <wsdl:operation name="createWithParam">
      <wsdl:input message="ns:createWithParamRequest" wsaw:Action="urn:createWithParam"/>
      <wsdl:output message="ns:createWithParamResponse" wsaw:Action="urn:createWithParamResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DOUSoap11Binding" type="ns:DOUPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="upload">
      <soap:operation soapAction="urn:upload" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWithPreviousDocument">
      <soap:operation soapAction="urn:updateWithPreviousDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteWithDocument">
      <soap:operation soapAction="urn:deleteWithDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="urn:update" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNoGlyph">
      <soap:operation soapAction="urn:updateNoGlyph" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="urn:delete" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAndUpload">
      <soap:operation soapAction="urn:createAndUpload" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWithPreviousDocumentWithParam">
      <soap:operation soapAction="urn:updateWithPreviousDocumentWithParam" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAndUploadWithParam">
      <soap:operation soapAction="urn:createAndUploadWithParam" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap:operation soapAction="urn:create" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWithParam">
      <soap:operation soapAction="urn:updateWithParam" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWithParam">
      <soap:operation soapAction="urn:createWithParam" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DOUSoap12Binding" type="ns:DOUPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="upload">
      <soap12:operation soapAction="urn:upload" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWithPreviousDocument">
      <soap12:operation soapAction="urn:updateWithPreviousDocument" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteWithDocument">
      <soap12:operation soapAction="urn:deleteWithDocument" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap12:operation soapAction="urn:update" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateNoGlyph">
      <soap12:operation soapAction="urn:updateNoGlyph" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap12:operation soapAction="urn:delete" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAndUpload">
      <soap12:operation soapAction="urn:createAndUpload" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWithPreviousDocumentWithParam">
      <soap12:operation soapAction="urn:updateWithPreviousDocumentWithParam" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createAndUploadWithParam">
      <soap12:operation soapAction="urn:createAndUploadWithParam" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create">
      <soap12:operation soapAction="urn:create" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateWithParam">
      <soap12:operation soapAction="urn:updateWithParam" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createWithParam">
      <soap12:operation soapAction="urn:createWithParam" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DOU">
    <wsdl:port name="DOUHttpsSoap11Endpoint" binding="ns:DOUSoap11Binding">
      <soap:address location="https://dougen.coll.securepaper.it:8443/DOU/services/DOU.DOUHttpsSoap11Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="DOUHttpSoap11Endpoint" binding="ns:DOUSoap11Binding">
      <soap:address location=""/>
    </wsdl:port>
    <wsdl:port name="DOUHttpsSoap12Endpoint" binding="ns:DOUSoap12Binding">
      <soap12:address location="https://dougen.coll.securepaper.it:8443/DOU/services/DOU.DOUHttpsSoap12Endpoint/"/>
    </wsdl:port>
    <wsdl:port name="DOUHttpSoap12Endpoint" binding="ns:DOUSoap12Binding">
      <soap12:address location=""/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
