SOURCE_BIBLOSDS/BiblosDS.UnitTest.WCF/Service References/ServiceReferenceDocument/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://BiblosDS/2009/10/Content" />
  <xs:import namespace="http://BiblosDS/2009/10/Document" />
  <xs:import namespace="http://BiblosDS/2009/10/Attribute" />
  <xs:import namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import namespace="http://BiblosDS/2009/10/Storage" />
  <xs:element name="GetDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetDocumentContentResult" nillable="true" type="q2:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentInfoResult" nillable="true" type="q4:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocumentChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q5:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocumentChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://BiblosDS/2009/10/Document" minOccurs="0" name="InsertDocumentChainResult" nillable="true" type="q6:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdParent" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmChainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q8:Document" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdParent" nillable="true" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://BiblosDS/2009/10/Document" minOccurs="0" name="AddDocumentToChainResult" nillable="true" type="q10:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q11:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataDefinition">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://BiblosDS/2009/10/Attribute" minOccurs="0" name="GetMetaDataDefinitionResult" nillable="true" type="q12:ArrayOfAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q13:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsReadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIsReadyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q14:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckMetaDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetChainInfoResult" nillable="true" type="q16:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q17:guid" />
        <xs:element minOccurs="0" name="IsVisible" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="Version" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetChainInfoDetailsResult" nillable="true" type="q18:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdArchive" type="q19:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://BiblosDS/2009/10/Attribute" minOccurs="0" name="GetMetadataStructureResult" nillable="true" type="q20:ArrayOfAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchives">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://BiblosDS/2009/10/Archive" minOccurs="0" name="GetArchivesResult" nillable="true" type="q21:ArrayOfArchive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q22:guid" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://BiblosDS/2009/10/Document" minOccurs="0" name="DocumentCheckOutResult" nillable="true" type="q23:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentUndoCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q24:guid" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentUndoCheckOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentAttributeCheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q25:Document" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentAttributeCheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DocumentAttributeCheckInResult" type="q26:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q27:Document" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DocumentCheckInResult" type="q28:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q29:guid" />
        <xs:element xmlns:q30="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q30:Archive" />
        <xs:element minOccurs="0" name="ForceDelete" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToArchiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q31:guid" />
        <xs:element xmlns:q32="http://BiblosDS/2009/10/Storage" minOccurs="0" name="Storage" nillable="true" type="q32:Storage" />
        <xs:element minOccurs="0" name="ForceDelete" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToStorageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveFromTransito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q33:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveFromTransitoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreAttributeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q35:guid" />
        <xs:element xmlns:q36="http://BiblosDS/2009/10/Content" minOccurs="0" name="SignerCert" nillable="true" type="q36:Content" />
        <xs:element xmlns:q37="http://BiblosDS/2009/10/Content" minOccurs="0" name="SignedDigest" nillable="true" type="q37:Content" />
        <xs:element xmlns:q38="http://BiblosDS/2009/10/Content" minOccurs="0" name="Content" nillable="true" type="q38:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>