SOURCE_JEEPSERVICES/Modules/VecompSoftware.JeepService.DocSeriesExporter/Service References/WsSeriesService/WSSeries.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WSSeries" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sviluppo/WSSeries-RE/WSSeries.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sviluppo/WSSeries-RE/WSSeries.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWSSeries_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_Insert_InputMessage">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_Insert_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_Consultation_InputMessage">
    <wsdl:part name="parameters" element="tns:Consultation" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_Consultation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultationResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetDocumentSeriesItem_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSeriesItem" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetDocumentSeriesItem_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSeriesItemResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_Update_InputMessage">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_Update_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_AddAnnexed_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAnnexed" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_AddAnnexed_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAnnexedResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_Search_InputMessage">
    <wsdl:part name="parameters" element="tns:Search" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_Search_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetPublicationEnabledContainers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicationEnabledContainers" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetPublicationEnabledContainers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPublicationEnabledContainersResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetFamilies_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilies" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetFamilies_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFamiliesResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetDynamicData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDynamicData" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetDynamicData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDynamicDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetMainDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMainDocument" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetMainDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMainDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetAnnexed_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnexed" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetAnnexed_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAnnexedResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetDocumentSeriesItemsByResolution_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSeriesItemsByResolution" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetDocumentSeriesItemsByResolution_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSeriesItemsByResolutionResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetFamily_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFamily" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetFamily_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFamilyResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetDocumentSeries_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSeries" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetDocumentSeries_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentSeriesResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_SearchCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchCount" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_SearchCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchCountResponse" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetIndex_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndex" />
  </wsdl:message>
  <wsdl:message name="IWSSeries_GetIndex_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndexResponse" />
  </wsdl:message>
  <wsdl:portType name="IWSSeries">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/IsAlive" message="tns:IWSSeries_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/IsAliveResponse" message="tns:IWSSeries_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/Insert" message="tns:IWSSeries_Insert_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/InsertResponse" message="tns:IWSSeries_Insert_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Consultation">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/Consultation" message="tns:IWSSeries_Consultation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/ConsultationResponse" message="tns:IWSSeries_Consultation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSeriesItem">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetDocumentSeriesItem" message="tns:IWSSeries_GetDocumentSeriesItem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetDocumentSeriesItemResponse" message="tns:IWSSeries_GetDocumentSeriesItem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/Update" message="tns:IWSSeries_Update_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/UpdateResponse" message="tns:IWSSeries_Update_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAnnexed">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/AddAnnexed" message="tns:IWSSeries_AddAnnexed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/AddAnnexedResponse" message="tns:IWSSeries_AddAnnexed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Search">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/Search" message="tns:IWSSeries_Search_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/SearchResponse" message="tns:IWSSeries_Search_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPublicationEnabledContainers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetPublicationEnabledContainers" message="tns:IWSSeries_GetPublicationEnabledContainers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetPublicationEnabledContainersResponse" message="tns:IWSSeries_GetPublicationEnabledContainers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFamilies">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetFamilies" message="tns:IWSSeries_GetFamilies_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetFamiliesResponse" message="tns:IWSSeries_GetFamilies_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDynamicData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetDynamicData" message="tns:IWSSeries_GetDynamicData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetDynamicDataResponse" message="tns:IWSSeries_GetDynamicData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMainDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetMainDocument" message="tns:IWSSeries_GetMainDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetMainDocumentResponse" message="tns:IWSSeries_GetMainDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAnnexed">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetAnnexed" message="tns:IWSSeries_GetAnnexed_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetAnnexedResponse" message="tns:IWSSeries_GetAnnexed_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSeriesItemsByResolution">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetDocumentSeriesItemsByResolution" message="tns:IWSSeries_GetDocumentSeriesItemsByResolution_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetDocumentSeriesItemsByResolutionResponse" message="tns:IWSSeries_GetDocumentSeriesItemsByResolution_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFamily">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetFamily" message="tns:IWSSeries_GetFamily_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetFamilyResponse" message="tns:IWSSeries_GetFamily_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSeries">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetDocumentSeries" message="tns:IWSSeries_GetDocumentSeries_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetDocumentSeriesResponse" message="tns:IWSSeries_GetDocumentSeries_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/SearchCount" message="tns:IWSSeries_SearchCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/SearchCountResponse" message="tns:IWSSeries_SearchCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndex">
      <wsdl:input wsaw:Action="http://tempuri.org/IWSSeries/GetIndex" message="tns:IWSSeries_GetIndex_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWSSeries/GetIndexResponse" message="tns:IWSSeries_GetIndex_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpEndpoint" type="tns:IWSSeries">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Consultation">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/Consultation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSeriesItem">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetDocumentSeriesItem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAnnexed">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/AddAnnexed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Search">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/Search" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicationEnabledContainers">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetPublicationEnabledContainers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamilies">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetFamilies" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDynamicData">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetDynamicData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMainDocument">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetMainDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAnnexed">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetAnnexed" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSeriesItemsByResolution">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetDocumentSeriesItemsByResolution" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFamily">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetFamily" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSeries">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetDocumentSeries" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchCount">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/SearchCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndex">
      <soap:operation soapAction="http://tempuri.org/IWSSeries/GetIndex" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSSeries">
    <wsdl:port name="BasicHttpEndpoint" binding="tns:BasicHttpEndpoint">
      <soap:address location="http://sviluppo/WSSeries-RE/WSSeries.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>