SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.ENEA.Wide/Connected Services/ProtocollaService/ProtocollaService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Wide/WebService.nsf/ProtocollaService.wsdl" name="ProtocollaService" targetNamespace="http://Wide/WebService.nsf/ProtocollaService.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Wide/WebService.nsf/ProtocollaService.wsdl">
      <xsd:element name="protDocumentoRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Registro" type="tns:Registro_Type" />
            <xsd:element name="Oggetto" type="tns:Obbl_Type256" />
            <xsd:element name="Mittente" type="tns:Obbl_Type256" />
            <xsd:element name="Destinatari" type="tns:Non_Obbl_Type" />
            <xsd:element name="TipoDocumento" type="tns:Obbl_Type" />
            <xsd:element name="Livello1Classificazione" type="tns:Non_Obbl_Type" />
            <xsd:element name="Livello2Classificazione" type="tns:Non_Obbl_Type" />
            <xsd:element name="Livello3Classificazione" type="tns:Non_Obbl_Type" />
            <xsd:element name="Livello4Classificazione" type="tns:Non_Obbl_Type" />
            <xsd:element name="OriginalePresso" type="tns:Obbl_Type256" />
            <xsd:element name="utente" type="tns:Obbl_Type" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="protDocumentoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="esito" type="tns:Esito_Type" />
            <xsd:element name="NumeroProtocollo" type="tns:Non_Obbl_Type" />
            <xsd:element minOccurs="0" name="DescrizioneErrore" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="Registro_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="A" />
          <xsd:enumeration value="I" />
          <xsd:enumeration value="P" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Stringa_Type">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Obbl_Type256">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Obbl_Type">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Non_Obbl_Type256">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Non_Obbl_Type">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Esito_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="0" />
          <xsd:enumeration value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Data_Type">
        <xsd:restriction base="xsd:string">
          <xsd:pattern value="\d{2}\/\d{2}\/\d{4}" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="protDocumentoRequest">
    <wsdl:part name="protDocumentoRequest" element="tns:protDocumentoRequest" />
  </wsdl:message>
  <wsdl:message name="protDocumentoResponse">
    <wsdl:part name="protDocumentoResponse" element="tns:protDocumentoResponse" />
  </wsdl:message>
  <wsdl:portType name="ProtocollaServicePortType">
    <wsdl:operation name="ProtocolloRegistrazione">
      <wsdl:input message="tns:protDocumentoRequest" />
      <wsdl:output message="tns:protDocumentoResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProtocollaServiceBinding" type="tns:ProtocollaServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ProtocolloRegistrazione">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProtocollaService">
    <wsdl:port name="ProtocollaServicePort" binding="tns:ProtocollaServiceBinding">
      <soap:address location="http://urano.sede.enea.it/Wide/WebService.nsf/ProtocolWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>