SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceAdministration/Administration1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/DocumentAttach" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/DocumentAttach" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd17" namespace="http://BiblosDS/2009/10/Document" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="DocumentAttach">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/Document" base="q1:Document">
        <xs:sequence>
          <xs:element minOccurs="0" name="AttachOrder" type="xs:int" />
          <xs:element minOccurs="0" name="Document" nillable="true" type="q1:Document" />
          <xs:element minOccurs="0" name="IdDocumentAttach" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocumentAttach" nillable="true" type="tns:DocumentAttach" />
</xs:schema>