SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceAdministration/Administration4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BiblosDS/2009/10/AttributeMode" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/AttributeMode" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="AttributeMode">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdMode" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttributeMode" nillable="true" type="tns:AttributeMode" />
  <xs:complexType name="ArrayOfAttributeMode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeMode" nillable="true" type="tns:AttributeMode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeMode" nillable="true" type="tns:ArrayOfAttributeMode" />
</xs:schema>