SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceAdministration/Administration444.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BiblosDS/2009/10/RuleOperator" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/RuleOperator" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="RuleOperator">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Descrizione" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdRuleOperator" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RuleOperator" nillable="true" type="tns:RuleOperator" />
  <xs:complexType name="ArrayOfRuleOperator">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RuleOperator" nillable="true" type="tns:RuleOperator" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRuleOperator" nillable="true" type="tns:ArrayOfRuleOperator" />
</xs:schema>