SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceAdministration/Administration426.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/AttributeValue" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/AttributeValue" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd13" namespace="http://BiblosDS/2009/10/Attribute" />
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="ArrayOfAttributeValue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AttributeValue" nillable="true" type="tns:AttributeValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttributeValue" nillable="true" type="tns:ArrayOfAttributeValue" />
  <xs:complexType name="AttributeValue">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Attribute" name="Attribute" nillable="true" type="q2:Attribute" />
          <xs:element minOccurs="0" name="IdAttribute" type="ser:guid" />
          <xs:element name="Value" nillable="true" type="xs:anyType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttributeValue" nillable="true" type="tns:AttributeValue" />
</xs:schema>