SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceAdministration/Administration2227.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/Attribute" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/Attribute" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd7" namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd2" namespace="http://BiblosDS/2009/10/AttributeGroup" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd13" namespace="http://BiblosDS/2009/10/AttributeMode" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="Attribute">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q2:Archive" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/AttributeGroup" minOccurs="0" name="AttributeGroup" nillable="true" type="q3:AttributeGroup" />
          <xs:element minOccurs="0" name="AttributeType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ConservationPosition" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="DefaultValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Disabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="Format" nillable="true" type="xs:string" />
          <xs:element name="IdAttribute" type="ser:guid" />
          <xs:element minOccurs="0" name="IsAutoInc" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsChainAttribute" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsEnumerator" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsMainDate" nillable="true" type="xs:boolean" />
          <xs:element name="IsRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsRequiredForPreservation" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsSectional" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsUnique" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsVisible" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsVisibleForUser" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="KeyFilter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KeyFormat" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KeyOrder" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="MaxLenght" nillable="true" type="xs:int" />
          <xs:element xmlns:q4="http://BiblosDS/2009/10/AttributeMode" minOccurs="0" name="Mode" nillable="true" type="q4:AttributeMode" />
          <xs:element name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Validation" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Attribute" nillable="true" type="tns:Attribute" />
  <xs:complexType name="ArrayOfAttribute">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Attribute" nillable="true" type="tns:Attribute" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAttribute" nillable="true" type="tns:ArrayOfAttribute" />
</xs:schema>