SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceAdministration/Administration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Vecomp.BiblosDs.Administration" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Vecomp.BiblosDs.Administration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Vecomp.BiblosDs.Administration/Imports">
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd0" namespace="http://Vecomp.BiblosDs.Administration" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/Company" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd5" namespace="http://BiblosDS/2009/10/Document" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd6" namespace="http://BiblosDS/2009/10/Archive" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd7" namespace="http://BiblosDS/2009/10/ArchiveServerConfig" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd8" namespace="http://BiblosDS/2009/10/Server" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd9" namespace="http://BiblosDS/2009/10/ServerRole" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd10" namespace="http://BiblosDS/2009/10/Storage" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd11" namespace="http://BiblosDS/2009/10/StorageType" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd12" namespace="http://BiblosDS/2009/10/AttributeValue" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd13" namespace="http://BiblosDS/2009/10/Attribute" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd14" namespace="http://BiblosDS/2009/10/AttributeGroup" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd15" namespace="http://BiblosDS/2009/10/FilterOperator" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd16" namespace="http://BiblosDS/2009/10/AttributeMode" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd17" namespace="http://BiblosDS/2009/10/Certificate" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd18" namespace="http://BiblosDS/2009/10/Content" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd19" namespace="http://BiblosDS/2009/10/DocumentServer" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Objects" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd21" namespace="http://BiblosDS/2009/10/StorageArea" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd22" namespace="http://BiblosDS/2009/10/Permission" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd23" namespace="http://BiblosDS/2009/10/PermissionMode" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd24" namespace="http://BiblosDS/2009/10/Preservation" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd25" namespace="http://BiblosDS/2009/10/PreservationJournaling" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd26" namespace="http://BiblosDS/2009/10/PreservationJournalingActivity" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd27" namespace="http://BiblosDS/2009/10/PreservationUser" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd28" namespace="http://BiblosDS/2009/10/PreservationUserRole" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd29" namespace="http://BiblosDS/2009/10/PreservationRole" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd30" namespace="http://BiblosDS/2009/10/PreservationTask" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd31" namespace="http://BiblosDS/2009/10/PreservationAlert" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd32" namespace="http://BiblosDS/2009/10/PreservationAlertType" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd33" namespace="http://BiblosDS/2009/10/PreservationTaskType" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd34" namespace="http://BiblosDS/2009/10/PreservationScheduleTaskType" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd35" namespace="http://BiblosDS/2009/10/PreservationSchedule" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd36" namespace="http://BiblosDS/2009/10/PreservationTaskTypes" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd37" namespace="http://BiblosDS/2009/10/PreservationTaskGroup" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd38" namespace="http://BiblosDS/2009/10/PreservationTaskGroupType" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd39" namespace="http://BiblosDS/2009/10/DocumentAttach" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd40" namespace="http://BiblosDS/2009/10/StorageRule" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd41" namespace="http://BiblosDS/2009/10/RuleOperator" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd42" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd43" namespace="http://BiblosDS/2009/10/ArchiveStorage" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF_DEV/Administration.svc?xsd=xsd44" namespace="http://BiblosDS/2009/10/DocumentStorageAreaRule" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAdministration_DoWork_InputMessage">
    <wsdl:part name="parameters" element="tns:DoWork" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DoWork_OutputMessage">
    <wsdl:part name="parameters" element="tns:DoWorkResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_CloneArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:CloneArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_CloneArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloneArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_CloneArchive_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q1:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_CloneCompanyArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:CloneCompanyArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_CloneCompanyArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:CloneCompanyArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_CloneCompanyArchive_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q2:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_CheckConnection_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnection" />
  </wsdl:message>
  <wsdl:message name="IAdministration_CheckConnection_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetDocumentsInTransito_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsInTransito" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetDocumentsInTransito_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsInTransitoResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetDocumentsInStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsInStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetDocumentsInStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsInStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAllStorages_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStorages" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAllStorages_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStoragesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAllStoragesWithServer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStoragesWithServer" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAllStoragesWithServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStoragesWithServerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStoragesFromArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoragesFromArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStoragesFromArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoragesFromArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageWithServer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageWithServer" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageWithServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageWithServerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageAreas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageAreas" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageAreas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageAreasResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageAreasFromStorageArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageAreasFromStorageArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageAreasFromStorageArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageAreasFromStorageArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageArea" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAllStorageAreaStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStorageAreaStatus" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAllStorageAreaStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllStorageAreaStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageRulesFromStorageAreaArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageRulesFromStorageAreaArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageRulesFromStorageAreaArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageRulesFromStorageAreaArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStoragesNotRelatedToArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoragesNotRelatedToArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStoragesNotRelatedToArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoragesNotRelatedToArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchiveWithServerConfigs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveWithServerConfigs" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchiveWithServerConfigs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveWithServerConfigsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchives_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchives" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchives_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchivesById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivesById" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchivesById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivesByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchivesFromStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivesFromStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchivesFromStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivesFromStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchivesNotRelatedToStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivesNotRelatedToStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchivesNotRelatedToStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchivesNotRelatedToStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageArchiveRelationsFromStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageArchiveRelationsFromStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageArchiveRelationsFromStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageArchiveRelationsFromStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageArchiveRelationsFromArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageArchiveRelationsFromArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageArchiveRelationsFromArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageArchiveRelationsFromArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAttributesFromArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesFromArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAttributesFromArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributesFromArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttribute" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageRulesFromStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageRulesFromStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageRulesFromStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageRulesFromStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageRule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageRule" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageRules_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageRules" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageRules_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageRulesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStoragesType_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStoragesType" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStoragesType_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStoragesTypeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAttributeModes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeModes" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetAttributeModes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAttributeModesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageAreaRuleFromStorageArea_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageAreaRuleFromStorageArea" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageAreaRuleFromStorageArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageAreaRuleFromStorageAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageAreaRule_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageAreaRule" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetStorageAreaRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStorageAreaRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetRuleOperators_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleOperators" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetRuleOperators_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRuleOperatorsResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetPreservationFiscalDocumentsTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationFiscalDocumentsTypes" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetPreservationFiscalDocumentsTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationFiscalDocumentsTypesResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetServers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServers" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetServers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServersResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetServer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServer" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateServer_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServer" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddServer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddServer" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddServerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteServer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServer" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteServer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServerResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchiveServerConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArchiveServerConfig" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchiveServerConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArchiveServerConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteArchiveServerConfig_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArchiveServerConfig" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteArchiveServerConfig_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArchiveServerConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorage_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q3:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchive_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q4:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateArchive_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q5:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageToArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStorageToArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageToArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStorageToArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageToArchive_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q6:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_EnableDisableStorageToArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:EnableDisableStorageToArchive" />
  </wsdl:message>
  <wsdl:message name="IAdministration_EnableDisableStorageToArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnableDisableStorageToArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_EnableDisableStorageToArchive_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q7:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageRule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStorageRule" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStorageRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageRule_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q8:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorageRule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStorageRule" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorageRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStorageRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorageRule_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q9:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageArea_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStorageArea" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStorageAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageArea_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q10:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorageArea_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStorageArea" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorageArea_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStorageAreaResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorageArea_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q11:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageAreaRule_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStorageAreaRule" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageAreaRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStorageAreaRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddStorageAreaRule_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q12:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorageAreaRule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStorageAreaRule" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorageAreaRule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStorageAreaRuleResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorageAreaRule_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q13:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAttribute" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddAttribute_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q14:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddAttributeGroup_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q15:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateAttributeGroup_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q16:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteAttributeGroup_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q17:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAttribute" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateAttribute_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q18:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteAttribute_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttribute" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteAttribute_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteAttributeResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteAttribute_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q19:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateStorage_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q20:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateArchiveStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArchiveStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateArchiveStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateArchiveStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateArchiveStorage_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q21:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchiveStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArchiveStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchiveStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArchiveStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchiveStorage_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q22:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteArchiveStorage_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArchiveStorage" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteArchiveStorage_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteArchiveStorageResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_DeleteArchiveStorage_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q23:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddDocumentAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDocumentAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddDocumentAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDocumentAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddDocumentAttributeGroup_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q24:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateDocumentAttributeGroup_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentAttributeGroup" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateDocumentAttributeGroup_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentAttributeGroupResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_UpdateDocumentAttributeGroup_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q25:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchiveCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:AddArchiveCertificate" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchiveCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddArchiveCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_AddArchiveCertificate_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q26:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchiveCertificate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveCertificate" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchiveCertificate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetArchiveCertificateResponse" />
  </wsdl:message>
  <wsdl:message name="IAdministration_GetArchiveCertificate_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q27:BiblosDsException" />
  </wsdl:message>
  <wsdl:portType name="IAdministration">
    <wsdl:operation name="DoWork">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DoWork" message="tns:IAdministration_DoWork_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DoWorkResponse" message="tns:IAdministration_DoWork_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloneArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/CloneArchive" message="tns:IAdministration_CloneArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/CloneArchiveResponse" message="tns:IAdministration_CloneArchive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/CloneArchiveBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_CloneArchive_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CloneCompanyArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/CloneCompanyArchive" message="tns:IAdministration_CloneCompanyArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/CloneCompanyArchiveResponse" message="tns:IAdministration_CloneCompanyArchive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/CloneCompanyArchiveBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_CloneCompanyArchive_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckConnection">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/CheckConnection" message="tns:IAdministration_CheckConnection_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/CheckConnectionResponse" message="tns:IAdministration_CheckConnection_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsInTransito">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetDocumentsInTransito" message="tns:IAdministration_GetDocumentsInTransito_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetDocumentsInTransitoResponse" message="tns:IAdministration_GetDocumentsInTransito_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsInStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetDocumentsInStorage" message="tns:IAdministration_GetDocumentsInStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetDocumentsInStorageResponse" message="tns:IAdministration_GetDocumentsInStorage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStorages">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAllStorages" message="tns:IAdministration_GetAllStorages_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAllStoragesResponse" message="tns:IAdministration_GetAllStorages_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStoragesWithServer">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAllStoragesWithServer" message="tns:IAdministration_GetAllStoragesWithServer_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAllStoragesWithServerResponse" message="tns:IAdministration_GetAllStoragesWithServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoragesFromArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStoragesFromArchive" message="tns:IAdministration_GetStoragesFromArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStoragesFromArchiveResponse" message="tns:IAdministration_GetStoragesFromArchive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorage" message="tns:IAdministration_GetStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageResponse" message="tns:IAdministration_GetStorage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageWithServer">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageWithServer" message="tns:IAdministration_GetStorageWithServer_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageWithServerResponse" message="tns:IAdministration_GetStorageWithServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageAreas">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageAreas" message="tns:IAdministration_GetStorageAreas_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageAreasResponse" message="tns:IAdministration_GetStorageAreas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageAreasFromStorageArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageAreasFromStorageArchive" message="tns:IAdministration_GetStorageAreasFromStorageArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageAreasFromStorageArchiveResponse" message="tns:IAdministration_GetStorageAreasFromStorageArchive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageArea">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageArea" message="tns:IAdministration_GetStorageArea_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageAreaResponse" message="tns:IAdministration_GetStorageArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllStorageAreaStatus">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAllStorageAreaStatus" message="tns:IAdministration_GetAllStorageAreaStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAllStorageAreaStatusResponse" message="tns:IAdministration_GetAllStorageAreaStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageRulesFromStorageAreaArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageRulesFromStorageAreaArchive" message="tns:IAdministration_GetStorageRulesFromStorageAreaArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageRulesFromStorageAreaArchiveResponse" message="tns:IAdministration_GetStorageRulesFromStorageAreaArchive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoragesNotRelatedToArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStoragesNotRelatedToArchive" message="tns:IAdministration_GetStoragesNotRelatedToArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStoragesNotRelatedToArchiveResponse" message="tns:IAdministration_GetStoragesNotRelatedToArchive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchive" message="tns:IAdministration_GetArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchiveResponse" message="tns:IAdministration_GetArchive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveWithServerConfigs">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchiveWithServerConfigs" message="tns:IAdministration_GetArchiveWithServerConfigs_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchiveWithServerConfigsResponse" message="tns:IAdministration_GetArchiveWithServerConfigs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchives">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchives" message="tns:IAdministration_GetArchives_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchivesResponse" message="tns:IAdministration_GetArchives_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchivesById">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchivesById" message="tns:IAdministration_GetArchivesById_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchivesByIdResponse" message="tns:IAdministration_GetArchivesById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchivesFromStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchivesFromStorage" message="tns:IAdministration_GetArchivesFromStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchivesFromStorageResponse" message="tns:IAdministration_GetArchivesFromStorage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchivesNotRelatedToStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchivesNotRelatedToStorage" message="tns:IAdministration_GetArchivesNotRelatedToStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchivesNotRelatedToStorageResponse" message="tns:IAdministration_GetArchivesNotRelatedToStorage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageArchiveRelationsFromStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageArchiveRelationsFromStorage" message="tns:IAdministration_GetStorageArchiveRelationsFromStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageArchiveRelationsFromStorageResponse" message="tns:IAdministration_GetStorageArchiveRelationsFromStorage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageArchiveRelationsFromArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageArchiveRelationsFromArchive" message="tns:IAdministration_GetStorageArchiveRelationsFromArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageArchiveRelationsFromArchiveResponse" message="tns:IAdministration_GetStorageArchiveRelationsFromArchive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributesFromArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAttributesFromArchive" message="tns:IAdministration_GetAttributesFromArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAttributesFromArchiveResponse" message="tns:IAdministration_GetAttributesFromArchive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttribute">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAttribute" message="tns:IAdministration_GetAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAttributeResponse" message="tns:IAdministration_GetAttribute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeGroup">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAttributeGroup" message="tns:IAdministration_GetAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAttributeGroupResponse" message="tns:IAdministration_GetAttributeGroup_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageRulesFromStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageRulesFromStorage" message="tns:IAdministration_GetStorageRulesFromStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageRulesFromStorageResponse" message="tns:IAdministration_GetStorageRulesFromStorage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageRule">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageRule" message="tns:IAdministration_GetStorageRule_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageRuleResponse" message="tns:IAdministration_GetStorageRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageRules">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageRules" message="tns:IAdministration_GetStorageRules_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageRulesResponse" message="tns:IAdministration_GetStorageRules_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStoragesType">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStoragesType" message="tns:IAdministration_GetStoragesType_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStoragesTypeResponse" message="tns:IAdministration_GetStoragesType_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetDocument" message="tns:IAdministration_GetDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetDocumentResponse" message="tns:IAdministration_GetDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAttributeModes">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAttributeModes" message="tns:IAdministration_GetAttributeModes_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetAttributeModesResponse" message="tns:IAdministration_GetAttributeModes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageAreaRuleFromStorageArea">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageAreaRuleFromStorageArea" message="tns:IAdministration_GetStorageAreaRuleFromStorageArea_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageAreaRuleFromStorageAreaResponse" message="tns:IAdministration_GetStorageAreaRuleFromStorageArea_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStorageAreaRule">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageAreaRule" message="tns:IAdministration_GetStorageAreaRule_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetStorageAreaRuleResponse" message="tns:IAdministration_GetStorageAreaRule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRuleOperators">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetRuleOperators" message="tns:IAdministration_GetRuleOperators_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetRuleOperatorsResponse" message="tns:IAdministration_GetRuleOperators_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreservationFiscalDocumentsTypes">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetPreservationFiscalDocumentsTypes" message="tns:IAdministration_GetPreservationFiscalDocumentsTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetPreservationFiscalDocumentsTypesResponse" message="tns:IAdministration_GetPreservationFiscalDocumentsTypes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServers">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetServers" message="tns:IAdministration_GetServers_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetServersResponse" message="tns:IAdministration_GetServers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServer">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetServer" message="tns:IAdministration_GetServer_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetServerResponse" message="tns:IAdministration_GetServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateServer">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateServer" message="tns:IAdministration_UpdateServer_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateServerResponse" message="tns:IAdministration_UpdateServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddServer">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddServer" message="tns:IAdministration_AddServer_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddServerResponse" message="tns:IAdministration_AddServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteServer">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteServer" message="tns:IAdministration_DeleteServer_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteServerResponse" message="tns:IAdministration_DeleteServer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArchiveServerConfig">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveServerConfig" message="tns:IAdministration_AddArchiveServerConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveServerConfigResponse" message="tns:IAdministration_AddArchiveServerConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArchiveServerConfig">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteArchiveServerConfig" message="tns:IAdministration_DeleteArchiveServerConfig_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteArchiveServerConfigResponse" message="tns:IAdministration_DeleteArchiveServerConfig_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorage" message="tns:IAdministration_AddStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageResponse" message="tns:IAdministration_AddStorage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddStorage_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchive" message="tns:IAdministration_AddArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveResponse" message="tns:IAdministration_AddArchive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddArchive_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateArchive" message="tns:IAdministration_UpdateArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateArchiveResponse" message="tns:IAdministration_UpdateArchive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateArchiveBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_UpdateArchive_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStorageToArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageToArchive" message="tns:IAdministration_AddStorageToArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageToArchiveResponse" message="tns:IAdministration_AddStorageToArchive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageToArchiveBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddStorageToArchive_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnableDisableStorageToArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/EnableDisableStorageToArchive" message="tns:IAdministration_EnableDisableStorageToArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/EnableDisableStorageToArchiveResponse" message="tns:IAdministration_EnableDisableStorageToArchive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/EnableDisableStorageToArchiveBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_EnableDisableStorageToArchive_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStorageRule">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageRule" message="tns:IAdministration_AddStorageRule_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageRuleResponse" message="tns:IAdministration_AddStorageRule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageRuleBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddStorageRule_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStorageRule">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageRule" message="tns:IAdministration_UpdateStorageRule_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageRuleResponse" message="tns:IAdministration_UpdateStorageRule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageRuleBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_UpdateStorageRule_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStorageArea">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageArea" message="tns:IAdministration_AddStorageArea_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageAreaResponse" message="tns:IAdministration_AddStorageArea_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageAreaBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddStorageArea_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStorageArea">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageArea" message="tns:IAdministration_UpdateStorageArea_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageAreaResponse" message="tns:IAdministration_UpdateStorageArea_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageAreaBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_UpdateStorageArea_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStorageAreaRule">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageAreaRule" message="tns:IAdministration_AddStorageAreaRule_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageAreaRuleResponse" message="tns:IAdministration_AddStorageAreaRule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddStorageAreaRuleBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddStorageAreaRule_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStorageAreaRule">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageAreaRule" message="tns:IAdministration_UpdateStorageAreaRule_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageAreaRuleResponse" message="tns:IAdministration_UpdateStorageAreaRule_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageAreaRuleBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_UpdateStorageAreaRule_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAttribute">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddAttribute" message="tns:IAdministration_AddAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddAttributeResponse" message="tns:IAdministration_AddAttribute_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddAttributeBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddAttribute_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAttributeGroup">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddAttributeGroup" message="tns:IAdministration_AddAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddAttributeGroupResponse" message="tns:IAdministration_AddAttributeGroup_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddAttributeGroupBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddAttributeGroup_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAttributeGroup">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateAttributeGroup" message="tns:IAdministration_UpdateAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateAttributeGroupResponse" message="tns:IAdministration_UpdateAttributeGroup_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateAttributeGroupBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_UpdateAttributeGroup_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttributeGroup">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteAttributeGroup" message="tns:IAdministration_DeleteAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteAttributeGroupResponse" message="tns:IAdministration_DeleteAttributeGroup_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteAttributeGroupBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_DeleteAttributeGroup_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateAttribute">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateAttribute" message="tns:IAdministration_UpdateAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateAttributeResponse" message="tns:IAdministration_UpdateAttribute_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateAttributeBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_UpdateAttribute_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAttribute">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteAttribute" message="tns:IAdministration_DeleteAttribute_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteAttributeResponse" message="tns:IAdministration_DeleteAttribute_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteAttributeBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_DeleteAttribute_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorage" message="tns:IAdministration_UpdateStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageResponse" message="tns:IAdministration_UpdateStorage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateStorageBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_UpdateStorage_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateArchiveStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateArchiveStorage" message="tns:IAdministration_UpdateArchiveStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateArchiveStorageResponse" message="tns:IAdministration_UpdateArchiveStorage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateArchiveStorageBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_UpdateArchiveStorage_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArchiveStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveStorage" message="tns:IAdministration_AddArchiveStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveStorageResponse" message="tns:IAdministration_AddArchiveStorage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveStorageBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddArchiveStorage_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArchiveStorage">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteArchiveStorage" message="tns:IAdministration_DeleteArchiveStorage_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteArchiveStorageResponse" message="tns:IAdministration_DeleteArchiveStorage_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/DeleteArchiveStorageBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_DeleteArchiveStorage_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDocumentAttributeGroup">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddDocumentAttributeGroup" message="tns:IAdministration_AddDocumentAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddDocumentAttributeGroupResponse" message="tns:IAdministration_AddDocumentAttributeGroup_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddDocumentAttributeGroupBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddDocumentAttributeGroup_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentAttributeGroup">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateDocumentAttributeGroup" message="tns:IAdministration_UpdateDocumentAttributeGroup_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateDocumentAttributeGroupResponse" message="tns:IAdministration_UpdateDocumentAttributeGroup_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/UpdateDocumentAttributeGroupBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_UpdateDocumentAttributeGroup_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddArchiveCertificate">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveCertificate" message="tns:IAdministration_AddArchiveCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveCertificateResponse" message="tns:IAdministration_AddArchiveCertificate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/AddArchiveCertificateBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_AddArchiveCertificate_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetArchiveCertificate">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchiveCertificate" message="tns:IAdministration_GetArchiveCertificate_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchiveCertificateResponse" message="tns:IAdministration_GetArchiveCertificate_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Administration/IAdministration/GetArchiveCertificateBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IAdministration_GetArchiveCertificate_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>