SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.SM.ACATA/Web References/ObjectService/ObjectService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="objectservice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:archive="archive.acaris.acta.doqui.it" name="ObjectService" targetNamespace="objectservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="common.acaris.acta.doqui.it">
      <xsd:include schemaLocation="ACARIS-Common.xsd" />
    </xsd:schema>
    <xsd:schema targetNamespace="archive.acaris.acta.doqui.it">
      <xsd:include schemaLocation="ACARIS-Archive.xsd" />
      <xsd:include schemaLocation="ACARIS-ArchiveMessaging.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="acarisException">
    <wsdl:part name="fault" element="common:acarisFault" />
  </wsdl:message>
  <wsdl:message name="createFolderRequest">
    <wsdl:part name="input" element="archive:createFolder" />
  </wsdl:message>
  <wsdl:message name="createFolderResponse">
    <wsdl:part name="output" element="archive:createFolderResponse" />
  </wsdl:message>
  <wsdl:message name="getPropertiesRequest">
    <wsdl:part name="input" element="archive:getProperties" />
  </wsdl:message>
  <wsdl:message name="getPropertiesResponse">
    <wsdl:part name="output" element="archive:getPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="getPropertiesMassiveRequest">
    <wsdl:part name="input" element="common:getPropertiesMassive" />
  </wsdl:message>
  <wsdl:message name="getPropertiesMassiveResponse">
    <wsdl:part name="output" element="common:getPropertiesMassiveResponse" />
  </wsdl:message>
  <wsdl:message name="createDocumentRequest">
    <wsdl:part name="input" element="archive:createDocument" />
  </wsdl:message>
  <wsdl:message name="createDocumentResponse">
    <wsdl:part name="output" element="archive:createDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="createAssociativeDocumentRequest">
    <wsdl:part name="input" element="archive:createAssociativeDocument" />
  </wsdl:message>
  <wsdl:message name="createAssociativeDocumentResponse">
    <wsdl:part name="output" element="archive:createAssociativeDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="createRelationshipRequest">
    <wsdl:part name="input" element="archive:createRelationship" />
  </wsdl:message>
  <wsdl:message name="createRelationshipResponse">
    <wsdl:part name="output" element="archive:createRelationshipResponse" />
  </wsdl:message>
  <wsdl:message name="getContentStreamRequest">
    <wsdl:part name="input" element="archive:getContentStream" />
  </wsdl:message>
  <wsdl:message name="getContentStreamResponse">
    <wsdl:part name="output" element="archive:getContentStreamResponse" />
  </wsdl:message>
  <wsdl:message name="addRenditionStreamRequest">
    <wsdl:part name="input" element="archive:addRenditionStream" />
  </wsdl:message>
  <wsdl:message name="addRenditionStreamResponse">
    <wsdl:part name="output" element="archive:addRenditionStreamResponse" />
  </wsdl:message>
  <wsdl:message name="updatePropertiesRequest">
    <wsdl:part name="input" element="archive:updateProperties" />
  </wsdl:message>
  <wsdl:message name="updatePropertiesResponse">
    <wsdl:part name="output" element="archive:updatePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="setContentStreamRequest">
    <wsdl:part name="input" element="archive:setContentStream" />
  </wsdl:message>
  <wsdl:message name="setContentStreamResponse">
    <wsdl:part name="output" element="archive:setContentStreamResponse" />
  </wsdl:message>
  <wsdl:message name="queryRequest">
    <wsdl:part name="input" element="common:query" />
  </wsdl:message>
  <wsdl:message name="queryResponse">
    <wsdl:part name="output" element="common:queryResponse" />
  </wsdl:message>
  <wsdl:message name="moveDocumentRequest">
    <wsdl:part name="input" element="archive:moveDocument" />
  </wsdl:message>
  <wsdl:message name="moveDocumentResponse">
    <wsdl:part name="output" element="archive:moveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="closeFolderRequest">
    <wsdl:part name="input" element="archive:closeFolder" />
  </wsdl:message>
  <wsdl:message name="closeFolderResponse">
    <wsdl:part name="output" element="archive:closeFolderResponse" />
  </wsdl:message>
  <wsdl:portType name="ObjectServicePort">
    <wsdl:operation name="createFolder">
      <wsdl:input message="tns:createFolderRequest" />
      <wsdl:output message="tns:createFolderResponse" />
      <wsdl:fault name="createFolderFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <wsdl:input message="tns:getPropertiesRequest" />
      <wsdl:output message="tns:getPropertiesResponse" />
      <wsdl:fault name="getPropertiesFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getPropertiesMassive">
      <wsdl:input message="tns:getPropertiesMassiveRequest" />
      <wsdl:output message="tns:getPropertiesMassiveResponse" />
      <wsdl:fault name="getPropertiesMassiveFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="createDocument">
      <wsdl:input message="tns:createDocumentRequest" />
      <wsdl:output message="tns:createDocumentResponse" />
      <wsdl:fault name="createDocumentFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="createAssociativeDocument">
      <wsdl:input message="tns:createAssociativeDocumentRequest" />
      <wsdl:output message="tns:createAssociativeDocumentResponse" />
      <wsdl:fault name="createAssociativeDocumentFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="createRelationship">
      <wsdl:input message="tns:createRelationshipRequest" />
      <wsdl:output message="tns:createRelationshipResponse" />
      <wsdl:fault name="createRelationshipFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getContentStream">
      <wsdl:input message="tns:getContentStreamRequest" />
      <wsdl:output message="tns:getContentStreamResponse" />
      <wsdl:fault name="getContentStreamFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="addRenditionStream">
      <wsdl:input message="tns:addRenditionStreamRequest" />
      <wsdl:output message="tns:addRenditionStreamResponse" />
      <wsdl:fault name="addRenditionStreamFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="updateProperties">
      <wsdl:input message="tns:updatePropertiesRequest" />
      <wsdl:output message="tns:updatePropertiesResponse" />
      <wsdl:fault name="updatePropertiesFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="setContentStream">
      <wsdl:input message="tns:setContentStreamRequest" />
      <wsdl:output message="tns:setContentStreamResponse" />
      <wsdl:fault name="setContentStreamFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="query">
      <wsdl:input message="tns:queryRequest" />
      <wsdl:output message="tns:queryResponse" />
      <wsdl:fault name="queryFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="moveDocument">
      <wsdl:input message="tns:moveDocumentRequest" />
      <wsdl:output message="tns:moveDocumentResponse" />
      <wsdl:fault name="moveDocumentFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="closeFolder">
      <wsdl:input message="tns:closeFolderRequest" />
      <wsdl:output message="tns:closeFolderResponse" />
      <wsdl:fault name="closeFolderFault" message="tns:acarisException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ObjectServiceBinding" type="tns:ObjectServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="createFolder">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="createFolderFault">
        <soap:fault use="literal" name="createFolderFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getPropertiesFault">
        <soap:fault use="literal" name="getPropertiesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesMassive">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getPropertiesMassiveFault">
        <soap:fault use="literal" name="getPropertiesMassiveFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createDocument">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="createDocumentFault">
        <soap:fault use="literal" name="createDocumentFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createAssociativeDocument">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="createAssociativeDocumentFault">
        <soap:fault use="literal" name="createAssociativeDocumentFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createRelationship">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="createRelationshipFault">
        <soap:fault use="literal" name="createRelationshipFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getContentStream">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getContentStreamFault">
        <soap:fault use="literal" name="getContentStreamFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="addRenditionStream">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="addRenditionStreamFault">
        <soap:fault use="literal" name="addRenditionStreamFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProperties">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="updatePropertiesFault">
        <soap:fault use="literal" name="updatePropertiesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="setContentStream">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="setContentStreamFault">
        <soap:fault use="literal" name="setContentStreamFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="query">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="queryFault">
        <soap:fault use="literal" name="queryFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="moveDocument">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="moveDocumentFault">
        <soap:fault use="literal" name="moveDocumentFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="closeFolder">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="closeFolderFault">
        <soap:fault use="literal" name="closeFolderFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ObjectService">
    <wsdl:port name="ObjectServicePort" binding="tns:ObjectServiceBinding">
      <soap:address location="http://localhost:${HttpDefaultPort}/objectservice/objectserviceaPort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>