SOURCE_BIBLOSDS/BiblosDS.UnitTest.PublicWCF/Service References/ServiceReferenceContentSearch/ContentSearch352.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/PreservationTaskGroupType" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationTaskGroupType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/ContentSearch.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PreservationTaskGroupType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdPreservationTaskGroupType" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreservationTaskGroupType" nillable="true" type="tns:PreservationTaskGroupType" />
</xs:schema>