SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.SM.ACATA/Web References/BackOfficeService/ACARIS-BackOffice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="backoffice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" targetNamespace="backoffice.acaris.acta.doqui.it" jaxb:version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ACARIS-Common.xsd" namespace="common.acaris.acta.doqui.it" />
  <xs:simpleType name="enumTipologiaEnteType">
    <xs:restriction base="common:string">
      <xs:enumeration value="ASL" />
      <xs:enumeration value="AutoritaAmministrativaIndipendente" />
      <xs:enumeration value="CameraDiCommercio" />
      <xs:enumeration value="Comune" />
      <xs:enumeration value="ComunitaMontana" />
      <xs:enumeration value="EnteStrutturaAssociativa" />
      <xs:enumeration value="EnteAutonomoLiricoIstituzioniConcertisticheAssimilate" />
      <xs:enumeration value="EnteRegolazioneAttivitaEconomica" />
      <xs:enumeration value="EnteAziendaOspedaliera" />
      <xs:enumeration value="EnteIstituzioneRicercaNonStrumentale" />
      <xs:enumeration value="EnteNazionalePrevidenzaAssistenzaSociale" />
      <xs:enumeration value="EnteParco" />
      <xs:enumeration value="EnteDirittoAlloStudio" />
      <xs:enumeration value="EnteTurismo" />
      <xs:enumeration value="EntePortuale" />
      <xs:enumeration value="EnteProduttoreServiziCulturali" />
      <xs:enumeration value="EnteProduttoreServiziEconomici" />
      <xs:enumeration value="EnteRegionaleSviluppo" />
      <xs:enumeration value="EnteRegionaleRicercaAmbiente" />
      <xs:enumeration value="IstitutoStazioneSperimentaleRicerca" />
      <xs:enumeration value="MinisteroPresidenzaConsiglio" />
      <xs:enumeration value="OrganoCostituzionaleRilievoCostituzionale" />
      <xs:enumeration value="Provincia" />
      <xs:enumeration value="Regione" />
      <xs:enumeration value="UniversitaIstitutiIstruzione" />
      <xs:enumeration value="AltroEnte" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumTipoStrutturaType">
    <xs:restriction base="common:string">
      <xs:enumeration value="Gerarchica" />
      <xs:enumeration value="Libera" />
      <xs:enumeration value="Virtuale" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumServiceType">
    <xs:restriction base="common:string">
      <xs:enumeration value="Archive" />
      <xs:enumeration value="BackOffice" />
      <xs:enumeration value="Management" />
      <xs:enumeration value="OfficialBook" />
      <xs:enumeration value="Sms" />
      <xs:enumeration value="SubjectRegistry" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="IdRaggruppamentoAOOType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="NomeType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="CognomeType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="EmailType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="MatricolaType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="CodiceIdentitaType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="NoteType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="DataValiditaType">
    <xs:restriction base="common:date" />
  </xs:simpleType>
  <xs:simpleType name="TelefonoType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="FaxType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="CodiceType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="DenominazioneType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="IndirizzoType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="CittaType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="SitoWebType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="AbilitatoType">
    <xs:restriction base="common:boolean" />
  </xs:simpleType>
  <xs:simpleType name="ResponsabileType">
    <xs:restriction base="common:boolean" />
  </xs:simpleType>
  <xs:simpleType name="ValidoType">
    <xs:restriction base="common:boolean" />
  </xs:simpleType>
  <xs:simpleType name="DescrizioneLivelloType">
    <xs:restriction base="common:string" />
  </xs:simpleType>
  <xs:simpleType name="LivelloType">
    <xs:restriction base="common:integer" />
  </xs:simpleType>
  <xs:complexType name="DettaglioAOOType">
    <xs:sequence>
      <xs:element name="idAOO" type="common:IdAOOType" />
      <xs:element name="codice" type="common:string" />
      <xs:element name="denominazione" type="common:string" />
      <xs:element name="indirizzo" type="common:string" />
      <xs:element name="citta" type="common:string" />
      <xs:element name="email" type="common:string" />
      <xs:element name="emailPEC" type="common:string" />
      <xs:element name="sitoWeb" type="common:string" />
      <xs:element name="telefono" type="common:string" />
      <xs:element name="fax" type="common:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DettaglioStrutturaType">
    <xs:sequence>
      <xs:element name="idStruttura" type="common:IdStrutturaType" />
      <xs:element name="codice" type="common:string" />
      <xs:element name="denominazione" type="common:string" />
      <xs:element name="indirizzo" type="common:string" />
      <xs:element name="citta" type="common:string" />
      <xs:element name="email" type="common:string" />
      <xs:element name="emailPEC" type="common:string" />
      <xs:element name="sitoWeb" type="common:string" />
      <xs:element name="telefono" type="common:string" />
      <xs:element name="fax" type="common:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="enumBackOfficeObjectType">
    <xs:restriction base="common:string">
      <xs:enumeration value="EntePropertiesType" />
      <xs:enumeration value="GruppoAOOPropertiesType" />
      <xs:enumeration value="AOOPropertiesType" />
      <xs:enumeration value="StrutturaPropertiesType" />
      <xs:enumeration value="NodoPropertiesType" />
      <xs:enumeration value="UtentePropertiesType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BackOfficePropertiesType" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="common:CommonPropertiesType">
        <xs:sequence>
          <xs:element name="objectTypeId" type="tns:enumBackOfficeObjectType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UtentePropertiesType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BackOfficePropertiesType">
        <xs:sequence>
          <xs:element name="parentId" type="common:ObjectIdType" />
          <xs:element name="parentIdInChiaro" type="common:string" />
          <xs:element name="nome" type="tns:NomeType" />
          <xs:element name="cognome" type="tns:CognomeType" />
          <xs:element name="codiceFiscale" type="common:CodiceFiscaleType" />
          <xs:element name="email" type="tns:EmailType" />
          <xs:element name="matricola" type="tns:MatricolaType" />
          <xs:element name="note" type="tns:NoteType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="codiceIdentitaList" type="tns:CodiceIdentitaType" />
          <xs:element name="dataInizioValidita" type="tns:DataValiditaType" />
          <xs:element name="dataFineValidita" type="tns:DataValiditaType" />
          <xs:element name="valido" type="tns:ValidoType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrganizationUnitPropertiesType" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BackOfficePropertiesType">
        <xs:sequence>
          <xs:element name="parentId" type="common:ObjectIdType" />
          <xs:element name="parentIdInChiaro" type="common:string" />
          <xs:element name="codice" type="tns:CodiceType" />
          <xs:element name="denominazione" type="tns:DenominazioneType" />
          <xs:element name="indirizzo" type="tns:IndirizzoType" />
          <xs:element name="citta" type="tns:CittaType" />
          <xs:element name="email" type="tns:EmailType" />
          <xs:element name="emailPEC" type="tns:EmailType" />
          <xs:element name="sitoWeb" type="tns:SitoWebType" />
          <xs:element name="telefono" type="tns:TelefonoType" />
          <xs:element name="fax" type="tns:FaxType" />
          <xs:element name="dataInizioValidita" type="tns:DataValiditaType" />
          <xs:element name="dataFineValidita" type="tns:DataValiditaType" />
          <xs:element name="valido" type="tns:ValidoType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AOOPropertiesType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OrganizationUnitPropertiesType">
        <xs:sequence>
          <xs:element name="idRaggruppamentoAOO" type="tns:IdRaggruppamentoAOOType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idStrutturaList" type="common:ObjectIdType" />
          <xs:element name="idUtenteResponsabile" type="common:ObjectIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="EntePropertiesType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OrganizationUnitPropertiesType">
        <xs:sequence>
          <xs:element name="abilitato" type="tns:AbilitatoType" />
          <xs:element name="tipologiaEnte" type="tns:enumTipologiaEnteType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StrutturaPropertiesType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OrganizationUnitPropertiesType">
        <xs:sequence>
          <xs:element name="tipo" type="tns:enumTipoStrutturaType" />
          <xs:element name="livello" type="tns:LivelloType" />
          <xs:element name="descrizioneLivello" type="tns:DescrizioneLivelloType" />
          <xs:element name="idAOO" type="common:ObjectIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="NodoPropertiesType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OrganizationUnitPropertiesType">
        <xs:sequence>
          <xs:element name="responsabile" type="tns:ResponsabileType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProfiloPropertiesType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="idProfilo" type="common:IdProfiloType" />
      <xs:element minOccurs="1" maxOccurs="1" name="codice" type="common:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>