SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.SM.ACATA/Web References/BackOfficeService/ACARIS-BackOfficeMessaging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="backoffice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" targetNamespace="backoffice.acaris.acta.doqui.it" jaxb:version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ACARIS-BackOffice.xsd" />
  <xs:import schemaLocation="ACARIS-Common.xsd" namespace="common.acaris.acta.doqui.it" />
  <xs:complexType name="PrincipalResponseType">
    <xs:sequence>
      <xs:element name="idPrincipal" type="common:PrincipalIdType" />
      <xs:element name="idAOO" type="common:IdAOOType" />
      <xs:element name="idStruttura" type="common:IdStrutturaType" />
      <xs:element name="idNodo" type="common:IdNodoType" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="profili" type="tns:ProfiloPropertiesType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PrincipalExtResponseType">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
      <xs:element minOccurs="1" maxOccurs="1" name="utente" type="tns:CollocazioneUtente" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="profili" type="common:DecodificaType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RelazioniStrutturaPropertiesType">
    <xs:sequence>
      <xs:element name="idStrutturaPartenza" type="common:ObjectIdType" />
      <xs:element name="ruoloStrutturaPartenza" type="tns:enumRuoloInGerarchiaType" />
      <xs:element name="idStrutturaRelazionata" type="common:ObjectIdType" />
      <xs:element name="idParentStrutturaRelazionata" type="common:ObjectIdType" />
      <xs:element name="idParentStrutturaRelazionataInChiaro" type="common:string" />
      <xs:element name="level" type="common:integer" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CollocazioneUtente">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="aoo" type="common:DecodificaExtType" />
      <xs:element minOccurs="1" maxOccurs="1" name="struttura" type="common:DecodificaExtType" />
      <xs:element minOccurs="1" maxOccurs="1" name="nodo" type="common:DecodificaExtType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClientApplicationInfo">
    <xs:sequence>
      <xs:element name="appKey" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="info" type="common:VarargsType" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="enumBackOfficeNavigationPathType">
    <xs:restriction base="common:string">
      <xs:enumeration value="aoo" />
      <xs:enumeration value="strutture" />
      <xs:enumeration value="utenti" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumRuoloInGerarchiaType">
    <xs:restriction base="common:string">
      <xs:enumeration value="parent" />
      <xs:enumeration value="child" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="getDescendants">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="0" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="path" type="tns:enumBackOfficeNavigationPathType" />
        <xs:element minOccurs="1" maxOccurs="1" name="rootNodeId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="date" type="common:date" />
        <xs:element minOccurs="0" maxOccurs="1" name="depth" type="common:integer" />
        <xs:element minOccurs="1" maxOccurs="1" name="filter" type="common:PropertyFilterType" />
        <xs:element minOccurs="0" maxOccurs="1" name="maxItems" type="common:integer" />
        <xs:element minOccurs="0" maxOccurs="1" name="skipCount" type="common:integer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDescendantsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="objects" type="common:PagingResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getObjectParents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="rootNodeId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="date" type="common:date" />
        <xs:element minOccurs="1" maxOccurs="1" name="filter" type="common:PropertyFilterType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getObjectParentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="objects" type="common:ObjectResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRelazioniStruttura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="objectId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="ruolo" type="tns:enumRuoloInGerarchiaType" />
        <xs:element minOccurs="1" maxOccurs="1" name="date" type="common:date" />
        <xs:element minOccurs="1" maxOccurs="1" name="filter" type="common:PropertyFilterType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRelazioniStrutturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="response" type="tns:RelazioniStrutturaPropertiesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="objectId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="filter" type="common:PropertyFilterType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="object" type="common:ObjectResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrincipal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="idUtente" type="common:CodiceFiscaleType" />
        <xs:element maxOccurs="1" name="idAOO" type="common:IdAOOType" />
        <xs:element minOccurs="0" maxOccurs="1" name="idStruttura" type="common:IdStrutturaType" />
        <xs:element minOccurs="0" maxOccurs="1" name="idNodo" type="common:IdNodoType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrincipalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="principal" type="tns:PrincipalResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrincipalExt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="idUtente" type="common:CodiceFiscaleType" />
        <xs:element maxOccurs="1" name="idAOO" type="common:IdAOOType" />
        <xs:element minOccurs="0" maxOccurs="1" name="idStruttura" type="common:IdStrutturaType" />
        <xs:element minOccurs="0" maxOccurs="1" name="idNodo" type="common:IdNodoType" />
        <xs:element minOccurs="1" maxOccurs="1" name="clientApplicationInfo" type="tns:ClientApplicationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPrincipalExtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="principal" type="tns:PrincipalExtResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDettaglioAOO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="idAOO" type="common:IdAOOType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDettaglioAOOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="dettaglioAOO" type="tns:DettaglioAOOType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDettaglioStruttura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="idStruttura" type="common:IdStrutturaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDettaglioStrutturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="dettaglioStruttura" type="tns:DettaglioStrutturaType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQueryableObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="service" type="tns:enumServiceType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQueryableObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="queryableObjectList" type="common:QueryableObjectType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQueryableObjectMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="queryableObject" type="common:QueryableObjectType" />
        <xs:element minOccurs="1" maxOccurs="1" name="operation" type="common:enumPropertyFilterOperation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQueryableObjectMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="queryableObjectMetadataList" type="common:ObjectMetadataType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>