SOURCE_BIBLOSDS/BiblosDS.UnitTest.WCF/Service References/PreservationSvc/Archive.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/Archive" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/Archive" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://BiblosDS/2009/10/Storage" />
  <xs:import namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="Archive">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorizationAssembly" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AuthorizationClassName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AutoVersion" type="xs:boolean" />
          <xs:element minOccurs="0" name="EnableSecurity" type="xs:boolean" />
          <xs:element minOccurs="0" name="IdArchive" type="ser:guid" />
          <xs:element minOccurs="0" name="IsLegal" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastIdBiblos" type="xs:int" />
          <xs:element minOccurs="0" name="LowerCache" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="MaxCache" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PathCache" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PathPreservation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PathTransito" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Storage" minOccurs="0" name="Storage" nillable="true" type="q2:Storage" />
          <xs:element minOccurs="0" name="UpperCache" nillable="true" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Archive" nillable="true" type="tns:Archive" />
</xs:schema>