SOURCE_BIBLOSDS/BiblosDS.UnitTest.WCF/Service References/PreservationSvc/PreservationArchiveInfoResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BiblosDS/2009/10/PreservationArchiveInfoResponse" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationArchiveInfoResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationRole" />
  <xs:import namespace="http://BiblosDS/2009/10/ResponseBase" />
  <xs:complexType name="ArrayOfPreservationArchiveInfoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreservationArchiveInfoResponse" nillable="true" type="tns:PreservationArchiveInfoResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreservationArchiveInfoResponse" nillable="true" type="tns:ArrayOfPreservationArchiveInfoResponse" />
  <xs:complexType name="PreservationArchiveInfoResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/ResponseBase" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q2:Archive" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/PreservationRole" minOccurs="0" name="UserArchiveRole" nillable="true" type="q3:ArrayOfPreservationRole" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreservationArchiveInfoResponse" nillable="true" type="tns:PreservationArchiveInfoResponse" />
</xs:schema>