SOURCE_BIBLOSDS/BiblosDS.UnitTest.WCF/Service References/PreservationSvc/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://BiblosDS/2009/10/PreservationArchiveInfoResponse" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationUserRole" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationTaskGroup" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationSchedule" />
  <xs:import namespace="http://BiblosDS/2009/10/Document" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationInfoResponse" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationUser" />
  <xs:import namespace="http://BiblosDS/2009/10/Attribute" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationHoliday" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationAlert" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationTaskGroupType" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationTaskType" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationTask" />
  <xs:import namespace="http://BiblosDS/2009/10/Preservation" />
  <xs:import namespace="http://BiblosDS/2009/10/PreservationFileInfoResponse" />
  <xs:element name="GetPreservationArchives">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainUserName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://BiblosDS/2009/10/PreservationArchiveInfoResponse" minOccurs="0" name="GetPreservationArchivesResult" nillable="true" type="q1:ArrayOfPreservationArchiveInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleInArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserRoleInArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://BiblosDS/2009/10/PreservationUserRole" minOccurs="0" name="GetUserRoleInArchiveResult" nillable="true" type="q2:ArrayOfPreservationUserRole" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationParameter">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationParameterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetPreservationParameterResult" nillable="true" type="q3:ArrayOfKeyValueOfstringstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserInRoleOnArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domainUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserInRoleOnArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserInRoleOnArchiveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserInRole">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="domainUserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="roleId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsUserInRoleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsUserInRoleResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://BiblosDS/2009/10/PreservationTaskGroup" minOccurs="0" name="GetPreservationTaskGroupResult" nillable="true" type="q4:ArrayOfPreservationTaskGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTaskGroupClosed">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTaskGroup" type="q5:guid" />
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTaskGroupClosedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleFromTaskGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTaskGroup" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleFromTaskGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetScheduleFromTaskGroupResult" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idSchedule" nillable="true" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://BiblosDS/2009/10/PreservationSchedule" minOccurs="0" name="GetScheduleResult" nillable="true" type="q9:ArrayOfPreservationSchedule" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPreparedPreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResetPreparedPreservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPreparedPreservationObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dateFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dateTo" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindPreparedPreservationObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://BiblosDS/2009/10/Document" minOccurs="0" name="FindPreparedPreservationObjectsResult" nillable="true" type="q11:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePreservationDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q12:guid" />
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" nillable="true" type="q13:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WritePreservationDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPreservationObject">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderPath" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q14:guid" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q15:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyPreservationObjectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyPreservationObjectResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPreservationNameResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkPreservationAsSigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q17:guid" />
        <xs:element minOccurs="0" name="signedFile" nillable="true" type="xs:base64Binary" />
        <xs:element minOccurs="0" name="timeStampFile" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkPreservationAsSignedResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortConservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AbortConservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://BiblosDS/2009/10/PreservationInfoResponse" minOccurs="0" name="AbortConservationResult" nillable="true" type="q19:PreservationInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPreservationExceptions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckPreservationExceptionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckPreservationExceptionsResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="exceptions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreservationIndexFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q21:guid" />
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreservationIndexFileResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTaskGroup" nillable="true" type="q22:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://BiblosDS/2009/10/PreservationInfoResponse" minOccurs="0" name="GetPreservationInfoResult" nillable="true" type="q23:PreservationInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationUserForArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domainUser" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationUserForArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://BiblosDS/2009/10/PreservationUser" minOccurs="0" name="GetPreservationUserForArchiveResult" nillable="true" type="q24:PreservationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedDocumentsNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSelectedDocumentsNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetSelectedDocumentsNumberResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://BiblosDS/2009/10/Attribute" minOccurs="0" name="GetAttributesResult" nillable="true" type="q25:ArrayOfAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyCompEDViewerIndexFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q26:guid" />
        <xs:element minOccurs="0" name="workingDirectory" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CopyCompEDViewerIndexFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CopyCompEDViewerIndexFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidays">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservationHolidays" nillable="true" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHolidaysResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://BiblosDS/2009/10/PreservationHoliday" minOccurs="0" name="GetHolidaysResult" nillable="true" type="q28:ArrayOfPreservationHoliday" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreservationClosingFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q29:guid" />
        <xs:element minOccurs="0" name="workingDir" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="exceptions" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreservationClosingFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreatePreservationClosingFileResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservationTaskGroup" nillable="true" type="q30:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://BiblosDS/2009/10/PreservationTaskGroup" minOccurs="0" name="GetTaskGroupResult" nillable="true" type="q31:ArrayOfPreservationTaskGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idAlert" nillable="true" type="q32:guid" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTaskType" nillable="true" type="q33:guid" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idAlertType" nillable="true" type="q34:guid" />
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" nillable="true" type="q35:guid" />
        <xs:element minOccurs="0" name="orderByOffset" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://BiblosDS/2009/10/PreservationAlert" minOccurs="0" name="GetPreservationAlertResult" nillable="true" type="q36:ArrayOfPreservationAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskGroupTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTaskGroupType" nillable="true" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTaskGroupTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://BiblosDS/2009/10/PreservationTaskGroupType" minOccurs="0" name="GetTaskGroupTypesResult" nillable="true" type="q38:ArrayOfPreservationTaskGroupType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idUser" nillable="true" type="q39:guid" />
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://BiblosDS/2009/10/PreservationUser" minOccurs="0" name="GetPreservationUserResult" nillable="true" type="q40:ArrayOfPreservationUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservationTaskType" nillable="true" type="q41:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://BiblosDS/2009/10/PreservationTaskType" minOccurs="0" name="GetPreservationTaskTypesResult" nillable="true" type="q42:ArrayOfPreservationTaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksFromTaskGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTaskGroup" type="q43:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTasksFromTaskGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="GetTasksFromTaskGroupResult" nillable="true" type="q44:ArrayOfPreservationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPreservationTaskGroup">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://BiblosDS/2009/10/PreservationTaskGroup" minOccurs="0" name="toAdd" nillable="true" type="q45:PreservationTaskGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPreservationTaskGroupResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://BiblosDS/2009/10/PreservationTaskGroup" minOccurs="0" name="AddPreservationTaskGroupResult" nillable="true" type="q46:PreservationTaskGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPreservationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="toAdd" nillable="true" type="q47:PreservationTask" />
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPreservationTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="AddPreservationTaskResult" nillable="true" type="q48:PreservationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPreservationAlert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://BiblosDS/2009/10/PreservationAlert" minOccurs="0" name="toAdd" nillable="true" type="q49:PreservationAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPreservationAlertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://BiblosDS/2009/10/PreservationAlert" minOccurs="0" name="AddPreservationAlertResult" nillable="true" type="q50:PreservationAlert" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q51:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://BiblosDS/2009/10/Preservation" minOccurs="0" name="GetPreservationResult" nillable="true" type="q52:Preservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskTypesAndPreservationScheduleTaskTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservationSchedule" nillable="true" type="q53:guid" />
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskTypesAndPreservationScheduleTaskTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://BiblosDS/2009/10/PreservationTaskType" minOccurs="0" name="GetPreservationTaskTypesAndPreservationScheduleTaskTypesResult" nillable="true" type="q54:ArrayOfPreservationTaskType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="domainUser" nillable="true" type="xs:string" />
        <xs:element xmlns:q55="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idGruppoTask" type="q55:guid" />
        <xs:element minOccurs="0" name="dataInizio" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dataFine" type="xs:dateTime" />
        <xs:element minOccurs="0" name="simulateOnly" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://BiblosDS/2009/10/PreservationInfoResponse" minOccurs="0" name="CreatePreservationResult" nillable="true" type="q56:PreservationInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresservationClosingFileInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="preservationId" type="q57:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPresservationClosingFileInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://BiblosDS/2009/10/PreservationFileInfoResponse" minOccurs="0" name="GetPresservationClosingFileInfoResult" nillable="true" type="q58:PreservationFileInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosePreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClosePreservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Pulse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="progressPercentage" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>