SOURCE_BIBLOSDS/BiblosDS.UnitTest.WCF/Service References/PreservationSvc/StorageArea.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/StorageArea" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/StorageArea" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Objects" />
  <xs:import namespace="http://BiblosDS/2009/10/Storage" />
  <xs:import namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="StorageArea">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="CurrentFileNumber" nillable="true" type="xs:long" />
          <xs:element minOccurs="0" name="CurrentSize" type="xs:long" />
          <xs:element minOccurs="0" name="Enable" type="xs:boolean" />
          <xs:element minOccurs="0" name="IdStorageArea" type="ser:guid" />
          <xs:element minOccurs="0" name="MaxFileNumber" type="xs:long" />
          <xs:element minOccurs="0" name="MaxSize" type="xs:long" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Priority" type="xs:int" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Objects" minOccurs="0" name="Status" nillable="true" type="q2:Status" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/Storage" minOccurs="0" name="Storage" nillable="true" type="q3:Storage" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StorageArea" nillable="true" type="tns:StorageArea" />
</xs:schema>