SOURCE_BIBLOSDS/BiblosDS.UnitTest.WebService/Web References/WebReferenceCompatibility/BiblosDS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vecompsoftware.it/BiblosDSWS/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://www.vecompsoftware.it/BiblosDSWS/AbstractTypes" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.vecompsoftware.it/BiblosDSWS/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.vecompsoftware.it/BiblosDSWS/">
      <s:element name="GetChainInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetChainInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetChainInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentInfoSearch">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Attr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentInfoSearchResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentInfoSearchResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentHeaded">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlLabel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentHeadedResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentHeadedResult" type="tns:stDoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="stDoc">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="FileExtension" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Blob" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XmlValues" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDocumentHeadedEx">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FileFormat" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlLabel" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentHeadedExResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentHeadedExResult" type="tns:stDoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentResult" type="tns:stDoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentDirect">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentDirectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetDocumentDirectResult" type="tns:stDoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Doc" type="tns:stDoc" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDocumentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocumentExt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="DocFileExt" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocXmlVal" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DocBlob" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDocumentExtResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddDocumentExtResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlMetaData" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Visible" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyDocumentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocumentKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocumentKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDocumentKeyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocumentMetadata">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDocumentMetadataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateDocumentMetadataResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyDocumentB2k">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Blob" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyDocumentB2kResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyDocumentB2kResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetaDataDefinition">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetMetaDataDefinitionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetMetaDataDefinitionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckMetaData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XmlMetaData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckMetaDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CheckMetaDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P7MGetExpDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P7MGetExpDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P7MGetExpDateResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="firstExp" type="tns:SimplyCert" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SimplyCert">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FiscalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Issuer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eMail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiry" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidFrom" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="P7MGetAllExpDate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P7MGetAllExpDateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P7MGetAllExpDateResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="firstExp" type="tns:SimplyCert" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ASDetachDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DataBase" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Chain" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="Enum" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ASDetachDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ASDetachDocumentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocumentsHash">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Server" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Archive" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChainCommaDoc" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDocumentsHashResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentsHashResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P7MAddRawSignature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SrcServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SrcArchive" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ChainDocFiletypeDigest" type="tns:ArrayOfString" />
            <s:element minOccurs="0" maxOccurs="1" name="DesServer" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="DesArchive" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="signer_cert" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P7MAddRawSignatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P7MAddRawSignatureResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
      <s:element name="stDoc" type="tns:stDoc" />
      <s:element name="int" type="s:int" />
      <s:element name="ArrayOfString" nillable="true" type="tns:ArrayOfString" />
    </s:schema>
    <s:schema targetNamespace="http://www.vecompsoftware.it/BiblosDSWS/AbstractTypes">
      <s:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <s:complexType name="StringArray">
        <s:complexContent mixed="false">
          <s:restriction base="soapenc:Array">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="unbounded" name="String" type="s:string" />
            </s:sequence>
          </s:restriction>
        </s:complexContent>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetChainInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetChainInfo" />
  </wsdl:message>
  <wsdl:message name="GetChainInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetChainInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentInfo" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentInfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoSearchSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentInfoSearch" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoSearchSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentInfoSearchResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentHeaded" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentHeadedResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedExSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentHeadedEx" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedExSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentHeadedExResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocument" />
  </wsdl:message>
  <wsdl:message name="GetDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentDirectSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentDirect" />
  </wsdl:message>
  <wsdl:message name="GetDocumentDirectSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentDirectResponse" />
  </wsdl:message>
  <wsdl:message name="AddDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:AddDocument" />
  </wsdl:message>
  <wsdl:message name="AddDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:AddDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="AddDocumentExtSoapIn">
    <wsdl:part name="parameters" element="tns:AddDocumentExt" />
  </wsdl:message>
  <wsdl:message name="AddDocumentExtSoapOut">
    <wsdl:part name="parameters" element="tns:AddDocumentExtResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyDocument" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentKeySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDocumentKey" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentKeySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDocumentKeyResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentMetadataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateDocumentMetadata" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentMetadataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDocumentMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentB2kSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyDocumentB2k" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentB2kSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyDocumentB2kResponse" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataDefinitionSoapIn">
    <wsdl:part name="parameters" element="tns:GetMetaDataDefinition" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataDefinitionSoapOut">
    <wsdl:part name="parameters" element="tns:GetMetaDataDefinitionResponse" />
  </wsdl:message>
  <wsdl:message name="CheckMetaDataSoapIn">
    <wsdl:part name="parameters" element="tns:CheckMetaData" />
  </wsdl:message>
  <wsdl:message name="CheckMetaDataSoapOut">
    <wsdl:part name="parameters" element="tns:CheckMetaDataResponse" />
  </wsdl:message>
  <wsdl:message name="P7MGetExpDateSoapIn">
    <wsdl:part name="parameters" element="tns:P7MGetExpDate" />
  </wsdl:message>
  <wsdl:message name="P7MGetExpDateSoapOut">
    <wsdl:part name="parameters" element="tns:P7MGetExpDateResponse" />
  </wsdl:message>
  <wsdl:message name="P7MGetAllExpDateSoapIn">
    <wsdl:part name="parameters" element="tns:P7MGetAllExpDate" />
  </wsdl:message>
  <wsdl:message name="P7MGetAllExpDateSoapOut">
    <wsdl:part name="parameters" element="tns:P7MGetAllExpDateResponse" />
  </wsdl:message>
  <wsdl:message name="ASDetachDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:ASDetachDocument" />
  </wsdl:message>
  <wsdl:message name="ASDetachDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:ASDetachDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentsHashSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocumentsHash" />
  </wsdl:message>
  <wsdl:message name="GetDocumentsHashSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentsHashResponse" />
  </wsdl:message>
  <wsdl:message name="P7MAddRawSignatureSoapIn">
    <wsdl:part name="parameters" element="tns:P7MAddRawSignature" />
  </wsdl:message>
  <wsdl:message name="P7MAddRawSignatureSoapOut">
    <wsdl:part name="parameters" element="tns:P7MAddRawSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="GetChainInfoHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetChainInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoSearchHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Attr" type="s:string" />
    <wsdl:part name="Value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoSearchHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="XmlLabel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedHttpGetOut">
    <wsdl:part name="Body" element="tns:stDoc" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedExHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="FileFormat" type="s:string" />
    <wsdl:part name="XmlLabel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedExHttpGetOut">
    <wsdl:part name="Body" element="tns:stDoc" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:stDoc" />
  </wsdl:message>
  <wsdl:message name="GetDocumentDirectHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentDirectHttpGetOut">
    <wsdl:part name="Body" element="tns:stDoc" />
  </wsdl:message>
  <wsdl:message name="AddDocumentExtHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="DocFileExt" type="s:string" />
    <wsdl:part name="DocXmlVal" type="s:string" />
    <wsdl:part name="DocBlob" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddDocumentExtHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="XmlMetaData" type="s:string" />
    <wsdl:part name="Visible" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentKeyHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentKeyHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentMetadataHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="Value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentMetadataHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentB2kHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="FileName" type="s:string" />
    <wsdl:part name="Blob" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentB2kHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataDefinitionHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataDefinitionHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckMetaDataHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="XmlMetaData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckMetaDataHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ASDetachDocumentHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ASDetachDocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDocumentsHashHttpGetIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="Archive" type="s:string" />
    <wsdl:part name="ChainCommaDoc" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="GetDocumentsHashHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="P7MAddRawSignatureHttpGetIn">
    <wsdl:part name="SrcServer" type="s:string" />
    <wsdl:part name="SrcArchive" type="s:string" />
    <wsdl:part name="ChainDocFiletypeDigest" type="s1:StringArray" />
    <wsdl:part name="DesServer" type="s:string" />
    <wsdl:part name="DesArchive" type="s:string" />
    <wsdl:part name="signer_cert" type="s:string" />
  </wsdl:message>
  <wsdl:message name="P7MAddRawSignatureHttpGetOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="GetChainInfoHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetChainInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoSearchHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Attr" type="s:string" />
    <wsdl:part name="Value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentInfoSearchHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="XmlLabel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedHttpPostOut">
    <wsdl:part name="Body" element="tns:stDoc" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedExHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="FileFormat" type="s:string" />
    <wsdl:part name="XmlLabel" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHeadedExHttpPostOut">
    <wsdl:part name="Body" element="tns:stDoc" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:stDoc" />
  </wsdl:message>
  <wsdl:message name="GetDocumentDirectHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetDocumentDirectHttpPostOut">
    <wsdl:part name="Body" element="tns:stDoc" />
  </wsdl:message>
  <wsdl:message name="AddDocumentExtHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="DocFileExt" type="s:string" />
    <wsdl:part name="DocXmlVal" type="s:string" />
    <wsdl:part name="DocBlob" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddDocumentExtHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="XmlMetaData" type="s:string" />
    <wsdl:part name="Visible" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentKeyHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentKeyHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentMetadataHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="Value" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateDocumentMetadataHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentB2kHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
    <wsdl:part name="FileName" type="s:string" />
    <wsdl:part name="Blob" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ModifyDocumentB2kHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataDefinitionHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetMetaDataDefinitionHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CheckMetaDataHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="XmlMetaData" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CheckMetaDataHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ASDetachDocumentHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="DataBase" type="s:string" />
    <wsdl:part name="Chain" type="s:string" />
    <wsdl:part name="Enum" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ASDetachDocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:int" />
  </wsdl:message>
  <wsdl:message name="GetDocumentsHashHttpPostIn">
    <wsdl:part name="Server" type="s:string" />
    <wsdl:part name="Archive" type="s:string" />
    <wsdl:part name="ChainCommaDoc" type="s1:StringArray" />
  </wsdl:message>
  <wsdl:message name="GetDocumentsHashHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:message name="P7MAddRawSignatureHttpPostIn">
    <wsdl:part name="SrcServer" type="s:string" />
    <wsdl:part name="SrcArchive" type="s:string" />
    <wsdl:part name="ChainDocFiletypeDigest" type="s1:StringArray" />
    <wsdl:part name="DesServer" type="s:string" />
    <wsdl:part name="DesArchive" type="s:string" />
    <wsdl:part name="signer_cert" type="s:string" />
  </wsdl:message>
  <wsdl:message name="P7MAddRawSignatureHttpPostOut">
    <wsdl:part name="Body" element="tns:ArrayOfString" />
  </wsdl:message>
  <wsdl:portType name="BiblosWS2010Soap">
    <wsdl:operation name="GetChainInfo">
      <wsdl:input message="tns:GetChainInfoSoapIn" />
      <wsdl:output message="tns:GetChainInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <wsdl:input message="tns:GetDocumentInfoSoapIn" />
      <wsdl:output message="tns:GetDocumentInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfoSearch">
      <wsdl:input message="tns:GetDocumentInfoSearchSoapIn" />
      <wsdl:output message="tns:GetDocumentInfoSearchSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeaded">
      <wsdl:input message="tns:GetDocumentHeadedSoapIn" />
      <wsdl:output message="tns:GetDocumentHeadedSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeadedEx">
      <wsdl:input message="tns:GetDocumentHeadedExSoapIn" />
      <wsdl:output message="tns:GetDocumentHeadedExSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input message="tns:GetDocumentSoapIn" />
      <wsdl:output message="tns:GetDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDirect">
      <wsdl:input message="tns:GetDocumentDirectSoapIn" />
      <wsdl:output message="tns:GetDocumentDirectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDocument">
      <wsdl:input message="tns:AddDocumentSoapIn" />
      <wsdl:output message="tns:AddDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDocumentExt">
      <wsdl:input message="tns:AddDocumentExtSoapIn" />
      <wsdl:output message="tns:AddDocumentExtSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyDocument">
      <wsdl:input message="tns:ModifyDocumentSoapIn" />
      <wsdl:output message="tns:ModifyDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentKey">
      <wsdl:input message="tns:UpdateDocumentKeySoapIn" />
      <wsdl:output message="tns:UpdateDocumentKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentMetadata">
      <wsdl:input message="tns:UpdateDocumentMetadataSoapIn" />
      <wsdl:output message="tns:UpdateDocumentMetadataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyDocumentB2k">
      <wsdl:input message="tns:ModifyDocumentB2kSoapIn" />
      <wsdl:output message="tns:ModifyDocumentB2kSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataDefinition">
      <wsdl:input message="tns:GetMetaDataDefinitionSoapIn" />
      <wsdl:output message="tns:GetMetaDataDefinitionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckMetaData">
      <wsdl:input message="tns:CheckMetaDataSoapIn" />
      <wsdl:output message="tns:CheckMetaDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P7MGetExpDate">
      <wsdl:input message="tns:P7MGetExpDateSoapIn" />
      <wsdl:output message="tns:P7MGetExpDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P7MGetAllExpDate">
      <wsdl:input message="tns:P7MGetAllExpDateSoapIn" />
      <wsdl:output message="tns:P7MGetAllExpDateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ASDetachDocument">
      <wsdl:input message="tns:ASDetachDocumentSoapIn" />
      <wsdl:output message="tns:ASDetachDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsHash">
      <wsdl:input message="tns:GetDocumentsHashSoapIn" />
      <wsdl:output message="tns:GetDocumentsHashSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P7MAddRawSignature">
      <wsdl:input message="tns:P7MAddRawSignatureSoapIn" />
      <wsdl:output message="tns:P7MAddRawSignatureSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BiblosWS2010HttpGet">
    <wsdl:operation name="GetChainInfo">
      <wsdl:input message="tns:GetChainInfoHttpGetIn" />
      <wsdl:output message="tns:GetChainInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <wsdl:input message="tns:GetDocumentInfoHttpGetIn" />
      <wsdl:output message="tns:GetDocumentInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfoSearch">
      <wsdl:input message="tns:GetDocumentInfoSearchHttpGetIn" />
      <wsdl:output message="tns:GetDocumentInfoSearchHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeaded">
      <wsdl:input message="tns:GetDocumentHeadedHttpGetIn" />
      <wsdl:output message="tns:GetDocumentHeadedHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeadedEx">
      <wsdl:input message="tns:GetDocumentHeadedExHttpGetIn" />
      <wsdl:output message="tns:GetDocumentHeadedExHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input message="tns:GetDocumentHttpGetIn" />
      <wsdl:output message="tns:GetDocumentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDirect">
      <wsdl:input message="tns:GetDocumentDirectHttpGetIn" />
      <wsdl:output message="tns:GetDocumentDirectHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDocumentExt">
      <wsdl:input message="tns:AddDocumentExtHttpGetIn" />
      <wsdl:output message="tns:AddDocumentExtHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyDocument">
      <wsdl:input message="tns:ModifyDocumentHttpGetIn" />
      <wsdl:output message="tns:ModifyDocumentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentKey">
      <wsdl:input message="tns:UpdateDocumentKeyHttpGetIn" />
      <wsdl:output message="tns:UpdateDocumentKeyHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentMetadata">
      <wsdl:input message="tns:UpdateDocumentMetadataHttpGetIn" />
      <wsdl:output message="tns:UpdateDocumentMetadataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyDocumentB2k">
      <wsdl:input message="tns:ModifyDocumentB2kHttpGetIn" />
      <wsdl:output message="tns:ModifyDocumentB2kHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataDefinition">
      <wsdl:input message="tns:GetMetaDataDefinitionHttpGetIn" />
      <wsdl:output message="tns:GetMetaDataDefinitionHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckMetaData">
      <wsdl:input message="tns:CheckMetaDataHttpGetIn" />
      <wsdl:output message="tns:CheckMetaDataHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ASDetachDocument">
      <wsdl:input message="tns:ASDetachDocumentHttpGetIn" />
      <wsdl:output message="tns:ASDetachDocumentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsHash">
      <wsdl:input message="tns:GetDocumentsHashHttpGetIn" />
      <wsdl:output message="tns:GetDocumentsHashHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="P7MAddRawSignature">
      <wsdl:input message="tns:P7MAddRawSignatureHttpGetIn" />
      <wsdl:output message="tns:P7MAddRawSignatureHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="BiblosWS2010HttpPost">
    <wsdl:operation name="GetChainInfo">
      <wsdl:input message="tns:GetChainInfoHttpPostIn" />
      <wsdl:output message="tns:GetChainInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <wsdl:input message="tns:GetDocumentInfoHttpPostIn" />
      <wsdl:output message="tns:GetDocumentInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfoSearch">
      <wsdl:input message="tns:GetDocumentInfoSearchHttpPostIn" />
      <wsdl:output message="tns:GetDocumentInfoSearchHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeaded">
      <wsdl:input message="tns:GetDocumentHeadedHttpPostIn" />
      <wsdl:output message="tns:GetDocumentHeadedHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeadedEx">
      <wsdl:input message="tns:GetDocumentHeadedExHttpPostIn" />
      <wsdl:output message="tns:GetDocumentHeadedExHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <wsdl:input message="tns:GetDocumentHttpPostIn" />
      <wsdl:output message="tns:GetDocumentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDirect">
      <wsdl:input message="tns:GetDocumentDirectHttpPostIn" />
      <wsdl:output message="tns:GetDocumentDirectHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDocumentExt">
      <wsdl:input message="tns:AddDocumentExtHttpPostIn" />
      <wsdl:output message="tns:AddDocumentExtHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyDocument">
      <wsdl:input message="tns:ModifyDocumentHttpPostIn" />
      <wsdl:output message="tns:ModifyDocumentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentKey">
      <wsdl:input message="tns:UpdateDocumentKeyHttpPostIn" />
      <wsdl:output message="tns:UpdateDocumentKeyHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentMetadata">
      <wsdl:input message="tns:UpdateDocumentMetadataHttpPostIn" />
      <wsdl:output message="tns:UpdateDocumentMetadataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyDocumentB2k">
      <wsdl:input message="tns:ModifyDocumentB2kHttpPostIn" />
      <wsdl:output message="tns:ModifyDocumentB2kHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataDefinition">
      <wsdl:input message="tns:GetMetaDataDefinitionHttpPostIn" />
      <wsdl:output message="tns:GetMetaDataDefinitionHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckMetaData">
      <wsdl:input message="tns:CheckMetaDataHttpPostIn" />
      <wsdl:output message="tns:CheckMetaDataHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ASDetachDocument">
      <wsdl:input message="tns:ASDetachDocumentHttpPostIn" />
      <wsdl:output message="tns:ASDetachDocumentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsHash">
      <wsdl:input message="tns:GetDocumentsHashHttpPostIn" />
      <wsdl:output message="tns:GetDocumentsHashHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="P7MAddRawSignature">
      <wsdl:input message="tns:P7MAddRawSignatureHttpPostIn" />
      <wsdl:output message="tns:P7MAddRawSignatureHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BiblosWS2010Soap" type="tns:BiblosWS2010Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChainInfo">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetChainInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfoSearch">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentInfoSearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeaded">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentHeaded" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeadedEx">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentHeadedEx" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDirect">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentDirect" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocument">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/AddDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentExt">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/AddDocumentExt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDocument">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/ModifyDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentKey">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/UpdateDocumentKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentMetadata">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/UpdateDocumentMetadata" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDocumentB2k">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/ModifyDocumentB2k" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataDefinition">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetMetaDataDefinition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMetaData">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/CheckMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7MGetExpDate">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/P7MGetExpDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7MGetAllExpDate">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/P7MGetAllExpDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASDetachDocument">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/ASDetachDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsHash">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentsHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7MAddRawSignature">
      <soap:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/P7MAddRawSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BiblosWS2010Soap12" type="tns:BiblosWS2010Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetChainInfo">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetChainInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfoSearch">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentInfoSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeaded">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentHeaded" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeadedEx">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentHeadedEx" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDirect">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentDirect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocument">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/AddDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentExt">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/AddDocumentExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDocument">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/ModifyDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentKey">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/UpdateDocumentKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentMetadata">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/UpdateDocumentMetadata" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDocumentB2k">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/ModifyDocumentB2k" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataDefinition">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetMetaDataDefinition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMetaData">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/CheckMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7MGetExpDate">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/P7MGetExpDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7MGetAllExpDate">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/P7MGetAllExpDate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASDetachDocument">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/ASDetachDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsHash">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/GetDocumentsHash" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7MAddRawSignature">
      <soap12:operation soapAction="http://www.vecompsoftware.it/BiblosDSWS/P7MAddRawSignature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BiblosWS2010HttpGet" type="tns:BiblosWS2010HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetChainInfo">
      <http:operation location="/GetChainInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <http:operation location="/GetDocumentInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfoSearch">
      <http:operation location="/GetDocumentInfoSearch" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeaded">
      <http:operation location="/GetDocumentHeaded" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeadedEx">
      <http:operation location="/GetDocumentHeadedEx" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <http:operation location="/GetDocument" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDirect">
      <http:operation location="/GetDocumentDirect" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentExt">
      <http:operation location="/AddDocumentExt" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDocument">
      <http:operation location="/ModifyDocument" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentKey">
      <http:operation location="/UpdateDocumentKey" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentMetadata">
      <http:operation location="/UpdateDocumentMetadata" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDocumentB2k">
      <http:operation location="/ModifyDocumentB2k" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataDefinition">
      <http:operation location="/GetMetaDataDefinition" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMetaData">
      <http:operation location="/CheckMetaData" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASDetachDocument">
      <http:operation location="/ASDetachDocument" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsHash">
      <http:operation location="/GetDocumentsHash" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7MAddRawSignature">
      <http:operation location="/P7MAddRawSignature" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BiblosWS2010HttpPost" type="tns:BiblosWS2010HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetChainInfo">
      <http:operation location="/GetChainInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <http:operation location="/GetDocumentInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfoSearch">
      <http:operation location="/GetDocumentInfoSearch" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeaded">
      <http:operation location="/GetDocumentHeaded" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentHeadedEx">
      <http:operation location="/GetDocumentHeadedEx" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocument">
      <http:operation location="/GetDocument" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentDirect">
      <http:operation location="/GetDocumentDirect" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentExt">
      <http:operation location="/AddDocumentExt" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDocument">
      <http:operation location="/ModifyDocument" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentKey">
      <http:operation location="/UpdateDocumentKey" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentMetadata">
      <http:operation location="/UpdateDocumentMetadata" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyDocumentB2k">
      <http:operation location="/ModifyDocumentB2k" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMetaDataDefinition">
      <http:operation location="/GetMetaDataDefinition" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckMetaData">
      <http:operation location="/CheckMetaData" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ASDetachDocument">
      <http:operation location="/ASDetachDocument" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsHash">
      <http:operation location="/GetDocumentsHash" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7MAddRawSignature">
      <http:operation location="/P7MAddRawSignature" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BiblosWS2010">
    <wsdl:port name="BiblosWS2010Soap" binding="tns:BiblosWS2010Soap">
      <soap:address location="http://localhost/BiblosDS.WS/BiblosDS.asmx" />
    </wsdl:port>
    <wsdl:port name="BiblosWS2010Soap12" binding="tns:BiblosWS2010Soap12">
      <soap12:address location="http://localhost/BiblosDS.WS/BiblosDS.asmx" />
    </wsdl:port>
    <wsdl:port name="BiblosWS2010HttpGet" binding="tns:BiblosWS2010HttpGet">
      <http:address location="http://localhost/BiblosDS.WS/BiblosDS.asmx" />
    </wsdl:port>
    <wsdl:port name="BiblosWS2010HttpPost" binding="tns:BiblosWS2010HttpPost">
      <http:address location="http://localhost/BiblosDS.WS/BiblosDS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>