SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.SM.ACATA/Web References/RepositoryService/RepositoryService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="repositoryservice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:archive="archive.acaris.acta.doqui.it" name="RepositoryService" targetNamespace="repositoryservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="common.acaris.acta.doqui.it">
      <xsd:include schemaLocation="ACARIS-Common.xsd" />
    </xsd:schema>
    <xsd:schema targetNamespace="archive.acaris.acta.doqui.it">
      <xsd:include schemaLocation="ACARIS-Archive.xsd" />
      <xsd:include schemaLocation="ACARIS-ArchiveMessaging.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="acarisException">
    <wsdl:part name="fault" element="common:acarisFault" />
  </wsdl:message>
  <wsdl:message name="getRepositoriesRequest">
    <wsdl:part name="input" element="archive:getRepositories" />
  </wsdl:message>
  <wsdl:message name="getRepositoriesResponse">
    <wsdl:part name="output" element="archive:getRepositoriesResponse" />
  </wsdl:message>
  <wsdl:message name="getRepositoryInfoRequest">
    <wsdl:part name="input" element="archive:getRepositoryInfo" />
  </wsdl:message>
  <wsdl:message name="getRepositoryInfoResponse">
    <wsdl:part name="output" element="archive:getRepositoryInfoResponse" />
  </wsdl:message>
  <wsdl:portType name="RepositoryServicePort">
    <wsdl:operation name="getRepositories">
      <wsdl:input message="tns:getRepositoriesRequest" />
      <wsdl:output message="tns:getRepositoriesResponse" />
      <wsdl:fault name="getRepositoriesFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getRepositoryInfo">
      <wsdl:input message="tns:getRepositoryInfoRequest" />
      <wsdl:output message="tns:getRepositoryInfoResponse" />
      <wsdl:fault name="getRepositoryInfoFault" message="tns:acarisException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RepositoryServiceBinding" type="tns:RepositoryServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getRepositories">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getRepositoriesFault">
        <soap:fault use="literal" name="getRepositoriesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRepositoryInfo">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getRepositoryInfoFault">
        <soap:fault use="literal" name="getRepositoryInfoFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RepositoryService">
    <wsdl:port name="RepositoryServicePort" binding="tns:RepositoryServiceBinding">
      <soap:address location="http://localhost:${HttpDefaultPort}/repositoryservice/repositoryserviceaPort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>