SOURCE_BIBLOSDS/BiblosDS.UnitTest.PublicWCF/Service References/ServiceReferencePreservation/Preservation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Vecomp.BiblosDs.Preservation" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Vecomp.BiblosDs.Preservation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Vecomp.BiblosDs.Preservation/Imports">
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd0" namespace="http://Vecomp.BiblosDs.Preservation" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/PreservationEvents" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd5" namespace="http://BiblosDS/2009/10/ContentFormat" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd6" namespace="http://BiblosDS/2009/10/Content" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd7" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd8" namespace="http://BiblosDS/2009/10/PreservationTask" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd9" namespace="http://BiblosDS/2009/10/PreservationAlert" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd10" namespace="http://BiblosDS/2009/10/PreservationAlertType" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd11" namespace="http://BiblosDS/2009/10/PreservationRole" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd12" namespace="http://BiblosDS/2009/10/PreservationUserRole" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd13" namespace="http://BiblosDS/2009/10/Archive" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd14" namespace="http://BiblosDS/2009/10/ArchiveServerConfig" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd15" namespace="http://BiblosDS/2009/10/Server" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd16" namespace="http://BiblosDS/2009/10/ServerRole" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd17" namespace="http://BiblosDS/2009/10/Storage" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd18" namespace="http://BiblosDS/2009/10/StorageType" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd19" namespace="http://BiblosDS/2009/10/PreservationUser" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd20" namespace="http://BiblosDS/2009/10/PreservationTaskType" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd21" namespace="http://BiblosDS/2009/10/PreservationScheduleTaskType" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd22" namespace="http://BiblosDS/2009/10/PreservationSchedule" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd23" namespace="http://BiblosDS/2009/10/PreservationTaskTypes" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd24" namespace="http://BiblosDS/2009/10/PreservationTaskGroup" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd25" namespace="http://BiblosDS/2009/10/PreservationTaskGroupType" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd26" namespace="http://BiblosDS/2009/10/PreservationTaskResponse" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd27" namespace="http://BiblosDS/2009/10/ResponseBase" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd28" namespace="http://BiblosDS/2009/10/ResponseError" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd29" namespace="http://BiblosDS/2009/10/PreservationTaskDatesResponse" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd30" namespace="http://BiblosDS/2009/10/PreservationInfoResponse" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd31" namespace="http://BiblosDS/2009/10/PreservationResponse" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd32" namespace="http://BiblosDS/2009/10/PreservationError" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd33" namespace="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Enums" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd34" namespace="http://BiblosDS/2009/10/Document" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd35" namespace="http://BiblosDS/2009/10/AttributeValue" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd36" namespace="http://BiblosDS/2009/10/Attribute" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd37" namespace="http://BiblosDS/2009/10/AttributeGroup" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd38" namespace="http://BiblosDS/2009/10/FilterOperator" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd39" namespace="http://BiblosDS/2009/10/AttributeMode" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd40" namespace="http://BiblosDS/2009/10/Certificate" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd41" namespace="http://BiblosDS/2009/10/DocumentServer" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd42" namespace="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Objects" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd43" namespace="http://BiblosDS/2009/10/StorageArea" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd44" namespace="http://BiblosDS/2009/10/Permission" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd45" namespace="http://BiblosDS/2009/10/PermissionMode" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd46" namespace="http://BiblosDS/2009/10/Preservation" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd47" namespace="http://BiblosDS/2009/10/PreservationJournaling" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd48" namespace="http://BiblosDS/2009/10/PreservationJournalingActivity" />
      <xsd:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd49" namespace="http://BiblosDS/2009/10/DocumentAttach" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPreservation_VerifyPreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPreservation" />
  </wsdl:message>
  <wsdl:message name="IPreservation_VerifyPreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyPreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_VerifyPreservation_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q1:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_PreservationHistory_InputMessage">
    <wsdl:part name="parameters" element="tns:PreservationHistory" />
  </wsdl:message>
  <wsdl:message name="IPreservation_PreservationHistory_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreservationHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_PreservationHistory_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q2:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationTaskStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationTaskStatus" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationTaskStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationTaskStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationTaskStatus_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q3:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_PreparePreservationTask_InputMessage">
    <wsdl:part name="parameters" element="tns:PreparePreservationTask" />
  </wsdl:message>
  <wsdl:message name="IPreservation_PreparePreservationTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:PreparePreservationTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_PreparePreservationTask_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q4:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetIdPreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdPreservation" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetIdPreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdPreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetIdPreservation_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q5:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetClosingPreservationHash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClosingPreservationHash" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetClosingPreservationHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClosingPreservationHashResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetClosingPreservationHash_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q6:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_ConfirmSignedPreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmSignedPreservation" />
  </wsdl:message>
  <wsdl:message name="IPreservation_ConfirmSignedPreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfirmSignedPreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_ConfirmSignedPreservation_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q7:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationAdEMark_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationAdEMark" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationAdEMark_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationAdEMarkResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationAdEMark_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q8:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationCloseFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationCloseFile" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationCloseFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationCloseFileResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationCloseFile_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q9:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_CreatePreservationTask_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePreservationTask" />
  </wsdl:message>
  <wsdl:message name="IPreservation_CreatePreservationTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePreservationTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_UpdatePreservationTask_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePreservationTask" />
  </wsdl:message>
  <wsdl:message name="IPreservation_UpdatePreservationTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePreservationTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_UpdatePreservationTask_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q10:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationTask" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationTask_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q11:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationTasksByArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationTasksByArchive" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationTasksByArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationTasksByArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationTasksByArchive_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q12:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetNextPreservationTaskDatesForArchive_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPreservationTaskDatesForArchive" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetNextPreservationTaskDatesForArchive_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextPreservationTaskDatesForArchiveResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetNextPreservationTaskDatesForArchive_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q13:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_ExecutePreservationTask_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecutePreservationTask" />
  </wsdl:message>
  <wsdl:message name="IPreservation_ExecutePreservationTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecutePreservationTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_ExecutePreservationTask_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q14:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_EnablePreservationTaskByActivationPin_InputMessage">
    <wsdl:part name="parameters" element="tns:EnablePreservationTaskByActivationPin" />
  </wsdl:message>
  <wsdl:message name="IPreservation_EnablePreservationTaskByActivationPin_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnablePreservationTaskByActivationPinResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_EnablePreservationTaskByActivationPin_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q15:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_UpdateDocumentMetadata_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentMetadata" />
  </wsdl:message>
  <wsdl:message name="IPreservation_UpdateDocumentMetadata_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDocumentMetadataResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_UpdateDocumentMetadata_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q16:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationFromTask_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationFromTask" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationFromTask_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreservationFromTaskResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_GetPreservationFromTask_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q17:BiblosDsException" />
  </wsdl:message>
  <wsdl:message name="IPreservation_RemovePendigPreservation_InputMessage">
    <wsdl:part name="parameters" element="tns:RemovePendigPreservation" />
  </wsdl:message>
  <wsdl:message name="IPreservation_RemovePendigPreservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemovePendigPreservationResponse" />
  </wsdl:message>
  <wsdl:message name="IPreservation_RemovePendigPreservation_BiblosDsExceptionFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Exceptions" name="detail" element="q18:BiblosDsException" />
  </wsdl:message>
  <wsdl:portType name="IPreservation">
    <wsdl:operation name="VerifyPreservation">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/VerifyPreservation" message="tns:IPreservation_VerifyPreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/VerifyPreservationResponse" message="tns:IPreservation_VerifyPreservation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/VerifyPreservationBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_VerifyPreservation_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreservationHistory">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/PreservationHistory" message="tns:IPreservation_PreservationHistory_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/PreservationHistoryResponse" message="tns:IPreservation_PreservationHistory_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/PreservationHistoryBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_PreservationHistory_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreservationTaskStatus">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTaskStatus" message="tns:IPreservation_GetPreservationTaskStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTaskStatusResponse" message="tns:IPreservation_GetPreservationTaskStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTaskStatusBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_GetPreservationTaskStatus_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreparePreservationTask">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/PreparePreservationTask" message="tns:IPreservation_PreparePreservationTask_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/PreparePreservationTaskResponse" message="tns:IPreservation_PreparePreservationTask_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/PreparePreservationTaskBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_PreparePreservationTask_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIdPreservation">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetIdPreservation" message="tns:IPreservation_GetIdPreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetIdPreservationResponse" message="tns:IPreservation_GetIdPreservation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetIdPreservationBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_GetIdPreservation_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClosingPreservationHash">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetClosingPreservationHash" message="tns:IPreservation_GetClosingPreservationHash_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetClosingPreservationHashResponse" message="tns:IPreservation_GetClosingPreservationHash_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetClosingPreservationHashBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_GetClosingPreservationHash_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmSignedPreservation">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/ConfirmSignedPreservation" message="tns:IPreservation_ConfirmSignedPreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/ConfirmSignedPreservationResponse" message="tns:IPreservation_ConfirmSignedPreservation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/ConfirmSignedPreservationBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_ConfirmSignedPreservation_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreservationAdEMark">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationAdEMark" message="tns:IPreservation_GetPreservationAdEMark_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationAdEMarkResponse" message="tns:IPreservation_GetPreservationAdEMark_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationAdEMarkBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_GetPreservationAdEMark_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreservationCloseFile">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationCloseFile" message="tns:IPreservation_GetPreservationCloseFile_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationCloseFileResponse" message="tns:IPreservation_GetPreservationCloseFile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationCloseFileBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_GetPreservationCloseFile_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePreservationTask">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/CreatePreservationTask" message="tns:IPreservation_CreatePreservationTask_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/CreatePreservationTaskResponse" message="tns:IPreservation_CreatePreservationTask_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePreservationTask">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/UpdatePreservationTask" message="tns:IPreservation_UpdatePreservationTask_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/UpdatePreservationTaskResponse" message="tns:IPreservation_UpdatePreservationTask_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/UpdatePreservationTaskBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_UpdatePreservationTask_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreservationTask">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTask" message="tns:IPreservation_GetPreservationTask_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTaskResponse" message="tns:IPreservation_GetPreservationTask_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTaskBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_GetPreservationTask_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreservationTasksByArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTasksByArchive" message="tns:IPreservation_GetPreservationTasksByArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTasksByArchiveResponse" message="tns:IPreservation_GetPreservationTasksByArchive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationTasksByArchiveBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_GetPreservationTasksByArchive_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextPreservationTaskDatesForArchive">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetNextPreservationTaskDatesForArchive" message="tns:IPreservation_GetNextPreservationTaskDatesForArchive_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetNextPreservationTaskDatesForArchiveResponse" message="tns:IPreservation_GetNextPreservationTaskDatesForArchive_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetNextPreservationTaskDatesForArchiveBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_GetNextPreservationTaskDatesForArchive_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecutePreservationTask">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/ExecutePreservationTask" message="tns:IPreservation_ExecutePreservationTask_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/ExecutePreservationTaskResponse" message="tns:IPreservation_ExecutePreservationTask_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/ExecutePreservationTaskBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_ExecutePreservationTask_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnablePreservationTaskByActivationPin">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/EnablePreservationTaskByActivationPin" message="tns:IPreservation_EnablePreservationTaskByActivationPin_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/EnablePreservationTaskByActivationPinResponse" message="tns:IPreservation_EnablePreservationTaskByActivationPin_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/EnablePreservationTaskByActivationPinBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_EnablePreservationTaskByActivationPin_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentMetadata">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/UpdateDocumentMetadata" message="tns:IPreservation_UpdateDocumentMetadata_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/UpdateDocumentMetadataResponse" message="tns:IPreservation_UpdateDocumentMetadata_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/UpdateDocumentMetadataBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_UpdateDocumentMetadata_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPreservationFromTask">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationFromTask" message="tns:IPreservation_GetPreservationFromTask_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationFromTaskResponse" message="tns:IPreservation_GetPreservationFromTask_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/GetPreservationFromTaskBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_GetPreservationFromTask_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemovePendigPreservation">
      <wsdl:input wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/RemovePendigPreservation" message="tns:IPreservation_RemovePendigPreservation_InputMessage" />
      <wsdl:output wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/RemovePendigPreservationResponse" message="tns:IPreservation_RemovePendigPreservation_OutputMessage" />
      <wsdl:fault wsaw:Action="http://Vecomp.BiblosDs.Preservation/IPreservation/RemovePendigPreservationBiblosDsExceptionFault" name="BiblosDsExceptionFault" message="tns:IPreservation_RemovePendigPreservation_BiblosDsExceptionFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>