SOURCE_BIBLOSDS/BiblosDS.UnitTest.PublicWCF/Service References/ServiceReferencePreservation/Preservation12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Vecomp.BiblosDs.Preservation" elementFormDefault="qualified" targetNamespace="http://Vecomp.BiblosDs.Preservation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/PreservationEvents" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd5" namespace="http://BiblosDS/2009/10/ContentFormat" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd6" namespace="http://BiblosDS/2009/10/Content" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd8" namespace="http://BiblosDS/2009/10/PreservationTask" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd13" namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd26" namespace="http://BiblosDS/2009/10/PreservationTaskResponse" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd23" namespace="http://BiblosDS/2009/10/PreservationTaskTypes" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd29" namespace="http://BiblosDS/2009/10/PreservationTaskDatesResponse" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd30" namespace="http://BiblosDS/2009/10/PreservationInfoResponse" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd46" namespace="http://BiblosDS/2009/10/Preservation" />
  <xs:element name="VerifyPreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q1:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VerifyPreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="VerifyPreservationResult" type="xs:boolean" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="messages" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreservationHistory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreservationHistoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://BiblosDS/2009/10/PreservationEvents" minOccurs="0" name="PreservationHistoryResult" nillable="true" type="q4:ArrayOfPreservationEvents" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetPreservationTaskStatusResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreparePreservationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PreparePreservationTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PreparePreservationTaskResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdPreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" type="q7:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdPreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetIdPreservationResult" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosingPreservationHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClosingPreservationHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetClosingPreservationHashResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSignedPreservation">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmSignedPreservationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmSignedPreservationResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationAdEMark">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q10:guid" />
        <xs:element xmlns:q11="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q11:ContentFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationAdEMarkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetPreservationAdEMarkResult" nillable="true" type="q12:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationCloseFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idPreservation" type="q13:guid" />
        <xs:element xmlns:q14="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q14:ContentFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationCloseFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetPreservationCloseFileResult" nillable="true" type="q15:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreservationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="tasks" nillable="true" type="q16:ArrayOfPreservationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreatePreservationTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="CreatePreservationTaskResult" nillable="true" type="q17:ArrayOfPreservationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePreservationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="tasks" nillable="true" type="q18:ArrayOfPreservationTask" />
        <xs:element minOccurs="0" name="updateCorrelatedTasks" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePreservationTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="UpdatePreservationTaskResult" nillable="true" type="q19:ArrayOfPreservationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" type="q20:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="GetPreservationTaskResult" nillable="true" type="q21:PreservationTask" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTasksByArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://BiblosDS/2009/10/Archive" minOccurs="0" name="archives" nillable="true" type="q22:ArrayOfArchive" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationTasksByArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://BiblosDS/2009/10/PreservationTaskResponse" minOccurs="0" name="GetPreservationTasksByArchiveResult" nillable="true" type="q23:PreservationTaskResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPreservationTaskDatesForArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idArchive" type="q24:guid" />
        <xs:element xmlns:q25="http://BiblosDS/2009/10/PreservationTaskTypes" minOccurs="0" name="types" nillable="true" type="q25:ArrayOfPreservationTaskTypes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextPreservationTaskDatesForArchiveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://BiblosDS/2009/10/PreservationTaskDatesResponse" minOccurs="0" name="GetNextPreservationTaskDatesForArchiveResult" nillable="true" type="q26:ArrayOfPreservationTaskDatesResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutePreservationTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecutePreservationTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://BiblosDS/2009/10/PreservationInfoResponse" minOccurs="0" name="ExecutePreservationTaskResult" nillable="true" type="q28:PreservationInfoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnablePreservationTaskByActivationPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTaskToEnable" type="q29:guid" />
        <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="activationPin" type="q30:guid" />
        <xs:element minOccurs="0" name="mininumDaysOffset" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnablePreservationTaskByActivationPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnablePreservationTaskByActivationPinResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentMetadata">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idArchive" type="q31:guid" />
        <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="documentAttributes" nillable="true" type="q32:ArrayOfKeyValueOfguidArrayOfAttributeValuey1hZpZQQ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentMetadataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="UpdateDocumentMetadataResult" nillable="true" type="q33:ArrayOfKeyValueOfguidBiblosDsExceptiond2wNHIHl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationFromTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idTask" type="q34:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreservationFromTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://BiblosDS/2009/10/Preservation" minOccurs="0" name="GetPreservationFromTaskResult" nillable="true" type="q35:Preservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePendigPreservation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idArchive" type="q36:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePendigPreservationResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>