SOURCE_BIBLOSDS/BiblosDS.UnitTest.PublicWCF/Service References/ServiceReferencePreservation/Preservation2720.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/PreservationTaskDatesResponse" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationTaskDatesResponse" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1526/Preservation.svc?xsd=xsd27" namespace="http://BiblosDS/2009/10/ResponseBase" />
  <xs:complexType name="ArrayOfPreservationTaskDatesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreservationTaskDatesResponse" nillable="true" type="tns:PreservationTaskDatesResponse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreservationTaskDatesResponse" nillable="true" type="tns:ArrayOfPreservationTaskDatesResponse" />
  <xs:complexType name="PreservationTaskDatesResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/ResponseBase" base="q1:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EstimatedExecution" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ExecutionDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdArchive" type="ser:guid" />
          <xs:element minOccurs="0" name="IsVerifyTask" type="xs:boolean" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreservationTaskDatesResponse" nillable="true" type="tns:PreservationTaskDatesResponse" />
</xs:schema>