SOURCE_BIBLOSDS/BiblosDS.UnitTest.WebService/Service References/PreservationAdministrationSvc/PreservationAdministration119.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/PreservationAlert" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationAlert" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/BiblosDs.WCF/PreservationAdministration.svc?xsd=xsd23" namespace="http://BiblosDS/2009/10/PreservationAlertType" />
  <xs:import schemaLocation="http://localhost:1526/BiblosDs.WCF/PreservationAdministration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1526/BiblosDs.WCF/PreservationAdministration.svc?xsd=xsd21" namespace="http://BiblosDS/2009/10/PreservationTask" />
  <xs:import schemaLocation="http://localhost:1526/BiblosDs.WCF/PreservationAdministration.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="ArrayOfPreservationAlert">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreservationAlert" nillable="true" type="tns:PreservationAlert" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreservationAlert" nillable="true" type="tns:ArrayOfPreservationAlert" />
  <xs:complexType name="PreservationAlert">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlertDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q2="http://BiblosDS/2009/10/PreservationAlertType" minOccurs="0" name="AlertType" nillable="true" type="q2:PreservationAlertType" />
          <xs:element minOccurs="0" name="ForwardFrequency" nillable="true" type="xs:short" />
          <xs:element minOccurs="0" name="IdPreservationAlert" type="ser:guid" />
          <xs:element minOccurs="0" name="MadeDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="Task" nillable="true" type="q3:PreservationTask" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreservationAlert" nillable="true" type="tns:PreservationAlert" />
</xs:schema>