SOURCE_BIBLOSDS/BiblosDS.UnitTest.WebService/Service References/PreservationAdministrationSvc/PreservationAdministration13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/PreservationStorageDeviceStatus" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationStorageDeviceStatus" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/BiblosDs.WCF/PreservationAdministration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="PreservationStorageDeviceStatus">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdPreservationStorageDeviceStatus" type="ser:guid" />
      <xs:element minOccurs="0" name="KeyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PreservationStorageDeviceStatus" nillable="true" type="tns:PreservationStorageDeviceStatus" />
</xs:schema>