SOURCE_BIBLOSDS/BiblosDS.UnitTest.WebService/Service References/PreservationAdministrationSvc/PreservationAdministration112.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/PreservationUser" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationUser" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/BiblosDs.WCF/PreservationAdministration.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1526/BiblosDs.WCF/PreservationAdministration.svc?xsd=xsd25" namespace="http://BiblosDS/2009/10/PreservationUserRole" />
  <xs:import schemaLocation="http://localhost:1526/BiblosDs.WCF/PreservationAdministration.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="PreservationUser">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Address" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ArchiveName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DomainUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
          <xs:element minOccurs="0" name="FiscalId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdPreservationUser" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://BiblosDS/2009/10/PreservationUserRole" minOccurs="0" name="UserRoles" nillable="true" type="q2:ArrayOfPreservationUserRole" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreservationUser" nillable="true" type="tns:PreservationUser" />
  <xs:complexType name="ArrayOfPreservationUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreservationUser" nillable="true" type="tns:PreservationUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreservationUser" nillable="true" type="tns:ArrayOfPreservationUser" />
</xs:schema>