SOURCE_BIBLOSDS/BiblosDS.WCF.WCFServices/Service References/ServiceReferencePreservation/ArchiveCompany.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BiblosDS/2009/10/ArchiveCompany" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/ArchiveCompany" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import namespace="http://BiblosDS/2009/10/Company" />
  <xs:import namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="ArrayOfArchiveCompany">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveCompany" nillable="true" type="tns:ArchiveCompany" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveCompany" nillable="true" type="tns:ArrayOfArchiveCompany" />
  <xs:complexType name="ArchiveCompany">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q2:Archive" />
          <xs:element minOccurs="0" name="AwardBatchXSLTFile" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/Company" minOccurs="0" name="Company" nillable="true" type="q3:Company" />
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TemplateXSLTFile" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkingDir" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="XmlFileTemplatePath" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArchiveCompany" nillable="true" type="tns:ArchiveCompany" />
</xs:schema>