SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Services.BiblosDS/Service References/SignService/DigitalSignature3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd2" namespace="http://BiblosDS/2009/10/Content" />
  <xs:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/Certificate" />
  <xs:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd5" namespace="http://BiblosDS/2009/10/ComputeHashType" />
  <xs:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="GetAllExpireDates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://BiblosDS/2009/10/Content" minOccurs="0" name="Content" nillable="true" type="q1:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllExpireDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://BiblosDS/2009/10/Certificate" minOccurs="0" name="GetAllExpireDatesResult" nillable="true" type="q2:ArrayOfCertificate" />
        <xs:element xmlns:q3="http://BiblosDS/2009/10/Certificate" minOccurs="0" name="FirstCertificate" nillable="true" type="q3:Certificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateBlobHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://BiblosDS/2009/10/Content" minOccurs="0" name="Content" nillable="true" type="q4:Content" />
        <xs:element xmlns:q5="http://BiblosDS/2009/10/ComputeHashType" minOccurs="0" name="computeHash" type="q5:ComputeHashType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalculateBlobHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://BiblosDS/2009/10/Content" minOccurs="0" name="CalculateBlobHashResult" nillable="true" type="q6:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://BiblosDS/2009/10/Content" minOccurs="0" name="Content" nillable="true" type="q7:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetContentResult" nillable="true" type="q8:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeStampDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://BiblosDS/2009/10/Content" minOccurs="0" name="Content" nillable="true" type="q9:Content" />
        <xs:element minOccurs="0" name="InfoCamereFormat" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeStampDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://BiblosDS/2009/10/Content" minOccurs="0" name="TimeStampDocumentResult" nillable="true" type="q10:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeStampDigitalDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q11:guid" />
        <xs:element minOccurs="0" name="timeStampAccount" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TimeStampDigitalDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeStampAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Service" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeStampAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTimeStampAvailableResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRawSignature">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
        <xs:element xmlns:q12="http://BiblosDS/2009/10/Content" minOccurs="0" name="SignerCert" nillable="true" type="q12:Content" />
        <xs:element xmlns:q13="http://BiblosDS/2009/10/Content" minOccurs="0" name="SignedDigest" nillable="true" type="q13:Content" />
        <xs:element xmlns:q14="http://BiblosDS/2009/10/Content" minOccurs="0" name="Content" nillable="true" type="q14:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddRawSignatureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://BiblosDS/2009/10/Content" minOccurs="0" name="AddRawSignatureResult" nillable="true" type="q15:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignDigitalDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q16:guid" />
        <xs:element minOccurs="0" name="docDigest" nillable="true" type="xs:string" />
        <xs:element xmlns:q17="http://BiblosDS/2009/10/Certificate" minOccurs="0" name="signerCert" nillable="true" type="q17:Certificate" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignDigitalDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalTimestampAvailable">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timestampAccount" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDigitalTimestampAvailableResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDigitalTimestampAvailableResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsHash">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idDocuments" nillable="true" type="q18:ArrayOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsHashResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetDocumentsHashResult" nillable="true" type="q19:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBlobSigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://BiblosDS/2009/10/Content" minOccurs="0" name="content" nillable="true" type="q20:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsBlobSignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsBlobSignedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>