SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Services.BiblosDS/Service References/SignService/DigitalSignature.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DigitalSignature" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd2" namespace="http://BiblosDS/2009/10/Content" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/Certificate" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd5" namespace="http://BiblosDS/2009/10/ComputeHashType" />
      <xsd:import schemaLocation="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceDigitalSign_GetAllExpireDates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExpireDates" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_GetAllExpireDates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllExpireDatesResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_CalculateBlobHash_InputMessage">
    <wsdl:part name="parameters" element="tns:CalculateBlobHash" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_CalculateBlobHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalculateBlobHashResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_GetContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContent" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_GetContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_TimeStampDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:TimeStampDocument" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_TimeStampDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimeStampDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_TimeStampDigitalDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:TimeStampDigitalDocument" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_TimeStampDigitalDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimeStampDigitalDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_GetTimeStampAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeStampAvailable" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_GetTimeStampAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeStampAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_AddRawSignature_InputMessage">
    <wsdl:part name="parameters" element="tns:AddRawSignature" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_AddRawSignature_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRawSignatureResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_SignDigitalDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SignDigitalDocument" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_SignDigitalDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignDigitalDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_GetDigitalTimestampAvailable_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalTimestampAvailable" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_GetDigitalTimestampAvailable_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDigitalTimestampAvailableResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_GetDocumentsHash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsHash" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_GetDocumentsHash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsHashResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_IsBlobSigned_InputMessage">
    <wsdl:part name="parameters" element="tns:IsBlobSigned" />
  </wsdl:message>
  <wsdl:message name="IServiceDigitalSign_IsBlobSigned_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsBlobSignedResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceDigitalSign">
    <wsdl:operation name="GetAllExpireDates">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetAllExpireDates" message="tns:IServiceDigitalSign_GetAllExpireDates_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetAllExpireDatesResponse" message="tns:IServiceDigitalSign_GetAllExpireDates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalculateBlobHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/CalculateBlobHash" message="tns:IServiceDigitalSign_CalculateBlobHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/CalculateBlobHashResponse" message="tns:IServiceDigitalSign_CalculateBlobHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetContent" message="tns:IServiceDigitalSign_GetContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetContentResponse" message="tns:IServiceDigitalSign_GetContent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimeStampDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/TimeStampDocument" message="tns:IServiceDigitalSign_TimeStampDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/TimeStampDocumentResponse" message="tns:IServiceDigitalSign_TimeStampDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimeStampDigitalDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/TimeStampDigitalDocument" message="tns:IServiceDigitalSign_TimeStampDigitalDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/TimeStampDigitalDocumentResponse" message="tns:IServiceDigitalSign_TimeStampDigitalDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeStampAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetTimeStampAvailable" message="tns:IServiceDigitalSign_GetTimeStampAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetTimeStampAvailableResponse" message="tns:IServiceDigitalSign_GetTimeStampAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddRawSignature">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/AddRawSignature" message="tns:IServiceDigitalSign_AddRawSignature_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/AddRawSignatureResponse" message="tns:IServiceDigitalSign_AddRawSignature_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignDigitalDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/SignDigitalDocument" message="tns:IServiceDigitalSign_SignDigitalDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/SignDigitalDocumentResponse" message="tns:IServiceDigitalSign_SignDigitalDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/IsAlive" message="tns:IServiceDigitalSign_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/IsAliveResponse" message="tns:IServiceDigitalSign_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDigitalTimestampAvailable">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetDigitalTimestampAvailable" message="tns:IServiceDigitalSign_GetDigitalTimestampAvailable_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetDigitalTimestampAvailableResponse" message="tns:IServiceDigitalSign_GetDigitalTimestampAvailable_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsHash">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetDocumentsHash" message="tns:IServiceDigitalSign_GetDocumentsHash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/GetDocumentsHashResponse" message="tns:IServiceDigitalSign_GetDocumentsHash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsBlobSigned">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceDigitalSign/IsBlobSigned" message="tns:IServiceDigitalSign_IsBlobSigned_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceDigitalSign/IsBlobSignedResponse" message="tns:IServiceDigitalSign_IsBlobSigned_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceDigitalSign" type="tns:IServiceDigitalSign">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllExpireDates">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/GetAllExpireDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalculateBlobHash">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/CalculateBlobHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetContent">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/GetContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeStampDocument">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/TimeStampDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TimeStampDigitalDocument">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/TimeStampDigitalDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeStampAvailable">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/GetTimeStampAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddRawSignature">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/AddRawSignature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SignDigitalDocument">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/SignDigitalDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDigitalTimestampAvailable">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/GetDigitalTimestampAvailable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsHash">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/GetDocumentsHash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsBlobSigned">
      <soap:operation soapAction="http://tempuri.org/IServiceDigitalSign/IsBlobSigned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DigitalSignature">
    <wsdl:port name="BasicHttpBinding_IServiceDigitalSign" binding="tns:BasicHttpBinding_IServiceDigitalSign">
      <soap:address location="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/DigitalSignature.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>