SOURCE_BIBLOSDS/BiblosDS.UnitTest.WCF/Service References/ServiceReferenceTIOCA/ServiceTIOCA2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CAServiceTIO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CAServiceTIO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CertRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Pin" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertRequest" nillable="true" type="tns:CertRequest" />
  <xs:complexType name="CertResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cert" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CertResponse" nillable="true" type="tns:CertResponse" />
</xs:schema>