SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.ENEA.Wide/Connected Services/InserisciAllegatiService/InserisciAllegatiService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Wide/WebService.nsf/InserisciAllegatiService.wsdl" name="InserisciAllegatiService" targetNamespace="http://Wide/WebService.nsf/InserisciAllegatiService.wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Wide/WebService.nsf/InserisciAllegatiService.wsdl">
      <xsd:element name="inserisciAllegatiRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="NumeroProtocollo" type="tns:Obbl_Type" />
            <xsd:element name="TipoAllegato" type="tns:TipoAllegato_Type" />
            <xsd:element maxOccurs="unbounded" name="Tipologia" type="tns:Tipologia_Type" />
            <xsd:element maxOccurs="unbounded" name="Titolo" type="tns:Obbl_Type256" />
            <xsd:element maxOccurs="unbounded" name="Descrizione" type="tns:Obbl_Type256" />
            <xsd:element name="PathFile" type="tns:Obbl_Type256" />
            <xsd:element maxOccurs="unbounded" name="NomeFile" type="tns:Obbl_Type256" />
            <xsd:element name="utente" type="tns:Obbl_Type" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="inserisciAllegatiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="esito" type="tns:Esito_Type" />
            <xsd:element minOccurs="0" name="DescrizioneErrore" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="TipoAllegato_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="P" />
          <xsd:enumeration value="R" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Tipologia_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="O" />
          <xsd:enumeration value="A" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Obbl_Type256">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Stringa_Type">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="0" />
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Obbl_Type">
        <xsd:restriction base="xsd:string">
          <xsd:minLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Esito_Type">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="0" />
          <xsd:enumeration value="1" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="inserisciAllegatiRequest">
    <wsdl:part name="inserisciAllegatiRequest" element="tns:inserisciAllegatiRequest" />
  </wsdl:message>
  <wsdl:message name="inserisciAllegatiResponse">
    <wsdl:part name="inserisciAllegatiResponse" element="tns:inserisciAllegatiResponse" />
  </wsdl:message>
  <wsdl:portType name="InserisciAllegatiServicePortType">
    <wsdl:operation name="InserimentoAllegati">
      <wsdl:input message="tns:inserisciAllegatiRequest" />
      <wsdl:output message="tns:inserisciAllegatiResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InserisciAllegatiServiceBinding" type="tns:InserisciAllegatiServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InserimentoAllegati">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InserisciAllegatiService">
    <wsdl:port name="InserisciAllegatiServicePort" binding="tns:InserisciAllegatiServiceBinding">
      <soap:address location="http://urano.sede.enea.it/Wide/WebService.nsf/InserisciAllegatiWebService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>