SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Services.BiblosDS/Service References/SearchService/ContentSearch.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Vecomp.BiblosDs.ContentSearch" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContentSearch" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://Vecomp.BiblosDs.ContentSearch" location="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/ContentSearch.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IContentSearch" type="i0:IContentSearch">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchQueryPaged">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/SearchQueryPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchQuery">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/SearchQuery" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchQueryLatestVersion">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/SearchQueryLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchQueryContext">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/SearchQueryContext" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchQueryContextLatestVersion">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/SearchQueryContextLatestVersion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentChains">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/GetAllDocumentChains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocuments">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/GetAllDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDocumentsWithThumbnail">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/GetAllDocumentsWithThumbnail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsByAttributeValue">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/GetDocumentsByAttributeValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagingDocumentsByAttributeValue">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/GetPagingDocumentsByAttributeValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsByAttributeValueContains">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/GetDocumentsByAttributeValueContains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPagingDocumentsByAttributeValueContains">
      <soap:operation soapAction="http://Vecomp.BiblosDs.ContentSearch/IContentSearch/GetPagingDocumentsByAttributeValueContains" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentSearch">
    <wsdl:port name="BasicHttpBinding_IContentSearch" binding="tns:BasicHttpBinding_IContentSearch">
      <soap:address location="http://srvgeddev9999.cloudapp.net/BiblosDS2010WCF/ContentSearch.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>