SOURCE_JEEPSERVICES/Modules/VecompSoftware.JeepService.AVCP/ENCO-WSDL/ServiceAVCP.asmx.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s1="DBP.DB.Objects.AVCP" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s2="legge190_1_0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="DBP.DB.Objects.AVCP" />
      <s:element name="PutOrganoDeliberante">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Servizio" type="tns:WSDBPAVCPOrganiDelibernatiInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSDBPAVCPOrganiDelibernatiInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceServizio" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DescrizioneServizio" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PutOrganoDeliberanteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutOrganoDeliberanteResult" type="tns:WSDBPAVCPOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSDBPAVCPOutput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="result" type="tns:ArrayOfWSDBPAVCPResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfWSDBPAVCPResult">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="WSDBPAVCPResult" nillable="true" type="tns:WSDBPAVCPResult" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="WSDBPAVCPResult">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCode" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="ReturnCodeDescription" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PutDelibera">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Atto" type="tns:WSDBPAVCPDelibereInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSDBPAVCPDelibereInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceServizio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnnoAtto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroAtto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="DataAtto" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="TipoAtto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Oggetto" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LinkEsterno" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Segnatura" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CodiceEsternoAtto" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="PutDeliberaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PutDeliberaResult" type="tns:WSDBPAVCPOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDatiAVCP">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="input" type="tns:WSDBPAVCPPubblicazioneInput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSDBPAVCPPubblicazioneInput">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CodiceServizio" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="AnnoAtto" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="NumeroAtto" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDatiAVCPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDatiAVCPResult" type="tns:WSDBPPubblicazioneOutput" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="WSDBPPubblicazioneOutput">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="AttoConcluso" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="DatiAvcp" type="s1:pubblicazione" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" type="tns:WSDBPAVCPResult" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="DBP.DB.Objects.AVCP">
      <s:import namespace="legge190_1_0" />
      <s:complexType name="pubblicazione">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="metadata">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="titolo" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="abstract" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="dataPubbicazioneDataset" type="s:date" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="entePubblicatore" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="dataUltimoAggiornamentoDataset" type="s:date" />
                <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="annoRiferimento" type="s:int" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="urlFile" type="s:anyURI" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="licenza" />
              </s:sequence>
            </s:complexType>
          </s:element>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="data" type="s1:ArrayOfPubblicazioneLotto" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfPubblicazioneLotto">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="lotto">
            <s:complexType>
              <s:sequence>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="cig" type="s:string" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="strutturaProponente">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codiceFiscaleProp" type="s:string" />
                      <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="denominazione" type="s:string" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="oggetto" type="s:string" />
                <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="sceltaContraente" type="s1:sceltaContraenteType" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="partecipanti">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="raggruppamento" type="s1:ArrayOfRaggruppamentoType" />
                      <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="partecipante" type="s1:singoloType" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="aggiudicatari">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="aggiudicatarioRaggruppamento" type="s2:raggruppamentoType" />
                      <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="aggiudicatario" type="s1:singoloType" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="importoAggiudicazione" type="s:decimal" />
                <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="tempiCompletamento">
                  <s:complexType>
                    <s:sequence>
                      <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataInizio" type="s:date" />
                      <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="dataUltimazione" type="s:date" />
                    </s:sequence>
                  </s:complexType>
                </s:element>
                <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="importoSommeLiquidate" type="s:decimal" />
              </s:sequence>
            </s:complexType>
          </s:element>
        </s:sequence>
      </s:complexType>
      <s:simpleType name="sceltaContraenteType">
        <s:restriction base="s:string">
          <s:enumeration value="01-PROCEDURA APERTA" />
          <s:enumeration value="02-PROCEDURA RISTRETTA" />
          <s:enumeration value="03-PROCEDURA NEGOZIATA PREVIA PUBBLICAZIONE DEL BANDO" />
          <s:enumeration value="04-PROCEDURA NEGOZIATA SENZA PREVIA PUBBLICAZIONE DEL BANDO" />
          <s:enumeration value="05-DIALOGO COMPETITIVO" />
          <s:enumeration value="06-PROCEDURA NEGOZIATA SENZA PREVIA INDIZIONE DI  GARA ART. 221 D.LGS. 163/2006" />
          <s:enumeration value="07-SISTEMA DINAMICO DI ACQUISIZIONE" />
          <s:enumeration value="08-AFFIDAMENTO IN ECONOMIA - COTTIMO FIDUCIARIO" />
          <s:enumeration value="14-PROCEDURA SELETTIVA EX ART 238 C.7, D.LGS. 163/2006" />
          <s:enumeration value="17-AFFIDAMENTO DIRETTO EX ART. 5 DELLA LEGGE N.381/91" />
          <s:enumeration value="21-PROCEDURA RISTRETTA DERIVANTE DA AVVISI CON CUI SI INDICE LA GARA" />
          <s:enumeration value="22-PROCEDURA NEGOZIATA DERIVANTE DA AVVISI CON CUI SI INDICE LA GARA" />
          <s:enumeration value="23-AFFIDAMENTO IN ECONOMIA - AFFIDAMENTO DIRETTO" />
          <s:enumeration value="24-AFFIDAMENTO DIRETTO A SOCIETA' IN HOUSE" />
          <s:enumeration value="25-AFFIDAMENTO DIRETTO A SOCIETA' RAGGRUPPATE/CONSORZIATE O CONTROLLATE NELLE CONCESSIONI DI LL.PP" />
          <s:enumeration value="26-AFFIDAMENTO DIRETTO IN ADESIONE AD ACCORDO QUADRO/CONVENZIONE" />
          <s:enumeration value="27-CONFRONTO COMPETITIVO IN ADESIONE AD ACCORDO QUADRO/CONVENZIONE" />
          <s:enumeration value="28-PROCEDURA AI SENSI DEI REGOLAMENTI DEGLI ORGANI COSTITUZIONALI" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ArrayOfRaggruppamentoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="raggruppamento" type="s2:raggruppamentoType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="aggregatoType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codiceFiscale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="identificativoFiscaleEstero" type="s:string" />
          </s:choice>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ragioneSociale" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" form="unqualified" name="ruolo" type="s1:ruoloType" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="ruoloType">
        <s:restriction base="s:string">
          <s:enumeration value="01-MANDANTE" />
          <s:enumeration value="02-MANDATARIA" />
          <s:enumeration value="03-ASSOCIATA" />
          <s:enumeration value="04-CAPOGRUPPO" />
          <s:enumeration value="05-CONSORZIATA" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="singoloType">
        <s:sequence>
          <s:choice minOccurs="1" maxOccurs="1">
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="codiceFiscale" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="identificativoFiscaleEstero" type="s:string" />
          </s:choice>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="ragioneSociale" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="legge190_1_0">
      <s:import namespace="DBP.DB.Objects.AVCP" />
      <s:complexType name="raggruppamentoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" form="unqualified" name="membro" type="s2:ArrayOfAggregatoType" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfAggregatoType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" form="unqualified" name="membro" type="s1:aggregatoType" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PutOrganoDeliberanteSoapIn">
    <wsdl:part name="parameters" element="tns:PutOrganoDeliberante" />
  </wsdl:message>
  <wsdl:message name="PutOrganoDeliberanteSoapOut">
    <wsdl:part name="parameters" element="tns:PutOrganoDeliberanteResponse" />
  </wsdl:message>
  <wsdl:message name="PutDeliberaSoapIn">
    <wsdl:part name="parameters" element="tns:PutDelibera" />
  </wsdl:message>
  <wsdl:message name="PutDeliberaSoapOut">
    <wsdl:part name="parameters" element="tns:PutDeliberaResponse" />
  </wsdl:message>
  <wsdl:message name="GetDatiAVCPSoapIn">
    <wsdl:part name="parameters" element="tns:GetDatiAVCP" />
  </wsdl:message>
  <wsdl:message name="GetDatiAVCPSoapOut">
    <wsdl:part name="parameters" element="tns:GetDatiAVCPResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceAVCPSoap">
    <wsdl:operation name="PutOrganoDeliberante">
      <wsdl:input message="tns:PutOrganoDeliberanteSoapIn" />
      <wsdl:output message="tns:PutOrganoDeliberanteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PutDelibera">
      <wsdl:input message="tns:PutDeliberaSoapIn" />
      <wsdl:output message="tns:PutDeliberaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDatiAVCP">
      <wsdl:input message="tns:GetDatiAVCPSoapIn" />
      <wsdl:output message="tns:GetDatiAVCPSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceAVCPSoap" type="tns:ServiceAVCPSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutOrganoDeliberante">
      <soap:operation soapAction="http://tempuri.org/PutOrganoDeliberante" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutDelibera">
      <soap:operation soapAction="http://tempuri.org/PutDelibera" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatiAVCP">
      <soap:operation soapAction="http://tempuri.org/GetDatiAVCP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceAVCPSoap12" type="tns:ServiceAVCPSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PutOrganoDeliberante">
      <soap12:operation soapAction="http://tempuri.org/PutOrganoDeliberante" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PutDelibera">
      <soap12:operation soapAction="http://tempuri.org/PutDelibera" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDatiAVCP">
      <soap12:operation soapAction="http://tempuri.org/GetDatiAVCP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceAVCP">
    <wsdl:port name="ServiceAVCPSoap" binding="tns:ServiceAVCPSoap">
      <soap:address location="http://10.0.1.4:7800/WSDBPAVCP/ServiceAVCP.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceAVCPSoap12" binding="tns:ServiceAVCPSoap12">
      <soap12:address location="http://10.0.1.4:7800/WSDBPAVCP/ServiceAVCP.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>