SOURCE_BIBLOSDS/BiblosDS.UnitTest.WCF/Service References/ServiceReferenceStorage/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://BiblosDS/2009/10/Document" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="AddDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q1:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="AddDocumentResult" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q3:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentResult" nillable="true" type="q4:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q5:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q6:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreAttributeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q7:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WriteAttributeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIntegrity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q8:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIntegrityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIntegrityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>