SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceDocument/Documents21.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Vecomp.BiblosDs.Documents" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Documents" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://Vecomp.BiblosDs.Documents" location="http://localhost:1526/Documents.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IDocuments" type="i0:IDocuments">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDocumentContent">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInServer">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentInServer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentConformContent">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentConformContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentChain">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CreateDocumentChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDocument">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/ConfirmDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToChain">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentToChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloneDocumentToChain">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CloneDocumentToChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToChainPDFCrypted">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentToChainPDFCrypted" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToMaster">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentToMaster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentChainWithWorkflow">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentChainWithWorkflow" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAttributesDefinition">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetAttributesDefinition" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckIsReady">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckIsReady" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckIntegrity">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckIntegrity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChainInfo">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetChainInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChainInfoDetails">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetChainInfoDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckOutDocumentContent">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckOutDocumentContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckOutDocument">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckOutDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UndoCheckOutDocument">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UndoCheckOutDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckInDocument">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckInDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArchives">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetArchives" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStorages">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetStorages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStorageAreas">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetStorageAreas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentId">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetVisibleChain">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/SetVisibleChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetVisibleDocument">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/SetVisibleDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsDocumentSigned">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/IsDocumentSigned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSigned">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentSigned" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentLink">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentLink">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DeleteDocumentLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLinks">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentAttach">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentAttach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDocumentAttach">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/ConfirmDocumentAttach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentAttachs">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentAttachs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentAttachContent">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentAttachContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetVisibleDocumentAttach">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/SetVisibleDocumentAttach" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveStatistics">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetArchiveStatistics" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentContentById">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentContentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfoById">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsInfoByIdPaged">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentsInfoByIdPaged" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentChain">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/InsertDocumentChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmChain">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/ConfirmChain" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UpdateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentName">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UpdateDocumentName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckMetaData">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckMetaData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChainInfoById">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetChainInfoById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetadataStructure">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetMetadataStructure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentCheckOut">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentCheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentUndoCheckOut">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentUndoCheckOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentAttributeCheckIn">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentAttributeCheckIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentCheckIn">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentCheckIn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentMoveToArchive">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentMoveToArchive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentMoveToStorage">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentMoveToStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentMoveFromTransito">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentMoveFromTransito" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RestoreAttribute">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/RestoreAttribute" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SignDocument">
      <soap:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/SignDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Documents">
    <wsdl:port name="BasicHttpBinding_IDocuments" binding="tns:BasicHttpBinding_IDocuments">
      <soap:address location="http://localhost:1526/Documents.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>