SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceDocument/Documents1728.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/Document" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/Document" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd7" namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd13" namespace="http://BiblosDS/2009/10/AttributeValue" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd18" namespace="http://BiblosDS/2009/10/Certificate" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/Content" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd19" namespace="http://BiblosDS/2009/10/DocumentServer" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd22" namespace="http://BiblosDS/2009/10/Permission" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd24" namespace="http://BiblosDS/2009/10/Preservation" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd20" namespace="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Objects" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd11" namespace="http://BiblosDS/2009/10/Storage" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd21" namespace="http://BiblosDS/2009/10/StorageArea" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="Document">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q2:Archive" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/AttributeValue" minOccurs="0" name="AttributeValues" nillable="true" type="q3:ArrayOfAttributeValue" />
          <xs:element xmlns:q4="http://BiblosDS/2009/10/Certificate" minOccurs="0" name="Certificate" nillable="true" type="q4:Certificate" />
          <xs:element minOccurs="0" name="ChainOrder" type="xs:int" />
          <xs:element xmlns:q5="http://BiblosDS/2009/10/Content" minOccurs="0" name="Content" nillable="true" type="q5:Content" />
          <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateExpire" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateMain" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DocumentHash" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://BiblosDS/2009/10/DocumentServer" minOccurs="0" name="DocumentInServer" nillable="true" type="q6:ArrayOfDocumentServer" />
          <xs:element minOccurs="0" name="DocumentLink" nillable="true" type="tns:Document" />
          <xs:element minOccurs="0" name="DocumentParent" nillable="true" type="tns:Document" />
          <xs:element minOccurs="0" name="FullSign" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdArchiveCertificate" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IdBiblos" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="IdDocument" type="ser:guid" />
          <xs:element minOccurs="0" name="IdPreservation" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IdUserCheckOut" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsCheckOut" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsConservated" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLatestVersion" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsLinked" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsVisible" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q7="http://BiblosDS/2009/10/Permission" minOccurs="0" name="Permissions" nillable="true" type="q7:ArrayOfPermission" />
          <xs:element xmlns:q8="http://BiblosDS/2009/10/Preservation" minOccurs="0" name="Preservation" nillable="true" type="q8:Preservation" />
          <xs:element minOccurs="0" name="PreservationName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PrimaryKeyValue" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SignHeader" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Size" nillable="true" type="xs:long" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BiblosDS.Library.Common.Objects" minOccurs="0" name="Status" nillable="true" type="q9:Status" />
          <xs:element xmlns:q10="http://BiblosDS/2009/10/Storage" minOccurs="0" name="Storage" nillable="true" type="q10:Storage" />
          <xs:element xmlns:q11="http://BiblosDS/2009/10/StorageArea" minOccurs="0" name="StorageArea" nillable="true" type="q11:StorageArea" />
          <xs:element xmlns:q12="http://BiblosDS/2009/10/Content" minOccurs="0" name="ThumbnailContent" nillable="true" type="q12:Content" />
          <xs:element minOccurs="0" name="Version" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
</xs:schema>