SOURCE_WEBAPI/VecompSoftware.DocSuite.Document.BiblosDS/Service References/DocumentService/Documents4821.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/AttributeGroup" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/AttributeGroup" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://./BiblosDS2010WCF/Documents.svc?xsd=xsd16" namespace="http://BiblosDS/2009/10/FilterOperator" />
  <xs:import schemaLocation="http://./BiblosDS2010WCF/Documents.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://./BiblosDS2010WCF/Documents.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="AttributeGroup">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element name="Description" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://BiblosDS/2009/10/FilterOperator" minOccurs="0" name="GroupType" type="q2:AttributeGroupType" />
          <xs:element minOccurs="0" name="IdArchive" type="ser:guid" />
          <xs:element name="IdAttributeGroup" type="ser:guid" />
          <xs:element minOccurs="0" name="IsVisible" nillable="true" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AttributeGroup" nillable="true" type="tns:AttributeGroup" />
</xs:schema>