SOURCE_WEBAPI/VecompSoftware.DocSuite.Document.BiblosDS/Service References/DocumentService/Documents4830.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/Preservation" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/Preservation" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF/Documents.svc?xsd=xsd7" namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF/Documents.svc?xsd=xsd6" namespace="http://BiblosDS/2009/10/Document" />
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF/Documents.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF/Documents.svc?xsd=xsd25" namespace="http://BiblosDS/2009/10/PreservationJournaling" />
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF/Documents.svc?xsd=xsd30" namespace="http://BiblosDS/2009/10/PreservationTask" />
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF/Documents.svc?xsd=xsd37" namespace="http://BiblosDS/2009/10/PreservationTaskGroup" />
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF/Documents.svc?xsd=xsd27" namespace="http://BiblosDS/2009/10/PreservationUser" />
  <xs:import schemaLocation="http://localhost/BiblosDS2010WCF/Documents.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="Preservation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q2:Archive" />
          <xs:element minOccurs="0" name="CloseContent" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="CloseDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/Document" minOccurs="0" name="Documents" nillable="true" type="q3:ArrayOfDocument" />
          <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdArchiveBiblosStore" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IdDocumentCloseFile" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IdDocumentIndexFile" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IdDocumentIndexFileXML" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IdDocumentIndexFileXSLT" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IdDocumentSignedCloseFile" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IdDocumentSignedIndexFile" nillable="true" type="ser:guid" />
          <xs:element minOccurs="0" name="IdPreservation" type="ser:guid" />
          <xs:element minOccurs="0" name="IndexHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsPreservationInStorageDevice" type="xs:boolean" />
          <xs:element minOccurs="0" name="Label" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastVerifiedDate" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="LockOnDocumentInsert" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Path" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PathHash" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PreservationDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q4="http://BiblosDS/2009/10/PreservationJournaling" minOccurs="0" name="PreservationJournalings" nillable="true" type="q4:ArrayOfPreservationJournaling" />
          <xs:element minOccurs="0" name="StartDate" nillable="true" type="xs:dateTime" />
          <xs:element xmlns:q5="http://BiblosDS/2009/10/PreservationTask" minOccurs="0" name="Task" nillable="true" type="q5:PreservationTask" />
          <xs:element xmlns:q6="http://BiblosDS/2009/10/PreservationTaskGroup" minOccurs="0" name="TaskGroup" nillable="true" type="q6:PreservationTaskGroup" />
          <xs:element xmlns:q7="http://BiblosDS/2009/10/PreservationUser" minOccurs="0" name="User" nillable="true" type="q7:PreservationUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Preservation" nillable="true" type="tns:Preservation" />
</xs:schema>