SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceTransit/Transit29.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Vecomp.BiblosDs.Transit" elementFormDefault="qualified" targetNamespace="http://Vecomp.BiblosDs.Transit" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Transit.svc?xsd=xsd2" namespace="http://BiblosDS/2009/10/DocumentResponse" />
  <xs:import schemaLocation="http://localhost:1526/Transit.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetTransitListDocumentsPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTransitListDocumentsPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://BiblosDS/2009/10/DocumentResponse" minOccurs="0" name="GetTransitListDocumentsPagedResult" nillable="true" type="q1:DocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTransitArchiveDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTransitArchiveDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreTransitArchiveDocumentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTransitDocuments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTransitDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreTransitDocumentsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTransitDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreTransitDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StoreTransitDocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>