SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceTransit/Transit43.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/PreservationJournaling" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationJournaling" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Transit.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1526/Transit.svc?xsd=xsd19" namespace="http://BiblosDS/2009/10/Preservation" />
  <xs:import schemaLocation="http://localhost:1526/Transit.svc?xsd=xsd21" namespace="http://BiblosDS/2009/10/PreservationJournalingActivity" />
  <xs:import schemaLocation="http://localhost:1526/Transit.svc?xsd=xsd22" namespace="http://BiblosDS/2009/10/PreservationUser" />
  <xs:import schemaLocation="http://localhost:1526/Transit.svc?xsd=xsd6" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="ArrayOfPreservationJournaling">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreservationJournaling" nillable="true" type="tns:PreservationJournaling" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreservationJournaling" nillable="true" type="tns:ArrayOfPreservationJournaling" />
  <xs:complexType name="PreservationJournaling">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DateActivity" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DateCreated" nillable="true" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DomainUser" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IdPreservationJournaling" type="ser:guid" />
          <xs:element minOccurs="0" name="Notes" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Preservation" minOccurs="0" name="Preservation" nillable="true" type="q2:Preservation" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/PreservationJournalingActivity" minOccurs="0" name="PreservationJournalingActivity" nillable="true" type="q3:PreservationJournalingActivity" />
          <xs:element xmlns:q4="http://BiblosDS/2009/10/PreservationUser" minOccurs="0" name="User" nillable="true" type="q4:PreservationUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreservationJournaling" nillable="true" type="tns:PreservationJournaling" />
</xs:schema>