SOURCE_BIBLOSDS/BiblosDS.UnitTest.PublicWCF/Service References/ServiceReferenceDocument/Documents21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://Vecomp.BiblosDs.Documents" elementFormDefault="qualified" targetNamespace="http://Vecomp.BiblosDs.Documents" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/Document" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd38" namespace="http://BiblosDS/2009/10/DocumentAttach" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd17" namespace="http://BiblosDS/2009/10/Content" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd39" namespace="http://BiblosDS/2009/10/ArchiveStatistics" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd40" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd41" namespace="http://BiblosDS/2009/10/DocumentResponse" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd12" namespace="http://BiblosDS/2009/10/Attribute" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd5" namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd9" namespace="http://BiblosDS/2009/10/Storage" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd44" namespace="http://BiblosDS/2009/10/ContentFormat" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd11" namespace="http://BiblosDS/2009/10/AttributeValue" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd18" namespace="http://BiblosDS/2009/10/DocumentServer" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd20" namespace="http://BiblosDS/2009/10/StorageArea" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd16" namespace="http://BiblosDS/2009/10/Certificate" />
  <xs:element name="DeleteDocumentLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocumentLink" type="q2:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDocumentLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteDocumentLinkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentLinks">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentLinksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentLinksResult" nillable="true" type="q4:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q5:guid" />
        <xs:element xmlns:q6="http://BiblosDS/2009/10/DocumentAttach" minOccurs="0" name="attach" nillable="true" type="q6:DocumentAttach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentAttachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://BiblosDS/2009/10/DocumentAttach" minOccurs="0" name="AddDocumentAttachResult" nillable="true" type="q7:DocumentAttach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDocumentAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocumentAttach" type="q8:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDocumentAttachResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmDocumentAttachResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q9:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://BiblosDS/2009/10/DocumentAttach" minOccurs="0" name="GetDocumentAttachsResult" nillable="true" type="q10:ArrayOfDocumentAttach" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocumentAttach" type="q11:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentAttachContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetDocumentAttachContentResult" nillable="true" type="q12:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleDocumentAttach">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q13:guid" />
        <xs:element minOccurs="0" name="visible" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleDocumentAttachResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveStatistics">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idArchive" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchiveStatisticsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://BiblosDS/2009/10/ArchiveStatistics" minOccurs="0" name="GetArchiveStatisticsResult" nillable="true" type="q15:ArchiveStatistics" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q16:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetDocumentContentByIdResult" nillable="true" type="q17:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q18:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentInfoByIdResult" nillable="true" type="q19:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsInfoByIdPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idDocuments" nillable="true" type="q20:ArrayOfguid" />
        <xs:element minOccurs="0" name="skip" type="xs:int" />
        <xs:element minOccurs="0" name="take" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsInfoByIdPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://BiblosDS/2009/10/DocumentResponse" minOccurs="0" name="GetDocumentsInfoByIdPagedResult" nillable="true" type="q21:DocumentResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocumentChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q22:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertDocumentChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://BiblosDS/2009/10/Document" minOccurs="0" name="InsertDocumentChainResult" nillable="true" type="q23:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdParent" type="q24:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmChainResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q25:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q26:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckMetaDataResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q27:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetChainInfoByIdResult" nillable="true" type="q28:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdArchive" type="q29:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetadataStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://BiblosDS/2009/10/Attribute" minOccurs="0" name="GetMetadataStructureResult" nillable="true" type="q30:ArrayOfAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q31:guid" />
        <xs:element minOccurs="0" name="latestVersion" type="xs:boolean" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://BiblosDS/2009/10/Document" minOccurs="0" name="DocumentCheckOutResult" nillable="true" type="q32:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentUndoCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q33:guid" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentUndoCheckOutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentAttributeCheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q34:Document" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentAttributeCheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DocumentAttributeCheckInResult" type="q35:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q36:Document" />
        <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentCheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="DocumentCheckInResult" type="q37:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToArchive">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q38:guid" />
        <xs:element xmlns:q39="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q39:Archive" />
        <xs:element minOccurs="0" name="ForceDelete" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToArchiveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToStorage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q40:guid" />
        <xs:element xmlns:q41="http://BiblosDS/2009/10/Storage" minOccurs="0" name="Storage" nillable="true" type="q41:Storage" />
        <xs:element minOccurs="0" name="ForceDelete" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveToStorageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveFromTransito">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q42:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentMoveFromTransitoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreAttribute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q43:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreAttributeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SignDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q44:guid" />
        <xs:element xmlns:q45="http://BiblosDS/2009/10/Content" minOccurs="0" name="SignerCert" nillable="true" type="q45:Content" />
        <xs:element xmlns:q46="http://BiblosDS/2009/10/Content" minOccurs="0" name="SignedDigest" nillable="true" type="q46:Content" />
        <xs:element xmlns:q47="http://BiblosDS/2009/10/Content" minOccurs="0" name="Content" nillable="true" type="q47:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SignDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q48:guid" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
        <xs:element xmlns:q49="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q49:ContentFormat" />
        <xs:element minOccurs="0" name="lastVersion" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetDocumentContentResult" nillable="true" type="q50:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInServer">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q51:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInServerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentInServerResult" nillable="true" type="q52:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentConformContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q53:guid" />
        <xs:element xmlns:q54="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q54:ContentFormat" />
        <xs:element minOccurs="0" name="xmlLabel" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentConformContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://BiblosDS/2009/10/Content" minOccurs="0" name="GetDocumentConformContentResult" nillable="true" type="q55:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q56:guid" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="lastVersion" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetDocumentInfoResult" nillable="true" type="q57:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocumentChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://BiblosDS/2009/10/AttributeValue" minOccurs="0" name="attributeValues" nillable="true" type="q58:ArrayOfAttributeValue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDocumentChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="CreateDocumentChainResult" type="q59:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q60:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfirmDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfirmDocumentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q61:Document" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idParent" nillable="true" type="q62:guid" />
        <xs:element xmlns:q63="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="inputFormat" type="q63:ContentFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToChainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://BiblosDS/2009/10/Document" minOccurs="0" name="AddDocumentToChainResult" nillable="true" type="q64:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q65:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentToMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://BiblosDS/2009/10/DocumentServer" minOccurs="0" name="AddDocumentToMasterResult" nillable="true" type="q66:DocumentServer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentChainWithWorkflow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q67:Document" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idParent" nillable="true" type="q68:guid" />
        <xs:element xmlns:q69="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="inputFormat" type="q69:ContentFormat" />
        <xs:element minOccurs="0" name="uriWorkflow" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentChainWithWorkflowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://BiblosDS/2009/10/Document" minOccurs="0" name="AddDocumentChainWithWorkflowResult" nillable="true" type="q70:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesDefinition">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAttributesDefinitionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://BiblosDS/2009/10/Attribute" minOccurs="0" name="GetAttributesDefinitionResult" nillable="true" type="q71:ArrayOfAttribute" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsReady">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://BiblosDS/2009/10/Document" minOccurs="0" name="Document" nillable="true" type="q72:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIsReadyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIsReadyResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIntegrity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q73:Document" />
        <xs:element minOccurs="0" name="forceSign" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIntegrityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckIntegrityResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idChain" type="q74:guid" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="lastVersion" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetChainInfoResult" nillable="true" type="q75:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idParent" type="q76:guid" />
        <xs:element minOccurs="0" name="isVisible" nillable="true" type="xs:boolean" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
        <xs:element minOccurs="0" name="lastVersion" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetChainInfoDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://BiblosDS/2009/10/Document" minOccurs="0" name="GetChainInfoDetailsResult" nillable="true" type="q77:ArrayOfDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutDocumentContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q78:guid" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q79="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q79:ContentFormat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutDocumentContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://BiblosDS/2009/10/Content" minOccurs="0" name="CheckOutDocumentContentResult" nillable="true" type="q80:Content" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q81:guid" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q82="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="outputFormat" type="q82:ContentFormat" />
        <xs:element minOccurs="0" name="returnContent" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://BiblosDS/2009/10/Document" minOccurs="0" name="CheckOutDocumentResult" nillable="true" type="q83:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOutDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q84:guid" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOutDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://BiblosDS/2009/10/Document" minOccurs="0" name="document" nillable="true" type="q85:Document" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
        <xs:element xmlns:q86="http://BiblosDS/2009/10/ContentFormat" minOccurs="0" name="inputFormat" type="q86:ContentFormat" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://BiblosDS/2009/10/Document" minOccurs="0" name="CheckInDocumentResult" nillable="true" type="q87:Document" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchives">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetArchivesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://BiblosDS/2009/10/Archive" minOccurs="0" name="GetArchivesResult" nillable="true" type="q88:ArrayOfArchive" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStoragesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://BiblosDS/2009/10/Storage" minOccurs="0" name="GetStoragesResult" nillable="true" type="q89:ArrayOfStorage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageAreas">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://BiblosDS/2009/10/Storage" minOccurs="0" name="storage" nillable="true" type="q90:Storage" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStorageAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://BiblosDS/2009/10/StorageArea" minOccurs="0" name="GetStorageAreasResult" nillable="true" type="q91:ArrayOfStorageArea" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAlive">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAliveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAliveResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="archiveName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idBiblos" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="GetDocumentIdResult" type="q92:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleChain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idChain" type="q93:guid" />
        <xs:element minOccurs="0" name="visibility" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleChainResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q94:guid" />
        <xs:element minOccurs="0" name="visibility" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetVisibleDocumentResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDocumentSigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q95:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsDocumentSignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsDocumentSignedResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentSigned">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="idDocument" type="q96:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentSignedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://BiblosDS/2009/10/Certificate" minOccurs="0" name="GetDocumentSignedResult" nillable="true" type="q97:ArrayOfCertificate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentLink">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocument" type="q98:guid" />
        <xs:element xmlns:q99="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IdDocumentLink" type="q99:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDocumentLinkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddDocumentLinkResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>