SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.ENPACL.Invoices/Models/ENPACL_INVOICE_INDEX.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fatture">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="documento" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="tipo_servizio"/>
              <xs:element type="xs:int" name="codice_ente"/>
              <xs:element type="xs:string" name="codice_ipa"/>
              <xs:element type="xs:int" name="id_documento"/>
              <xs:element type="xs:int" name="id_tkn_ass"/>
              <xs:element type="xs:long" name="id_flusso_sdi"/>
              <xs:element type="xs:string" name="nome_file"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>