SOURCE_JEEPSERVICES/Modules/VecompSoftware.JeepService.PosteWeb/Web References/LolService/LOLService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://ComunicazioniElettroniche.LOL.WS" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LOLService" targetNamespace="http://ComunicazioniElettroniche.LOL.WS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://ComunicazioniElettroniche.LOL.WS">
      <xsd:element name="RecuperaIdRichiesta">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="RecuperaIdRichiestaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RecuperaIdRichiestaResult" type="tns:RecuperaIdRichiestaResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RecuperaIdRichiestaResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="IDRichiesta" type="xsd:string" />
          <xsd:element xmlns:q1="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q1:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecuperaDCS">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element xmlns:q2="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q2:Richiesta" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecuperaDCSResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RecuperaDCSResult" type="tns:RecuperaDCSResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RecuperaDCSResult">
        <xsd:sequence>
          <xsd:element xmlns:q3="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Documento" type="q3:Documento" />
          <xsd:element xmlns:q4="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q4:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecuperaInfo">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element xmlns:q5="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q5:Richiesta" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecuperaInfoResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RecuperaInfoResult" type="tns:RecuperaInfoResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RecuperaInfoResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="LOL" type="tns:LOLInfo" />
          <xsd:element xmlns:q6="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Valorizzazione" type="q6:Valorizzazione" />
          <xsd:element xmlns:q7="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q7:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LOLInfo">
        <xsd:sequence>
          <xsd:element xmlns:q8="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Mittente" type="q8:Mittente" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Destinatari" type="tns:ArrayOfDestinatario" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NumeroDestinatari" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Opzioni" type="tns:Opzioni" />
          <xsd:element xmlns:q9="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="ServiziAggiuntivi" type="q9:ArrayOfServizioAggiuntivo" />
        </xsd:sequence>
        <xsd:attribute name="DataLettera" type="xsd:dateTime" use="required" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDestinatario">
        <xsd:sequence>
          <xsd:element xmlns:q10="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="Destinatario" nillable="true" type="q10:Destinatario" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Opzioni">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Inserti" type="tns:Inserti" />
          <xsd:element xmlns:q11="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="OpzionidiStampa" type="q11:OpzionidiStampa" />
          <xsd:element xmlns:q12="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="OpzioniAggiuntive" type="q12:ArrayOfServizioAggiuntivo" />
        </xsd:sequence>
        <xsd:attribute name="SecurPaper" type="xsd:boolean" use="required" />
        <xsd:attribute name="InserisciMittente" type="xsd:boolean" use="required" />
        <xsd:attribute name="DataStampa" type="xsd:dateTime" use="required" />
        <xsd:attribute name="FirmaElettronica" type="xsd:boolean" use="required" />
        <xsd:attribute name="Archiviazione" type="xsd:boolean" use="required" />
        <xsd:attribute name="DPM" type="xsd:boolean" use="required" />
      </xsd:complexType>
      <xsd:complexType name="Inserti">
        <xsd:attribute name="InserisciMittente" type="xsd:boolean" use="required" />
        <xsd:attribute name="Inserto" type="xsd:string" />
      </xsd:complexType>
      <xsd:element name="RecuperaDestinatari">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element xmlns:q13="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q13:Richiesta" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecuperaDestinatariResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RecuperaDestinatariResult" type="tns:RecuperaDestinatariResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RecuperaDestinatariResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Destinatari" type="tns:ArrayOfDestinatario" />
          <xsd:element xmlns:q14="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q14:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValidaDestinatari">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IDRichiesta" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Destinatari" type="tns:ArrayOfDestinatario" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValidaDestinatariResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ValidaDestinatariResults" type="tns:ValidaDestinatariResults" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ValidaDestinatariResults">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="DatiDestinatari" type="tns:ArrayOfValidaDestinatariResult" />
          <xsd:element xmlns:q15="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q15:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfValidaDestinatariResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ValidaDestinatariResult" nillable="true" type="tns:ValidaDestinatariResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValidaDestinatariResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Destinatari" type="tns:ArrayOfDestinatario" />
          <xsd:element xmlns:q16="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q16:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="InvioDoc">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element xmlns:q17="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q17:Richiesta" />
            <xsd:element xmlns:q18="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Documento" type="q18:Documento" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InvioDocResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="InvioDocResult" type="tns:InvioDocResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InvioDocResult">
        <xsd:sequence>
          <xsd:element xmlns:q19="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="DescrizioneFirma" type="q19:DescrizioneFirma" />
          <xsd:element xmlns:q20="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q20:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Invio">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IDRichiesta" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="Cliente" type="xsd:string" />
            <xsd:element minOccurs="0" maxOccurs="1" name="LOLSubmit" type="tns:LOLSubmit" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="LOLSubmit">
        <xsd:sequence>
          <xsd:element xmlns:q21="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Mittente" type="q21:Mittente" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Destinatari" type="tns:ArrayOfDestinatario" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NumeroDestinatari" type="xsd:int" />
          <xsd:element xmlns:q22="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="Documento" type="q22:Documento" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TestataCover" type="tns:TestataCover" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Opzioni" type="tns:Opzioni" />
          <xsd:element xmlns:q23="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="ServiziAggiuntivi" type="q23:ArrayOfServizioAggiuntivo" />
        </xsd:sequence>
        <xsd:attribute name="Nazionale" type="xsd:string" />
        <xsd:attribute name="ForzaInvioDestinazioniValide" type="xsd:boolean" use="required" />
      </xsd:complexType>
      <xsd:complexType name="TestataCover">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Logo" type="xsd:base64Binary" />
          <xsd:element xmlns:q24="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="ChiusuraLettera" type="q24:ArrayOfString5" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="InvioResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="InvioResult" type="tns:InvioResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="InvioResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="IDRichiesta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="GuidUtente" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LOLResponse" type="tns:LOLResponse" />
          <xsd:element xmlns:q25="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="DescrizioneFirma" type="q25:DescrizioneFirma" />
          <xsd:element xmlns:q26="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q26:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LOLResponse">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ValidaDestinatariResults" type="tns:ValidaDestinatariResults" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NumeroDestinatari" type="xsd:int" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecuperaEnquiry">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="TipoVisualizzazione" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecuperaEnquiryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RecuperaEnquiryResult" type="tns:RecuperaEnquiryResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RecuperaEnquiryResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="PreServiziEnquiry" type="tns:ArrayOfServizioEnquirySubmit" />
          <xsd:element xmlns:q27="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q27:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfServizioEnquirySubmit">
        <xsd:sequence>
          <xsd:element xmlns:q28="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="ServizioEnquiry" nillable="true" type="q28:ServizioEnquirySubmit" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Valorizza">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element xmlns:q29="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="Richieste" type="q29:Richiesta" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ValorizzaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ValorizzaResult" type="tns:ValorizzaResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ValorizzaResult">
        <xsd:sequence>
          <xsd:element xmlns:q30="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="ServizioEnquiryResponse" type="q30:ServizioEnquiryResponse" />
          <xsd:element xmlns:q31="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q31:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValorizzaSingle">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ServizioEnquiry" type="tns:ServizioSingleEnquirySubmit" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ServizioSingleEnquirySubmit">
        <xsd:sequence>
          <xsd:element xmlns:q32="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q32:Richiesta" />
          <xsd:element minOccurs="1" maxOccurs="1" name="RestituisciDocumento" type="xsd:boolean" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="ValorizzaSingleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ValorizzaSingleResult" type="tns:ValorizzaSingleResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ValorizzaSingleResult">
        <xsd:sequence>
          <xsd:element xmlns:q33="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="ServizioEnquiryResponse" type="q33:ServizioEnquiryResponse" />
          <xsd:element minOccurs="0" maxOccurs="1" name="LOLInfo" type="tns:LOLInfo" />
          <xsd:element xmlns:q34="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Documento" type="q34:Documento" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="PreConferma">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element xmlns:q35="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="Richieste" type="q35:Richiesta" />
            <xsd:element minOccurs="1" maxOccurs="1" name="autoConferma" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PreConfermaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PreConfermaResult" type="tns:PreConfermaResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="PreConfermaResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="IdOrdine" type="xsd:string" />
          <xsd:element xmlns:q36="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Valorizzazione" type="q36:Valorizzazione" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DestinatariLettera" type="tns:ArrayOfDestinatarioLettera" />
          <xsd:element xmlns:q37="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q37:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfDestinatarioLettera">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="ArrayOfDestinatarioLettera" nillable="true" type="tns:DestinatarioLettera" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DestinatarioLettera">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="IdRicevuta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Id" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="EPM" type="tns:EPM" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EPM">
        <xsd:attribute name="TimeStamp" type="xsd:string" />
        <xsd:attribute name="TranKey" type="xsd:string" />
        <xsd:attribute name="PostmarkToken" type="xsd:base64Binary" />
      </xsd:complexType>
      <xsd:element name="PostConferma">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdOrdine" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="ImportoCatturato" type="xsd:double" />
            <xsd:element minOccurs="1" maxOccurs="1" name="DataCattura" type="xsd:dateTime" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="PostConfermaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PostConfermaResult" type="tns:PostConfermaResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="PostConfermaResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="IdOrdine" type="xsd:string" />
          <xsd:element xmlns:q38="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q38:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Conferma">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdOrdine" type="xsd:string" />
            <xsd:element xmlns:q39="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="OpzionePagamento" type="q39:OpzionePagamento" />
            <xsd:element xmlns:q40="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="DatiTransazione" type="q40:DatiTransazione" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ConfermaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ConfermaResult" type="tns:ConfermaResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="ConfermaResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="DestinatariLettera" type="tns:ArrayOfDestinatarioLettera" />
          <xsd:element xmlns:q41="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q41:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Nascondi">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element xmlns:q42="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q42:Richiesta" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="NascondiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="NascondiResult" type="tns:NascondiResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="NascondiResult">
        <xsd:sequence>
          <xsd:element xmlns:q43="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q43:Richiesta" />
          <xsd:element xmlns:q44="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q44:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="AnnullaOrdine">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdOrdine" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="AbortRequest" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AnnullaOrdineResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="AnnullaOrdineResult" type="tns:AnnullaOrdineResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AnnullaOrdineResult">
        <xsd:sequence>
          <xsd:element xmlns:q45="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q45:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Annulla">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element xmlns:q46="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="Richieste" type="q46:Richiesta" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AnnullaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="AnnullaResult" type="tns:AnnullaResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="AnnullaResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="AnnullaItems" type="tns:AnnullaItem" />
          <xsd:element xmlns:q47="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q47:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AnnullaItem">
        <xsd:sequence>
          <xsd:element xmlns:q48="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q48:Richiesta" />
          <xsd:element xmlns:q49="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q49:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecuperaStatoIdRichiesta">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdRichiesta" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecuperaStatoIdRichiestaResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RecuperaStatoIdRichiestaResult" type="tns:GetStatoIdRichiestaResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetStatoIdRichiestaResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="StatoIdRichiesta" type="xsd:string" />
          <xsd:element xmlns:q50="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CeResult" type="q50:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecuperaStatoOrdine">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="IdOrdine" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecuperaStatoOrdineResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RecuperaStatoOrdineResult" type="tns:GetStatoOrdineResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="GetStatoOrdineResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="IdOrdine" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TicketId" type="tns:ArrayOfTicketId" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StatoIdRichiesta" type="tns:ArrayOfStatoIdRichiesta" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StatoOrdine" type="xsd:string" />
          <xsd:element xmlns:q51="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CeResult" type="q51:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfTicketId">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TicketId" nillable="true" type="tns:TicketId" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="TicketId">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="EPM" type="tns:EPM" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ReceipientId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ID" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ServiceId" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="RequestId" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="AcceptDate" type="xsd:dateTime" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfStatoIdRichiesta">
        <xsd:sequence>
          <xsd:element xmlns:q52="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="StatoIdRichiesta" nillable="true" type="q52:StatoIdRichiesta" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="RecuperaStati">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="unbounded" name="IdRichiesta" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RecuperaStatiResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RecuperaStatiResult" type="tns:RecuperaStatiResult" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="RecuperaStatiResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="OutputRichiesta" type="tns:OutputRichiestaResult" />
          <xsd:element xmlns:q53="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q53:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OutputRichiestaResult">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="OutputRichiesta" type="tns:OutputRichiesta" />
          <xsd:element xmlns:q54="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q54:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OutputRichiesta">
        <xsd:attribute name="IdRichiesta" type="xsd:string" />
        <xsd:attribute name="Stato" type="xsd:string" />
      </xsd:complexType>
      <xsd:element name="RecuperaNomiNazioniUPU">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="lingua" type="tns:CountryLanguage" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:simpleType name="CountryLanguage">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Italiano" />
          <xsd:enumeration value="Inglese" />
          <xsd:enumeration value="Francese" />
          <xsd:enumeration value="Italiano_Inglese" />
          <xsd:enumeration value="Italiano_Francese" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="RecuperaNomiNazioniUPUResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="RecuperaNomiNazioniUPUResult" type="tns:NomiUPUCountries" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="NomiUPUCountries">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Lingua" type="tns:CountryLanguage" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ListaNomi" type="tns:ArrayOfString" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://ComunicazioniElettroniche.XOL">
      <xsd:complexType name="CEResult">
        <xsd:attribute name="Type" type="xsd:string" />
        <xsd:attribute name="Code" type="xsd:string" />
        <xsd:attribute name="Description" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="Richiesta">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="IDRichiesta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="GuidUtente" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Documento">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Immagine" type="xsd:base64Binary" />
          <xsd:element minOccurs="0" maxOccurs="1" name="MD5" type="xsd:string" />
          <xsd:element xmlns:q55="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Firmatari" type="q55:ArrayOfString" />
        </xsd:sequence>
        <xsd:attribute name="TipoDocumento" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="Firma" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Mittente">
        <xsd:sequence>
          <xsd:element xmlns:q56="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Nominativo" type="q56:Nominativo" />
        </xsd:sequence>
        <xsd:attribute name="InviaStampa" type="xsd:boolean" use="required" />
      </xsd:complexType>
      <xsd:complexType name="Nominativo">
        <xsd:sequence>
          <xsd:element xmlns:q57="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Indirizzo" type="q57:Indirizzo" />
        </xsd:sequence>
        <xsd:attribute name="Zona" type="xsd:string" />
        <xsd:attribute name="TipoIndirizzo" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="NORMALE" />
              <xsd:enumeration value="CASELLA POSTALE" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="Stato" type="xsd:string" />
        <xsd:attribute name="Telefono" type="xsd:string" />
        <xsd:attribute name="ForzaDestinazione" type="xsd:boolean" use="required" />
        <xsd:attribute name="CasellaPostale" type="xsd:string" />
        <xsd:attribute name="UfficioPostale" type="xsd:string" />
        <xsd:attribute name="Provincia" type="xsd:string" />
        <xsd:attribute name="ComplementoNominativo" type="xsd:string" />
        <xsd:attribute name="RagioneSociale" type="xsd:string" />
        <xsd:attribute name="Cognome" type="xsd:string" />
        <xsd:attribute name="Nome" type="xsd:string" />
        <xsd:attribute name="Frazione" type="xsd:string" />
        <xsd:attribute name="Citta" type="xsd:string" />
        <xsd:attribute name="ComplementoIndirizzo" type="xsd:string" />
        <xsd:attribute name="CAP" type="xsd:string" />
        <xsd:anyAttribute />
      </xsd:complexType>
      <xsd:complexType name="Indirizzo">
        <xsd:attribute name="DUG" type="xsd:string" />
        <xsd:attribute name="Toponimo" type="xsd:string" />
        <xsd:attribute name="NumeroCivico" type="xsd:string" />
        <xsd:attribute name="Esponente" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="Destinatario">
        <xsd:sequence>
          <xsd:element xmlns:q58="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Nominativo" type="q58:Nominativo" />
          <xsd:element xmlns:q59="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Bollettino" type="q59:Bollettino" />
          <xsd:element xmlns:q60="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="Bollettini" type="q60:DescrizioneBollettino" />
          <xsd:element xmlns:q61="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="DettaglioCover" type="q61:DattaglioCover" />
        </xsd:sequence>
        <xsd:attribute name="IdRicevuta" type="xsd:string" />
        <xsd:attribute name="IdDestinatario" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="Bollettino">
        <xsd:sequence>
          <xsd:element xmlns:q62="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="IntestazioneBollettino" type="q62:IntestazioneBollettino" />
          <xsd:element xmlns:q63="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="DettagliBollettino" type="q63:DettagliBollettino" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IntestazioneBollettino">
        <xsd:attribute name="EseguitoDa" type="xsd:string" />
        <xsd:attribute name="Importo" type="xsd:double" use="required" />
        <xsd:attribute name="TipoBollettino" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="DettagliBollettino">
        <xsd:attribute name="IntestatoA" type="xsd:string" />
        <xsd:attribute name="Scadenza" type="xsd:dateTime" use="required" />
        <xsd:attribute name="NumeroCC" type="xsd:string" />
        <xsd:attribute name="Causale" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="DescrizioneBollettino">
        <xsd:sequence>
          <xsd:choice minOccurs="1" maxOccurs="1">
            <xsd:element minOccurs="0" maxOccurs="1" name="B451ModC">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="ContoCorrente" type="xsd:string" />
                  <xsd:element xmlns:q64="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="IntestatoA" type="q64:ArrayOfString1" />
                  <xsd:element xmlns:q65="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="EseguitoDa" type="q65:ArrayOfString2" />
                  <xsd:element xmlns:q66="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Causale" type="q66:ArrayOfString3" />
                </xsd:sequence>
                <xsd:attribute name="CodiceTD" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="B674">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="ContoCorrente" type="xsd:string" />
                  <xsd:element xmlns:q67="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="IntestatoA" type="q67:ArrayOfString1" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="CodiceCliente" type="xsd:string" />
                  <xsd:element xmlns:q68="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="EseguitoDa" type="q68:ArrayOfString2" />
                  <xsd:element xmlns:q69="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Causale" type="q69:ArrayOfString3" />
                </xsd:sequence>
                <xsd:attribute name="CodiceTD" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="B896">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="ContoCorrente" type="xsd:string" />
                  <xsd:element xmlns:q70="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="IntestatoA" type="q70:ArrayOfString1" />
                  <xsd:element minOccurs="0" maxOccurs="1" name="CodiceCliente" type="xsd:string" />
                  <xsd:element xmlns:q71="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="EseguitoDa" type="q71:ArrayOfString2" />
                  <xsd:element minOccurs="1" maxOccurs="1" name="Importo" type="xsd:decimal" />
                  <xsd:element xmlns:q72="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Causale" type="q72:ArrayOfString3" />
                </xsd:sequence>
                <xsd:attribute name="CodiceTD" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="B451ModB">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="ContoCorrente" type="xsd:string" />
                  <xsd:element xmlns:q73="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="IntestatoA" type="q73:ArrayOfString1" />
                  <xsd:element minOccurs="1" maxOccurs="1" name="Importo" type="xsd:decimal" />
                  <xsd:element xmlns:q74="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Causale" type="q74:ArrayOfString3" />
                </xsd:sequence>
                <xsd:attribute name="CodiceTD" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="B451ModD">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="ContoCorrente" type="xsd:string" />
                  <xsd:element xmlns:q75="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="IntestatoA" type="q75:ArrayOfString1" />
                  <xsd:element xmlns:q76="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="EseguitoDa" type="q76:ArrayOfString2" />
                  <xsd:element minOccurs="1" maxOccurs="1" name="Importo" type="xsd:decimal" />
                  <xsd:element xmlns:q77="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Causale" type="q77:ArrayOfString3" />
                </xsd:sequence>
                <xsd:attribute name="CodiceTD" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
            <xsd:element minOccurs="0" maxOccurs="1" name="B451ModA">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element minOccurs="0" maxOccurs="1" name="ContoCorrente" type="xsd:string" />
                  <xsd:element xmlns:q78="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="IntestatoA" type="q78:ArrayOfString1" />
                  <xsd:element xmlns:q79="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Causale" type="q79:ArrayOfString3" />
                </xsd:sequence>
                <xsd:attribute name="CodiceTD" type="xsd:string" />
              </xsd:complexType>
            </xsd:element>
          </xsd:choice>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString1">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TestoIA" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString2">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TestoED" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString3">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TestoC" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DattaglioCover">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="ProtocolloMittente" type="xsd:string" />
          <xsd:element xmlns:q80="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="TestoLibero" type="q80:ArrayOfString4" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString4">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TestoTL" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OpzionidiStampa">
        <xsd:sequence>
          <xsd:element xmlns:q81="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="OpzioniAggiuntiveStampa" type="q81:ArrayOfServizioAggiuntivo" />
        </xsd:sequence>
        <xsd:attribute name="ResolutionY" type="xsd:string" />
        <xsd:attribute name="PageSize" use="required">
          <xsd:simpleType>
            <xsd:restriction base="xsd:string">
              <xsd:enumeration value="A0" />
              <xsd:enumeration value="A1" />
              <xsd:enumeration value="A2" />
              <xsd:enumeration value="A3" />
              <xsd:enumeration value="A4" />
              <xsd:enumeration value="A5" />
              <xsd:enumeration value="A6" />
              <xsd:enumeration value="A7" />
              <xsd:enumeration value="A8" />
              <xsd:enumeration value="A9" />
            </xsd:restriction>
          </xsd:simpleType>
        </xsd:attribute>
        <xsd:attribute name="ResolutionX" type="xsd:string" />
        <xsd:attribute name="BW" type="xsd:string" />
        <xsd:attribute name="FronteRetro" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfServizioAggiuntivo">
        <xsd:sequence>
          <xsd:element xmlns:q82="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="ArrayOfServizioAggiuntivo" type="q82:ServizioAggiuntivo" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ServizioAggiuntivo">
        <xsd:attribute name="ID" type="xsd:string" />
        <xsd:attribute name="Descrizione" type="xsd:string" />
        <xsd:attribute name="Valore" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="Valorizzazione">
        <xsd:sequence>
          <xsd:element xmlns:q83="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="ValorizzazioneServizio" type="q83:ValorizzazioneServizio" />
          <xsd:element xmlns:q84="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="OpzionePagamento" type="q84:OpzionePagamento" />
          <xsd:element xmlns:q85="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Totale" type="q85:Totale" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImpostaDiBollo" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImportoTotaleConIdB" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ValorizzazioneServizio">
        <xsd:sequence>
          <xsd:element xmlns:q86="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q86:Richiesta" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IDServizio" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NumeroPagine" type="xsd:int" />
          <xsd:element xmlns:q87="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="OggettoValorizzazione" type="q87:OggettoValorizzazione" />
          <xsd:element xmlns:q88="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Totale" type="q88:Totale" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImpostaDiBollo" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImportoTotaleConIdB" type="xsd:double" />
          <xsd:element xmlns:q89="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q89:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OggettoValorizzazione">
        <xsd:sequence>
          <xsd:element xmlns:q90="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Totale" type="q90:Totale" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CodiceMateriale" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DescrizioneCodiceMateriale" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="PercentualeIva" type="xsd:double" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CodiceIva" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Quantita" type="xsd:int" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImportoUnitarioTotale" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImportoUnitarioNetto" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImportoUnitarioIva" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Totale">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Valuta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Descrizione" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImportoTotale" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImportoNetto" type="xsd:double" />
          <xsd:element minOccurs="1" maxOccurs="1" name="ImportoIva" type="xsd:double" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="OpzionePagamento">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="PostFatturazione" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DescrizioneTipoPagamento" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="IdTipoPagamento" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DescrizioneFirma">
        <xsd:attribute name="Id" type="xsd:string" />
        <xsd:attribute name="Descrizione" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="ArrayOfString5">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="unbounded" name="TestoCL" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ServizioEnquirySubmit">
        <xsd:sequence>
          <xsd:element xmlns:q91="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q91:Richiesta" />
          <xsd:element xmlns:q92="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="StatoLavorazione" type="q92:StatoLavorazione" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="StatoLavorazione">
        <xsd:attribute name="Id" type="xsd:string" />
        <xsd:attribute name="Descrizione" type="xsd:string" />
      </xsd:complexType>
      <xsd:complexType name="ServizioEnquiryResponse">
        <xsd:sequence>
          <xsd:element xmlns:q93="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Richiesta" type="q93:Richiesta" />
          <xsd:element xmlns:q94="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="StatoLavorazione" type="q94:StatoLavorazione" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TipoVisualizzazione" type="xsd:string" />
          <xsd:element minOccurs="1" maxOccurs="1" name="NumeroPagine" type="xsd:int" />
          <xsd:element xmlns:q95="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="Totale" type="q95:Totale" />
          <xsd:element xmlns:q96="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="unbounded" name="OggettoValorizzazione" type="q96:OggettoValorizzazione" />
          <xsd:element xmlns:q97="http://ComunicazioniElettroniche.XOL" minOccurs="0" maxOccurs="1" name="CEResult" type="q97:CEResult" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="DatiTransazione">
        <xsd:attribute name="IdTransazione" type="xsd:string" />
        <xsd:attribute name="CodiceAutorizzazione" type="xsd:string" />
        <xsd:attribute name="DataAutorizzazione" type="xsd:dateTime" use="required" />
      </xsd:complexType>
      <xsd:complexType name="StatoIdRichiesta">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="IdRichiesta" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Stato" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="LOLServiceSoap_RecuperaIdRichiesta_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaIdRichiesta" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaIdRichiesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaIdRichiestaResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaDCS_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaDCS" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaDCS_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaDCSResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaInfo" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaInfoResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaDestinatari_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaDestinatari" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaDestinatari_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaDestinatariResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_ValidaDestinatari_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidaDestinatari" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_ValidaDestinatari_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidaDestinatariResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_InvioDoc_InputMessage">
    <wsdl:part name="parameters" element="tns:InvioDoc" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_InvioDoc_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvioDocResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_Invio_InputMessage">
    <wsdl:part name="parameters" element="tns:Invio" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_Invio_OutputMessage">
    <wsdl:part name="parameters" element="tns:InvioResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaEnquiry_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaEnquiry" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaEnquiry_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaEnquiryResponse" />
  </wsdl:message>
  <wsdl:message name="ValorizzaRequest">
    <wsdl:part name="parameters" element="tns:Valorizza" />
  </wsdl:message>
  <wsdl:message name="ValorizzaResponse">
    <wsdl:part name="parameters" element="tns:ValorizzaResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_ValorizzaSingle_InputMessage">
    <wsdl:part name="parameters" element="tns:ValorizzaSingle" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_ValorizzaSingle_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValorizzaSingleResponse" />
  </wsdl:message>
  <wsdl:message name="PreConfermaRequest">
    <wsdl:part name="parameters" element="tns:PreConferma" />
  </wsdl:message>
  <wsdl:message name="PreConfermaResponse">
    <wsdl:part name="parameters" element="tns:PreConfermaResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_PostConferma_InputMessage">
    <wsdl:part name="parameters" element="tns:PostConferma" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_PostConferma_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostConfermaResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_Conferma_InputMessage">
    <wsdl:part name="parameters" element="tns:Conferma" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_Conferma_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfermaResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_Nascondi_InputMessage">
    <wsdl:part name="parameters" element="tns:Nascondi" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_Nascondi_OutputMessage">
    <wsdl:part name="parameters" element="tns:NascondiResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_AnnullaOrdine_InputMessage">
    <wsdl:part name="parameters" element="tns:AnnullaOrdine" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_AnnullaOrdine_OutputMessage">
    <wsdl:part name="parameters" element="tns:AnnullaOrdineResponse" />
  </wsdl:message>
  <wsdl:message name="AnnullaRequest">
    <wsdl:part name="parameters" element="tns:Annulla" />
  </wsdl:message>
  <wsdl:message name="AnnullaResponse">
    <wsdl:part name="parameters" element="tns:AnnullaResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaStatoIdRichiesta_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaStatoIdRichiesta" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaStatoIdRichiesta_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaStatoIdRichiestaResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaStatoOrdine_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaStatoOrdine" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaStatoOrdine_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaStatoOrdineResponse" />
  </wsdl:message>
  <wsdl:message name="RecuperaStatiRequest">
    <wsdl:part name="parameters" element="tns:RecuperaStati" />
  </wsdl:message>
  <wsdl:message name="RecuperaStatiResponse">
    <wsdl:part name="parameters" element="tns:RecuperaStatiResponse" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaNomiNazioniUPU_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaNomiNazioniUPU" />
  </wsdl:message>
  <wsdl:message name="LOLServiceSoap_RecuperaNomiNazioniUPU_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperaNomiNazioniUPUResponse" />
  </wsdl:message>
  <wsdl:portType name="LOLServiceSoap">
    <wsdl:operation name="RecuperaIdRichiesta">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/RecuperaIdRichiesta" message="tns:LOLServiceSoap_RecuperaIdRichiesta_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/RecuperaIdRichiestaResponse" message="tns:LOLServiceSoap_RecuperaIdRichiesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaDCS">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/RecuperaDCS" message="tns:LOLServiceSoap_RecuperaDCS_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/RecuperaDCSResponse" message="tns:LOLServiceSoap_RecuperaDCS_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaInfo">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/RecuperaInfo" message="tns:LOLServiceSoap_RecuperaInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/RecuperaInfoResponse" message="tns:LOLServiceSoap_RecuperaInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaDestinatari">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/RecuperaDestinatari" message="tns:LOLServiceSoap_RecuperaDestinatari_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/RecuperaDestinatariResponse" message="tns:LOLServiceSoap_RecuperaDestinatari_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidaDestinatari">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/ValidaDestinatari" message="tns:LOLServiceSoap_ValidaDestinatari_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/ValidaDestinatariResponse" message="tns:LOLServiceSoap_ValidaDestinatari_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InvioDoc">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/InvioDoc" message="tns:LOLServiceSoap_InvioDoc_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/InvioDocResponse" message="tns:LOLServiceSoap_InvioDoc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Invio">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/Invio" message="tns:LOLServiceSoap_Invio_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/InvioResponse" message="tns:LOLServiceSoap_Invio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaEnquiry">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/RecuperaEnquiry" message="tns:LOLServiceSoap_RecuperaEnquiry_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/RecuperaEnquiryResponse" message="tns:LOLServiceSoap_RecuperaEnquiry_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Valorizza">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/Valorizza" name="ValorizzaRequest" message="tns:ValorizzaRequest" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/ValorizzaResponse" name="ValorizzaResponse" message="tns:ValorizzaResponse" />
    </wsdl:operation>
    <wsdl:operation name="ValorizzaSingle">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/ValorizzaSingle" message="tns:LOLServiceSoap_ValorizzaSingle_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/ValorizzaSingleResponse" message="tns:LOLServiceSoap_ValorizzaSingle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PreConferma">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/PreConferma" name="PreConfermaRequest" message="tns:PreConfermaRequest" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/PreConfermaResponse" name="PreConfermaResponse" message="tns:PreConfermaResponse" />
    </wsdl:operation>
    <wsdl:operation name="PostConferma">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/PostConferma" message="tns:LOLServiceSoap_PostConferma_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/PostConfermaResponse" message="tns:LOLServiceSoap_PostConferma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Conferma">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/Conferma" message="tns:LOLServiceSoap_Conferma_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/ConfermaResponse" message="tns:LOLServiceSoap_Conferma_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Nascondi">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/Nascondi" message="tns:LOLServiceSoap_Nascondi_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/NascondiResponse" message="tns:LOLServiceSoap_Nascondi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AnnullaOrdine">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/AnnullaOrdine" message="tns:LOLServiceSoap_AnnullaOrdine_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/AnnullaOrdineResponse" message="tns:LOLServiceSoap_AnnullaOrdine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Annulla">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/Annulla" name="AnnullaRequest" message="tns:AnnullaRequest" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/AnnullaResponse" name="AnnullaResponse" message="tns:AnnullaResponse" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaStatoIdRichiesta">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/RecuperaStatoIdRichiesta" message="tns:LOLServiceSoap_RecuperaStatoIdRichiesta_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/RecuperaStatoIdRichiestaResponse" message="tns:LOLServiceSoap_RecuperaStatoIdRichiesta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaStatoOrdine">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/RecuperaStatoOrdine" message="tns:LOLServiceSoap_RecuperaStatoOrdine_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/RecuperaStatoOrdineResponse" message="tns:LOLServiceSoap_RecuperaStatoOrdine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaStati">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/RecuperaStati" name="RecuperaStatiRequest" message="tns:RecuperaStatiRequest" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/RecuperaStatiResponse" name="RecuperaStatiResponse" message="tns:RecuperaStatiResponse" />
    </wsdl:operation>
    <wsdl:operation name="RecuperaNomiNazioniUPU">
      <wsdl:input wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/RecuperaNomiNazioniUPU" message="tns:LOLServiceSoap_RecuperaNomiNazioniUPU_InputMessage" />
      <wsdl:output wsaw:Action="http://ComunicazioniElettroniche.LOL.WS/LOLServiceSoap/RecuperaNomiNazioniUPUResponse" message="tns:LOLServiceSoap_RecuperaNomiNazioniUPU_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_LOLServiceSoap" type="tns:LOLServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RecuperaIdRichiesta">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/RecuperaIdRichiesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaDCS">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/RecuperaDCS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaInfo">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/RecuperaInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaDestinatari">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/RecuperaDestinatari" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidaDestinatari">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/ValidaDestinatari" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InvioDoc">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/InvioDoc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Invio">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/Invio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaEnquiry">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/RecuperaEnquiry" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Valorizza">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/Valorizza" style="document" />
      <wsdl:input name="ValorizzaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="ValorizzaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValorizzaSingle">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/ValorizzaSingle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PreConferma">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/PreConferma" style="document" />
      <wsdl:input name="PreConfermaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="PreConfermaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostConferma">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/PostConferma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Conferma">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/Conferma" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Nascondi">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/Nascondi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnnullaOrdine">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/AnnullaOrdine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Annulla">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/Annulla" style="document" />
      <wsdl:input name="AnnullaRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="AnnullaResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaStatoIdRichiesta">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/RecuperaStatoIdRichiesta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaStatoOrdine">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/RecuperaStatoOrdine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaStati">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/RecuperaStati" style="document" />
      <wsdl:input name="RecuperaStatiRequest">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="RecuperaStatiResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperaNomiNazioniUPU">
      <soap:operation soapAction="http://ComunicazioniElettroniche.LOL.WS/RecuperaNomiNazioniUPU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LOLService">
    <wsdl:port name="BasicHttpBinding_LOLServiceSoap" binding="tns:BasicHttpBinding_LOLServiceSoap">
      <soap:address location="http://ppcews05.extranet.poste/LOLGC/LolService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>