SOURCE_BIBLOSDS/BiblosDS.WCF.WCFServices/Service References/ServiceReferenceDocument/ResponseError.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BiblosDS/2009/10/ResponseError" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/ResponseError" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseError">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseError" nillable="true" type="tns:ResponseError" />
</xs:schema>