SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.TECHNOSKY.SAP.Invoice/Web References/PayableInvoiceService/zfi_fattel_update_att.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:n1="urn:sap-com:document:sap:rfc:functions" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN__ZFI_FATTEL_UPDATE_ATT">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN__ZFI_FATTEL_UPDATE_ATT_soap12">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
      <wsp:All>
        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
        <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
        <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF__ZFI_FATTEL_UPDATE_ATT">
    <wsp:ExactlyOne>
      <wsp:All>
        <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
          <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
          <sapcentraladmin:BusinessApplicationID>0050569810AD1ED985B5899CDD2A95AC</sapcentraladmin:BusinessApplicationID>
        </sapcentraladmin:CentralAdministration>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP__ZfiFattelUpdateAtt">
    <wsp:ExactlyOne>
      <wsp:All>
        <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
        <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
        <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
        <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char1000">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1000" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char2">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="2" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char254">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="254" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char256">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="256" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="numeric4">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="4" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
      <xsd:import namespace="urn:sap-com:document:sap:rfc:functions" />
      <xsd:element name="ZfiFattelUpdateAtt">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="IvAnnoFisc" type="n0:numeric4" />
            <xsd:element minOccurs="0" name="IvDataAcc" type="n0:char20" />
            <xsd:element minOccurs="0" name="IvDataRif" type="n0:char20" />
            <xsd:element name="IvDescr" type="n0:char1000" />
            <xsd:element name="IvEseProt" type="n0:numeric4" />
            <xsd:element name="IvIdSdi" type="n0:char256" />
            <xsd:element minOccurs="0" name="IvLink" type="n0:char254" />
            <xsd:element name="IvNotifica" type="n0:char2" />
            <xsd:element name="IvNumDoc" type="n0:char10" />
            <xsd:element name="IvNumProt" type="n0:char20" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZfiFattelUpdateAttResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="EvAnnoIva" type="n0:numeric4" />
            <xsd:element name="EvDataIva" type="n0:char20" />
            <xsd:element name="EvNumIva" type="n0:char10" />
            <xsd:element name="EvRegistroIva" type="n0:char10" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZfiFattelUpdateAtt">
    <wsdl:part name="parameters" element="tns:ZfiFattelUpdateAtt" />
  </wsdl:message>
  <wsdl:message name="ZfiFattelUpdateAttResponse">
    <wsdl:part name="parameter" element="tns:ZfiFattelUpdateAttResponse" />
  </wsdl:message>
  <wsdl:portType name="ZFI_FATTEL_UPDATE_ATT">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF__ZFI_FATTEL_UPDATE_ATT" />
    </wsp:Policy>
    <wsdl:operation name="ZfiFattelUpdateAtt">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP__ZfiFattelUpdateAtt" />
      </wsp:Policy>
      <wsdl:input message="tns:ZfiFattelUpdateAtt" />
      <wsdl:output message="tns:ZfiFattelUpdateAttResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZFI_FATTEL_UPDATE_ATT" type="tns:ZFI_FATTEL_UPDATE_ATT">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZFI_FATTEL_UPDATE_ATT" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfiFattelUpdateAtt">
      <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZFI_FATTEL_UPDATE_ATT:ZfiFattelUpdateAttRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZFI_FATTEL_UPDATE_ATT_soap12" type="tns:ZFI_FATTEL_UPDATE_ATT">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN__ZFI_FATTEL_UPDATE_ATT_soap12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZfiFattelUpdateAtt">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZFI_FATTEL_UPDATE_ATT:ZfiFattelUpdateAttRequest" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZFI_FATTEL_UPDATE_ATT">
    <wsdl:port name="ZFI_FATTEL_UPDATE_ATT" binding="tns:ZFI_FATTEL_UPDATE_ATT">
      <soap:address location="http://sap01.technosky.it:8001/sap/bc/srt/rfc/sap/zfi_fattel_update_att/400/zfi_fattel_update_att/zfi_fattel_update_att" />
    </wsdl:port>
    <wsdl:port name="ZFI_FATTEL_UPDATE_ATT_soap12" binding="tns:ZFI_FATTEL_UPDATE_ATT_soap12">
      <wsoap12:address location="http://sap01.technosky.it:8001/sap/bc/srt/rfc/sap/zfi_fattel_update_att/400/zfi_fattel_update_att/zfi_fattel_update_att" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>