SOURCE_BIBLOSDS/BiblosDS.LegalExtension.AdminPortal/Service References/ServiceReferencePreservation/PreservationHoliday.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/PreservationHoliday" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationHoliday" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="PreservationHoliday">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HolidayDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="IdPreservationHolidays" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreservationHoliday" nillable="true" type="tns:PreservationHoliday" />
  <xs:complexType name="ArrayOfPreservationHoliday">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreservationHoliday" nillable="true" type="tns:PreservationHoliday" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreservationHoliday" nillable="true" type="tns:ArrayOfPreservationHoliday" />
</xs:schema>