SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.SM.ACATA/Web References/SubjectRegistryService/ACARIS-SubjectRegistry.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:prt="prt.common.acaris.acta.doqui.it" xmlns:tns="subjectregistryservice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="subjectregistryservice.acaris.acta.doqui.it" jaxb:version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ACARIS-Common-PRT.xsd" namespace="prt.common.acaris.acta.doqui.it" />
  <xs:import schemaLocation="ACARIS-Common.xsd" namespace="common.acaris.acta.doqui.it" />
  <xs:simpleType name="enumRegistryObjectType">
    <xs:restriction base="common:string">
      <xs:enumeration value="SoggettoPropertiesType" />
      <xs:enumeration value="IndirizzoPropertiesType" />
      <xs:enumeration value="LogAnagraficaPropertiesType" />
      <xs:enumeration value="CategoriaAnagraficaPropertiesType" />
      <xs:enumeration value="HistorySoggettiEsterniPropertiesType" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumStatoSoggetto">
    <xs:restriction base="common:string">
      <xs:enumeration value="Definitivo" />
      <xs:enumeration value="Provvisorio" />
      <xs:enumeration value="NonCensito" />
      <xs:enumeration value="Duplicato" />
      <xs:enumeration value="Organigramma" />
      <xs:enumeration value="Cancellato" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumPFPGUL">
    <xs:restriction base="common:string">
      <xs:enumeration value="PF" />
      <xs:enumeration value="PG" />
      <xs:enumeration value="UL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumTipologiaAnagrafica">
    <xs:restriction base="common:string">
      <xs:enumeration value="BNC" />
      <xs:enumeration value="SCU" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumTipoIndirizzo">
    <xs:restriction base="common:string">
      <xs:enumeration value="DomicilioAnagrafico" />
      <xs:enumeration value="DomicilioFiscale" />
      <xs:enumeration value="Residenza" />
      <xs:enumeration value="Lavoro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SubjectRegistryPropertiesType" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="common:CommonPropertiesType">
        <xs:sequence>
          <xs:element name="objectTypeId" type="tns:enumRegistryObjectType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SoggettoPropertiesType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubjectRegistryPropertiesType">
        <xs:sequence>
          <xs:element name="uuid" type="common:string" />
          <xs:element name="dataInizioValidita" type="common:date" />
          <xs:element name="dataFineValidita" type="common:date" />
          <xs:element name="stato" type="tns:enumStatoSoggetto" />
          <xs:element name="chiaveEsterna" type="common:string" />
          <xs:element name="internoEnte" type="common:boolean" />
          <xs:element name="pfPgUl" type="tns:enumPFPGUL" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="dataAccorpamento" type="common:date" />
          <xs:element name="idEnteAppartenenza" type="common:ObjectIdType" />
          <xs:element name="idAOOAppartenenza" type="common:ObjectIdType" />
          <xs:element name="idUtenteCreazione" type="common:ObjectIdType" />
          <xs:element name="idAooAssociata" type="common:ObjectIdType" />
          <xs:element name="idStrutturaAssociata" type="common:ObjectIdType" />
          <xs:element name="idNodoAssociato" type="common:ObjectIdType" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="categoriaAnagrafica" type="common:DecodificaType" />
          <xs:element name="codiceFonte" type="common:DecodificaType" />
          <xs:element name="tipoSoggettoOrigine" type="common:DecodificaType" />
          <xs:element name="tipoSoggettoAppartenenza" type="common:DecodificaType" />
          <xs:element name="idSoggettoPadre" type="common:ObjectIdType" />
          <xs:element name="nome" type="common:string" />
          <xs:element name="cognome" type="common:string" />
          <xs:element name="denominazione" type="common:string" />
          <xs:element name="codice" type="common:string" />
          <xs:element name="codiceFiscale" type="common:string" />
          <xs:element name="email" type="common:string" />
          <xs:element name="emailPEC" type="common:string" />
          <xs:element name="partitaIVA" type="common:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="fax" type="common:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="telefono" type="common:string" />
          <xs:element name="ente" type="common:boolean" />
          <xs:element name="aoo" type="common:boolean" />
          <xs:element name="matricola" type="common:string" />
          <xs:element name="dataNascita" type="common:date" />
          <xs:element name="luogoNascita" type="common:string" />
          <xs:element name="note" type="common:string" />
          <xs:element name="denominazioneNormalizzata" type="common:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="idIndirizzo" type="common:ObjectIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IndirizzoPropertiesType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubjectRegistryPropertiesType">
        <xs:sequence>
          <xs:element name="indirizzo" type="common:string" />
          <xs:element name="tipoIndirizzo" type="common:DecodificaType" />
          <xs:element name="cap" type="common:string" />
          <xs:element name="frazione" type="common:string" />
          <xs:element name="regione" type="common:string" />
          <xs:element name="provincia" type="common:string" />
          <xs:element name="comune" type="common:string" />
          <xs:element name="siglaProvincia" type="common:string" />
          <xs:element name="stato" type="common:string" />
          <xs:element name="idSoggetto" type="common:ObjectIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="LogAnagraficaPropertiesType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubjectRegistryPropertiesType">
        <xs:sequence>
          <xs:element name="dataModifica" type="common:date" />
          <xs:element name="vecchioValore" type="common:string" />
          <xs:element name="modificatoDaFonte" type="common:boolean" />
          <xs:element name="idCampo" type="common:integer" />
          <xs:element name="idUtenteCreazione" type="common:ObjectIdType" />
          <xs:element name="idSoggetto" type="common:ObjectIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CategoriaAnagraficaPropertiesType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SubjectRegistryPropertiesType">
        <xs:sequence>
          <xs:element name="codice" type="common:string" />
          <xs:element name="denominazione" type="common:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>