SOURCE_BIBLOSDS/BiblosDS.UnitTest.WCF/Service References/ServiceReferenceAdmin/Administration4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BiblosDS/2009/10/DocumentStorageAreaRule" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/DocumentStorageAreaRule" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd2" namespace="http://BiblosDS/2009/10/Attribute" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd17" namespace="http://BiblosDS/2009/10/RuleOperator" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd23" namespace="http://BiblosDS/2009/10/StorageArea" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="ArrayOfStorageAreaRule">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="StorageAreaRule" nillable="true" type="tns:StorageAreaRule" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStorageAreaRule" nillable="true" type="tns:ArrayOfStorageAreaRule" />
  <xs:complexType name="StorageAreaRule">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Attribute" minOccurs="0" name="Attribute" nillable="true" type="q2:Attribute" />
          <xs:element minOccurs="0" name="IsCalculated" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="RuleFilter" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RuleFormat" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/RuleOperator" minOccurs="0" name="RuleOperator" nillable="true" type="q3:RuleOperator" />
          <xs:element minOccurs="0" name="RuleOrder" type="xs:short" />
          <xs:element xmlns:q4="http://BiblosDS/2009/10/StorageArea" minOccurs="0" name="StorageArea" nillable="true" type="q4:StorageArea" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StorageAreaRule" nillable="true" type="tns:StorageAreaRule" />
</xs:schema>