SOURCE_BIBLOSDS/BiblosDS.UnitTest.WCF/Service References/ServiceReferenceAdmin/Administration22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BiblosDS/2009/10/ArchiveStorage" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/ArchiveStorage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd4" namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd8" namespace="http://BiblosDS/2009/10/Storage" />
  <xs:import schemaLocation="http://localhost:1526/Administration.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="ArchiveStorage">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Active" type="xs:boolean" />
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q2:Archive" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/Storage" minOccurs="0" name="Storage" nillable="true" type="q3:Storage" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ArchiveStorage" nillable="true" type="tns:ArchiveStorage" />
  <xs:complexType name="ArrayOfArchiveStorage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ArchiveStorage" nillable="true" type="tns:ArchiveStorage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfArchiveStorage" nillable="true" type="tns:ArrayOfArchiveStorage" />
</xs:schema>