SOURCE_BIBLOSDS/BiblosDS.LegalExtension.AdminPortal/Service References/ServiceReferenceDocument/Documents33.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://BiblosDS/2009/10/PreservationUserRole" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationUserRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd9" namespace="http://BiblosDS/2009/10/Archive" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd31" namespace="http://BiblosDS/2009/10/PreservationRole" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd29" namespace="http://BiblosDS/2009/10/PreservationUser" />
  <xs:import schemaLocation="http://localhost:1526/Documents.svc?xsd=xsd3" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="ArrayOfPreservationUserRole">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreservationUserRole" nillable="true" type="tns:PreservationUserRole" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreservationUserRole" nillable="true" type="tns:ArrayOfPreservationUserRole" />
  <xs:complexType name="PreservationUserRole">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element xmlns:q2="http://BiblosDS/2009/10/Archive" minOccurs="0" name="Archive" nillable="true" type="q2:Archive" />
          <xs:element minOccurs="0" name="IdPreservationRole" type="ser:guid" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/PreservationRole" minOccurs="0" name="PreservationRole" nillable="true" type="q3:PreservationRole" />
          <xs:element xmlns:q4="http://BiblosDS/2009/10/PreservationUser" minOccurs="0" name="PreservationUser" nillable="true" type="q4:PreservationUser" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreservationUserRole" nillable="true" type="tns:PreservationUserRole" />
</xs:schema>