SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.SM.ACATA/Web References/OfficialBookService/ACARIS-Common-PRT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:tns="prt.common.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" targetNamespace="prt.common.acaris.acta.doqui.it" jaxb:version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="ACARIS-Common.xsd" namespace="common.acaris.acta.doqui.it" />
  <xs:simpleType name="enumPFPGUL">
    <xs:restriction base="common:string">
      <xs:enumeration value="PF" />
      <xs:enumeration value="PG" />
      <xs:enumeration value="UL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumFonte">
    <xs:restriction base="common:string">
      <xs:enumeration value="OA" />
      <xs:enumeration value="SA" />
      <xs:enumeration value="INPA" />
      <xs:enumeration value="HR" />
      <xs:enumeration value="IPA" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumCodiceTipoSoggetto">
    <xs:restriction base="common:string">
      <xs:enumeration value="AOO" />
      <xs:enumeration value="STR" />
      <xs:enumeration value="NOD" />
      <xs:enumeration value="UT" />
      <xs:enumeration value="PF" />
      <xs:enumeration value="PG" />
      <xs:enumeration value="UL" />
      <xs:enumeration value="AOO-INPA" />
      <xs:enumeration value="DIP" />
      <xs:enumeration value="BA" />
      <xs:enumeration value="FIL" />
      <xs:enumeration value="ORG" />
      <xs:enumeration value="ALT" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>