SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.SM.ACATA/Web References/OfficialBookService/ACARIS-OfficialBookMessaging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:prt="prt.common.acaris.acta.doqui.it" xmlns:tns="officialbookservice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" targetNamespace="officialbookservice.acaris.acta.doqui.it" jaxb:version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ACARIS-OfficialBook.xsd" />
  <xs:import schemaLocation="ACARIS-Common-PRT.xsd" namespace="prt.common.acaris.acta.doqui.it" />
  <xs:import schemaLocation="ACARIS-Common.xsd" namespace="common.acaris.acta.doqui.it" />
  <xs:simpleType name="enumTipoRegistrazioneDaCreare">
    <xs:restriction base="common:string">
      <xs:enumeration value="RegistrazionRapida" />
      <xs:enumeration value="Protocollazione" />
      <xs:enumeration value="ProtocollazioneDocumentoEsistente" />
      <xs:enumeration value="ProtocollazioneDaSmistamento" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumTipoAPI">
    <xs:restriction base="common:string">
      <xs:enumeration value="Arrivo" />
      <xs:enumeration value="Partenza" />
      <xs:enumeration value="Interna" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumTipoPFPG">
    <xs:restriction base="common:string">
      <xs:enumeration value="PersonaFisica" />
      <xs:enumeration value="PersonaGiuridica" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumTipologiaSoggettoAssociato">
    <xs:restriction base="common:string">
      <xs:enumeration value="SoggettoActa" />
      <xs:enumeration value="Struttura" />
      <xs:enumeration value="Nodo" />
      <xs:enumeration value="Utente" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumTipoContenitore">
    <xs:restriction base="common:string">
      <xs:enumeration value="fascicoloTemporaneoTitolario" />
      <xs:enumeration value="fascicoloTemporaneoVoce" />
      <xs:enumeration value="strutturaAggregativa" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="enumTipologiaTargetAnnotazioneOB">
    <xs:restriction base="common:string">
      <xs:enumeration value="Registrazione" />
      <xs:enumeration value="Registro" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="RegistrazioneRequest" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="registroId" type="common:ObjectIdType" />
      <xs:element minOccurs="0" maxOccurs="1" name="aooProtocollanteId" type="common:ObjectIdType" />
      <xs:element minOccurs="1" maxOccurs="1" name="senzaCreazioneSoggettiEsterni" type="common:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrazioneRapida">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrazioneRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="oggetto" type="common:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="cognomeSoggetto" type="common:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="nomeSoggetto" type="common:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="denominazionePG" type="common:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="inserimentoMittenteInAnagrafica" type="common:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="classificazioneEstesaPerArchiviazione" type="common:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="collocazioneCartacea" type="common:string" />
          <xs:element minOccurs="0" maxOccurs="1" name="folderId" type="common:ObjectIdType" />
          <xs:element minOccurs="0" maxOccurs="1" name="folderType" type="tns:enumTipoContenitore" />
          <xs:element name="tipoSoggetto" type="tns:enumTipoPFPG" />
          <xs:element minOccurs="0" maxOccurs="1" name="protocollante" type="tns:IdentificazioneProtocollante" />
          <xs:element minOccurs="0" maxOccurs="1" name="annotazione" type="tns:InfoCreazioneAnnotazioneOB" />
          <xs:element minOccurs="1" maxOccurs="1" name="mittenteEsterno" type="tns:MittenteEsterno" />
          <xs:element minOccurs="1" maxOccurs="1" name="destinatarioInterno" type="tns:DestinatarioInterno" />
          <xs:element minOccurs="1" maxOccurs="1" name="stampaRicevuta" type="common:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="forzareSePresenzaInviti" type="common:boolean" />
          <xs:element minOccurs="1" maxOccurs="1" name="creazioneAsincronaDocumento" type="common:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Protocollazione">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrazioneRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="creazioneAsincronaDocumento" type="common:boolean" />
          <xs:element minOccurs="0" maxOccurs="1" name="folderId" type="common:ObjectIdType" />
          <xs:element minOccurs="0" maxOccurs="1" name="folderType" type="tns:enumTipoContenitore" />
          <xs:element minOccurs="1" maxOccurs="1" name="registrazioneAPI" type="tns:RegistrazioneAPI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProtocollazioneDocumentoEsistente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrazioneRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="classificazioneId" type="common:ObjectIdType" />
          <xs:element minOccurs="1" maxOccurs="1" name="registrazioneAPI" type="tns:RegistrazioneAPI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProtocollazioneDaSmistamento">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrazioneRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="smistamentoId" type="common:IDDBType" />
          <xs:element minOccurs="1" maxOccurs="1" name="registrazioneAPI" type="tns:RegistrazioneAPI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegistrazioneAPI">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="tipoRegistrazione" type="tns:enumTipoAPI" />
      <xs:element minOccurs="1" maxOccurs="1" name="infoCreazione" type="tns:InfoCreazioneRegistrazione" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RegistrazioneInterna">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrazioneAPI">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegistrazionePartenza">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrazioneAPI">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegistrazioneArrivo">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RegistrazioneAPI">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="infoDateArrivo" type="tns:InfoDateArrivo" />
          <xs:element minOccurs="0" maxOccurs="1" name="infoProtocolloMittente" type="tns:InfoProtocolloMittente" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="mittenteEsterno" type="tns:MittenteEsterno" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="IdentificazioneRegistrazione">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="registrazioneId" type="common:ObjectIdType" />
      <xs:element minOccurs="0" maxOccurs="1" name="folderId" type="common:ObjectIdType" />
      <xs:element minOccurs="0" maxOccurs="1" name="folderType" type="tns:enumTipoContenitore" />
      <xs:element minOccurs="1" maxOccurs="1" name="dataUltimoAggiornamento" type="common:ChangeTokenType" />
      <xs:element minOccurs="1" maxOccurs="1" name="numero" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="classificazioneId" type="common:ObjectIdType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentificazioneAnnotazioneOB">
    <xs:sequence>
      <xs:element name="idAnnotazioneOB" type="common:ObjectIdType" />
      <xs:element name="target" type="common:ObjectIdType" />
      <xs:element name="tipologiaTarget" type="tns:enumTipologiaTargetAnnotazioneOB" />
      <xs:element name="dataUltimoAggiornamento" type="common:ChangeTokenType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentificazioneProtocollante">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="strutturaId" type="common:ObjectIdType" />
      <xs:element minOccurs="0" maxOccurs="1" name="nodoId" type="common:ObjectIdType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoCreazioneAnnotazioneOB">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="descrizione" type="common:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="formale" type="common:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoCreazioneRegistrazione">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="numeroRegistrazionePrecedente" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="annoRegistrazionePrecedente" type="common:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="registrazioneRiservata" type="common:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="oggetto" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="collocazioneCartacea" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="mezzoTrasmissivoId" type="common:IDDBType" />
      <xs:element minOccurs="1" maxOccurs="1" name="forzareSeRegistrazioneSimile" type="common:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="documentoRiservato" type="common:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="classificazioneProposta" type="common:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="forzareSeRegistrazionePropostaInvalida" type="common:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataDocumento" type="common:date" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="descrizioneAllegato" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mittenteInterno" type="tns:MittenteInterno" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destinatarioInterno" type="tns:DestinatarioInterno" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destinatarioEsterno" type="tns:DestinatarioEsterno" />
      <xs:element minOccurs="0" maxOccurs="1" name="protocollante" type="tns:IdentificazioneProtocollante" />
      <xs:element minOccurs="0" maxOccurs="1" name="annotazione" type="tns:InfoCreazioneAnnotazioneOB" />
      <xs:element minOccurs="1" maxOccurs="1" name="forzareSePresenzaInviti" type="common:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="forzareSePresenzaDaInoltrare" type="common:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoDateArrivo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="dataRicezione" type="common:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataTimbroPostale" type="common:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoProtocolloMittente">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="numero" type="common:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="anno" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="data" type="common:date" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MittenteEsterno">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="corrispondente" type="tns:InfoCreazioneCorrispondente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MittenteInterno">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="corrispondente" type="tns:InfoCreazioneCorrispondente" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinatarioInterno">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="corrispondente" type="tns:InfoCreazioneCorrispondente" />
      <xs:element minOccurs="1" maxOccurs="1" name="idRuoloCorrispondente" type="common:IDDBType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DestinatarioEsterno">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="corrispondente" type="tns:InfoCreazioneCorrispondente" />
      <xs:element minOccurs="1" maxOccurs="1" name="idRuoloCorrispondente" type="common:IDDBType" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoCreazioneCorrispondente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="denominazione" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="nome" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="cognome" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ordinale" type="common:integer" />
      <xs:element minOccurs="0" maxOccurs="1" name="carica" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="persona" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="testoFoglioTrasmissione" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="infoSoggettoAssociato" type="tns:InfoSoggettoAssociato" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoSoggettoAssociato" abstract="true">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="RiferimentoSoggettoEsistente">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InfoSoggettoAssociato">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="soggettoId" type="common:ObjectIdType" />
          <xs:element minOccurs="0" maxOccurs="1" name="nodoIdSeTipologiaUtente" type="common:ObjectIdType" />
          <xs:element minOccurs="1" maxOccurs="1" name="tipologia" type="tns:enumTipologiaSoggettoAssociato" />
          <xs:element minOccurs="1" maxOccurs="1" name="idPFPGUL" type="prt:enumPFPGUL" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="SoggettoEsterno">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:InfoSoggettoAssociato">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="chiaveEsterna" type="common:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="idPFPGUL" type="prt:enumPFPGUL" />
          <xs:element minOccurs="1" maxOccurs="1" name="codiceTipoSoggetto" type="common:string" />
          <xs:element minOccurs="1" maxOccurs="1" name="codiceFonte" type="common:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InfoRegistrazione">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="dataProtocollo" type="common:date" />
      <xs:element minOccurs="1" maxOccurs="1" name="codice" type="common:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="annullata" type="common:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="numeroRegistrazionePrecedente" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="annoRegistrazionePrecedente" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="registrazionePrecedenteId" type="common:ObjectIdType" />
      <xs:element minOccurs="1" maxOccurs="1" name="registrazioneRiservata" type="common:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="mezzoTrasmissivoId" type="common:IDDBType" />
      <xs:element minOccurs="1" maxOccurs="1" name="oggetto" type="common:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="collocazioneCartacea" type="common:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="forzareSeRegistrazioneSimile" type="common:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="documentoRiservato" type="common:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="protocollante" type="tns:IdentificazioneProtocollanteEstesa" />
      <xs:element minOccurs="1" maxOccurs="1" name="tipoRegistrazione" type="tns:enumTipoAPI" />
      <xs:element minOccurs="0" maxOccurs="1" name="infoAggiuntiveRegistrazioneInArrivo" type="tns:RegistrazioneArrivo" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="annotazione" type="tns:InfoCreazioneAnnotazioneOB" />
      <xs:element minOccurs="0" maxOccurs="1" name="infoAnnullamento" type="tns:InfoAnnullamentoRegistrazione" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mittenteInterno" type="tns:MittenteInterno" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destinatarioInterno" type="tns:DestinatarioInterno" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="destinatarioEsterno" type="tns:DestinatarioEsterno" />
      <xs:element minOccurs="1" maxOccurs="1" name="forzareSePresenzaInviti" type="common:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="forzareSePresenzaDaInoltrare" type="common:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IdentificazioneProtocollanteEstesa">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:IdentificazioneProtocollante">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="idAoo" type="common:ObjectIdType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="InfoAnnullamentoRegistrazione">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="annotazione" type="tns:InfoCreazioneAnnotazioneOB" />
      <xs:element minOccurs="0" maxOccurs="1" name="dataAnnullamento" type="common:date" />
      <xs:element minOccurs="0" maxOccurs="1" name="utenteAnnullamento" type="common:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="creaRegistrazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="tipologiaCreazione" type="tns:enumTipoRegistrazioneDaCreare" />
        <xs:element minOccurs="1" maxOccurs="1" name="infoRichiestaCreazione" type="tns:RegistrazioneRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creaRegistrazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="identificazioneCreazione" type="tns:IdentificazioneRegistrazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importaRegistrazione">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="classificazioneId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="registroId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="infoRegistrazione" type="tns:InfoRegistrazione" />
        <xs:element minOccurs="1" maxOccurs="1" name="senzaCreazioneSoggetti" type="common:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="importaRegistrazioneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="identificazioneCreazione" type="tns:IdentificazioneRegistrazione" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegistries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="0" maxOccurs="1" name="aooId" type="common:ObjectIdType" />
        <xs:element minOccurs="0" maxOccurs="1" name="anno" type="common:integer" />
        <xs:element minOccurs="1" maxOccurs="1" name="filter" type="common:PropertyFilterType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getRegistriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="object" type="common:PagingResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="objectId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="filter" type="common:PropertyFilterType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="object" type="common:ObjectResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateProperties">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="objectId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="0" maxOccurs="1" name="changeToken" type="common:ChangeTokenType" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="properties" type="common:PropertyType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updatePropertiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="response" type="common:SimpleResponseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="navigaRegistrazioni">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="navigaRegistrazioniResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="creaAnnotazioneOB">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="target" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="tipologiaTarget" type="tns:enumTipologiaTargetAnnotazioneOB" />
        <xs:element minOccurs="1" maxOccurs="1" name="properties" type="common:PropertiesType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="creaAnnotazioneOBResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="identificazioneCreazione" type="tns:IdentificazioneAnnotazioneOB" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inviaSegnatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="1" name="repositoryId" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="principalId" type="common:PrincipalIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="origine" type="common:string" />
        <xs:element minOccurs="1" maxOccurs="1" name="identificatoreRegistraizone" type="common:ObjectIdType" />
        <xs:element minOccurs="1" maxOccurs="1" name="mittente" type="tns:InfoMittenteIS" />
        <xs:element minOccurs="1" maxOccurs="unbounded" name="destinatari" type="tns:InfoDestinatarioIS" />
        <xs:element minOccurs="1" maxOccurs="1" name="identitaDigitale" type="common:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="inviaSegnaturaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:complexType name="InfoMittenteIS">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="identificatore" type="common:ObjectIdType" />
      <xs:element minOccurs="1" maxOccurs="1" name="casella" type="common:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="InfoDestinatarioIS">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="identificatore" type="common:ObjectIdType" />
      <xs:element minOccurs="1" maxOccurs="1" name="emailPec" type="common:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="confermaRicezione" type="common:boolean" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>