SOURCE_INTEGRATION/VecompSoftware.BPM.Integrations.Modules.SM.ACATA/Web References/OfficialBookService/OfficialBookService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:officialbook="officialbookservice.acaris.acta.doqui.it" xmlns:common="common.acaris.acta.doqui.it" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="officialbookservice.acaris.acta.doqui.it" name="OfficialBookService" targetNamespace="officialbookservice.acaris.acta.doqui.it" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="common.acaris.acta.doqui.it">
      <xsd:include schemaLocation="ACARIS-Common.xsd" />
    </xsd:schema>
    <xsd:schema targetNamespace="officialbookservice.acaris.acta.doqui.it">
      <xsd:include schemaLocation="ACARIS-OfficialBook.xsd" />
      <xsd:include schemaLocation="ACARIS-OfficialBookMessaging.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="acarisException">
    <wsdl:part name="fault" element="common:acarisFault" />
  </wsdl:message>
  <wsdl:message name="creaRegistrazioneRequest">
    <wsdl:part name="input" element="tns:creaRegistrazione" />
  </wsdl:message>
  <wsdl:message name="creaRegistrazioneResponse">
    <wsdl:part name="output" element="tns:creaRegistrazioneResponse" />
  </wsdl:message>
  <wsdl:message name="importaRegistrazioneRequest">
    <wsdl:part name="input" element="tns:importaRegistrazione" />
  </wsdl:message>
  <wsdl:message name="importaRegistrazioneResponse">
    <wsdl:part name="output" element="tns:importaRegistrazioneResponse" />
  </wsdl:message>
  <wsdl:message name="getRegistriesRequest">
    <wsdl:part name="input" element="tns:getRegistries" />
  </wsdl:message>
  <wsdl:message name="getRegistriesResponse">
    <wsdl:part name="output" element="tns:getRegistriesResponse" />
  </wsdl:message>
  <wsdl:message name="getPropertiesRequest">
    <wsdl:part name="input" element="tns:getProperties" />
  </wsdl:message>
  <wsdl:message name="getPropertiesResponse">
    <wsdl:part name="output" element="tns:getPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="updatePropertiesRequest">
    <wsdl:part name="input" element="tns:updateProperties" />
  </wsdl:message>
  <wsdl:message name="updatePropertiesResponse">
    <wsdl:part name="output" element="tns:updatePropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="queryRequest">
    <wsdl:part name="input" element="common:query" />
  </wsdl:message>
  <wsdl:message name="queryResponse">
    <wsdl:part name="output" element="common:queryResponse" />
  </wsdl:message>
  <wsdl:message name="getPropertiesMassiveRequest">
    <wsdl:part name="input" element="common:getPropertiesMassive" />
  </wsdl:message>
  <wsdl:message name="getPropertiesMassiveResponse">
    <wsdl:part name="output" element="common:getPropertiesMassiveResponse" />
  </wsdl:message>
  <wsdl:message name="creaAnnotazioneOBRequest">
    <wsdl:part name="input" element="tns:creaAnnotazioneOB" />
  </wsdl:message>
  <wsdl:message name="creaAnnotazioneOBResponse">
    <wsdl:part name="output" element="tns:creaAnnotazioneOBResponse" />
  </wsdl:message>
  <wsdl:message name="inviaSegnaturaRequest">
    <wsdl:part name="input" element="tns:inviaSegnatura" />
  </wsdl:message>
  <wsdl:message name="inviaSegnaturaResponse">
    <wsdl:part name="output" element="tns:inviaSegnaturaResponse" />
  </wsdl:message>
  <wsdl:portType name="OfficialBookServicePort">
    <wsdl:operation name="creaRegistrazione">
      <wsdl:input message="tns:creaRegistrazioneRequest" />
      <wsdl:output message="tns:creaRegistrazioneResponse" />
      <wsdl:fault name="creaRegistrazioneFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="importaRegistrazione">
      <wsdl:input message="tns:importaRegistrazioneRequest" />
      <wsdl:output message="tns:importaRegistrazioneResponse" />
      <wsdl:fault name="importaRegistrazioneFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getRegistries">
      <wsdl:input message="tns:getRegistriesRequest" />
      <wsdl:output message="tns:getRegistriesResponse" />
      <wsdl:fault name="getRegistriesFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <wsdl:input message="tns:getPropertiesRequest" />
      <wsdl:output message="tns:getPropertiesResponse" />
      <wsdl:fault name="getPropertiesFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="updateProperties">
      <wsdl:input message="tns:updatePropertiesRequest" />
      <wsdl:output message="tns:updatePropertiesResponse" />
      <wsdl:fault name="updatePropertiesFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="query">
      <wsdl:input message="tns:queryRequest" />
      <wsdl:output message="tns:queryResponse" />
      <wsdl:fault name="queryFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="getPropertiesMassive">
      <wsdl:input message="tns:getPropertiesMassiveRequest" />
      <wsdl:output message="tns:getPropertiesMassiveResponse" />
      <wsdl:fault name="getPropertiesMassiveFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="creaAnnotazioneOB">
      <wsdl:input message="tns:creaAnnotazioneOBRequest" />
      <wsdl:output message="tns:creaAnnotazioneOBResponse" />
      <wsdl:fault name="creaAnnotazioneOBFault" message="tns:acarisException" />
    </wsdl:operation>
    <wsdl:operation name="inviaSegnatura">
      <wsdl:input message="tns:inviaSegnaturaRequest" />
      <wsdl:output message="tns:inviaSegnaturaResponse" />
      <wsdl:fault name="inviaSegnaturaFault" message="tns:acarisException" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OfficialBookServiceBinding" type="tns:OfficialBookServicePort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="creaRegistrazione">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="creaRegistrazioneFault">
        <soap:fault use="literal" name="creaRegistrazioneFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="importaRegistrazione">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="importaRegistrazioneFault">
        <soap:fault use="literal" name="importaRegistrazioneFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getRegistries">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getRegistriesFault">
        <soap:fault use="literal" name="getRegistriesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getProperties">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getPropertiesFault">
        <soap:fault use="literal" name="getPropertiesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="updateProperties">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="updatePropertiesFault">
        <soap:fault use="literal" name="updatePropertiesFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="query">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="queryFault">
        <soap:fault use="literal" name="queryFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getPropertiesMassive">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="getPropertiesMassiveFault">
        <soap:fault use="literal" name="getPropertiesMassiveFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="creaAnnotazioneOB">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="creaAnnotazioneOBFault">
        <soap:fault use="literal" name="creaAnnotazioneOBFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="inviaSegnatura">
      <soap:operation soapAction="" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="inviaSegnaturaFault">
        <soap:fault use="literal" name="inviaSegnaturaFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OfficialBookService">
    <wsdl:port name="OfficialBookServicePort" binding="tns:OfficialBookServiceBinding">
      <soap:address location="http://localhost:${HttpDefaultPort}/officialbookservice/officialbookserviceaPort" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>