SOURCE_DOCSUITE/VecompSoftware.DocSuiteWeb.API.Connector/Service References/CollaborationService/CollaborationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CollaborationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/DSW.API/CollaborationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/DSW.API/CollaborationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICollaborationService_IsAlive_InputMessage">
    <wsdl:part name="parameters" element="tns:IsAlive" />
  </wsdl:message>
  <wsdl:message name="ICollaborationService_IsAlive_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="ICollaborationService_GetCollaborationsToAlert_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCollaborationsToAlert" />
  </wsdl:message>
  <wsdl:message name="ICollaborationService_GetCollaborationsToAlert_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCollaborationsToAlertResponse" />
  </wsdl:message>
  <wsdl:portType name="ICollaborationService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsam:Action="http://tempuri.org/ICollaborationService/IsAlive" message="tns:ICollaborationService_IsAlive_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ICollaborationService/IsAliveResponse" message="tns:ICollaborationService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCollaborationsToAlert">
      <wsdl:input wsam:Action="http://tempuri.org/ICollaborationService/GetCollaborationsToAlert" message="tns:ICollaborationService_GetCollaborationsToAlert_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ICollaborationService/GetCollaborationsToAlertResponse" message="tns:ICollaborationService_GetCollaborationsToAlert_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICollaborationService" type="tns:ICollaborationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="http://tempuri.org/ICollaborationService/IsAlive" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCollaborationsToAlert">
      <soap:operation soapAction="http://tempuri.org/ICollaborationService/GetCollaborationsToAlert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CollaborationService">
    <wsdl:port name="BasicHttpBinding_ICollaborationService" binding="tns:BasicHttpBinding_ICollaborationService">
      <soap:address location="http://localhost/DSW.API/CollaborationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>