SOURCE_BIBLOSDS/BiblosDS.WindowsService.Library/Service References/ServiceReferenceDocument/BiblosDS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="BiblosDS" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://Vecomp.BiblosDs.Documents" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="BiblosDS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="ServiceDocument_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:import namespace="http://Vecomp.BiblosDs.Documents" location="" />
  <wsdl:types />
  <wsdl:binding name="ServiceDocument" type="i0:IDocuments">
    <wsp:PolicyReference URI="#ServiceDocument_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetDocumentContent">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInServer">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentInServer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentConformContent">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentConformContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfo">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreateDocumentChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CreateDocumentChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDocument">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/ConfirmDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DetachDocument">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DetachDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentToChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CloneDocumentToChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CloneDocumentToChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToChainPDFCrypted">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentToChainPDFCrypted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentToMaster">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentToMaster" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentChainWithWorkflow">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentChainWithWorkflow" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAttributesDefinition">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetAttributesDefinition" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckIsReady">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckIsReady" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckIntegrity">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckIntegrity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChainInfo">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetChainInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChainInfoDetails">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetChainInfoDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckOutDocumentContent">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckOutDocumentContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckOutDocument">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckOutDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UndoCheckOutDocument">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UndoCheckOutDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckInDocument">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckInDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArchives">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetArchives" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStorages">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetStorages" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetStorageAreas">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetStorageAreas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsAlive">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/IsAlive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BiblosDSVersion">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/BiblosDSVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentId">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetVisibleChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/SetVisibleChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetVisibleDocument">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/SetVisibleDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="IsDocumentSigned">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/IsDocumentSigned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSigned">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentSigned" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentLink">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteDocumentLink">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DeleteDocumentLink" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLinks">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentLinks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AddDocumentAttach">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/AddDocumentAttach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmDocumentAttach">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/ConfirmDocumentAttach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentAttachs">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentAttachs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentAttachContent">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentAttachContent" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SetVisibleDocumentAttach">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/SetVisibleDocumentAttach" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetArchiveStatistics">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetArchiveStatistics" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentLatestVersion">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentLatestVersion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentChildren">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentChildren" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentContentById">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentContentById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentInfoById">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentInfoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsInfoByIdPaged">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentsInfoByIdPaged" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="InsertDocumentChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/InsertDocumentChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ConfirmChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/ConfirmChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocument">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UpdateDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateDocumentName">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UpdateDocumentName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CheckMetaData">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/CheckMetaData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetChainInfoById">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetChainInfoById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetMetadataStructure">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetMetadataStructure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentCheckOut">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentCheckOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentUndoCheckOut">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentUndoCheckOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentAttributeCheckIn">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentAttributeCheckIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentCheckIn">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentCheckIn" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentMoveToArchive">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentMoveToArchive" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentMoveToStorage">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentMoveToStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DocumentMoveFromTransito">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/DocumentMoveFromTransito" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="RestoreAttribute">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/RestoreAttribute" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="SignDocument">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/SignDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentSignInfo">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/GetDocumentSignInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsGetDocumentUnit">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsGetDocumentUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsGetDocumentUnitExt">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsGetDocumentUnitExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsGetDocumentUnitsByFascicle">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsGetDocumentUnitsByFascicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsGetUnitChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsGetUnitChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsGetUnitDocuments">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsGetUnitDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsGetUnitDocumentsByFascicle">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsGetUnitDocumentsByFascicle" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsOpenDocumentUnit">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsOpenDocumentUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsAddDocumentUnit">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsAddDocumentUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsUpdateDocumentUnit">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsUpdateDocumentUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsDocumentUnitAddDocuments">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsDocumentUnitAddDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsAddDocumentUnitWithDocuments">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsAddDocumentUnitWithDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsDeleteDocumentUnitChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsDeleteDocumentUnitChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsDeleteDocumentUnit">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsDeleteDocumentUnit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsGetDocumentUnitAggregate">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsGetDocumentUnitAggregate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsGetDocumentUnitAggregateExt">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsGetDocumentUnitAggregateExt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsGetAggregateChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsGetAggregateChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsOpenDocumentUnitAggregate">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsOpenDocumentUnitAggregate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsAddDocumentUnitAggregate">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsAddDocumentUnitAggregate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsUpdateDocumentUnitAggregate">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsUpdateDocumentUnitAggregate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsDocumentAggregateAddUnits">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsDocumentAggregateAddUnits" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsDeleteDocumentUnitAggregate">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsDeleteDocumentUnitAggregate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UdsDeleteDocumentUnitAggregateChain">
      <soap12:operation soapAction="http://Vecomp.BiblosDs.Documents/IDocuments/UdsDeleteDocumentUnitAggregateChain" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BiblosDsExceptionFault">
        <soap12:fault use="literal" name="BiblosDsExceptionFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>