SOURCE_BIBLOSDS/BiblosDs.Document.AdminCentral/Service References/ServiceReferenceContentSearch/ContentSearch51.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://BiblosDS/2009/10/PreservationScheduleTaskType" elementFormDefault="qualified" targetNamespace="http://BiblosDS/2009/10/PreservationScheduleTaskType" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1526/ContentSearch.svc?xsd=xsd32" namespace="http://BiblosDS/2009/10/PreservationSchedule" />
  <xs:import schemaLocation="http://localhost:1526/ContentSearch.svc?xsd=xsd30" namespace="http://BiblosDS/2009/10/PreservationTaskType" />
  <xs:import schemaLocation="http://localhost:1526/ContentSearch.svc?xsd=xsd9" namespace="http://BiblosDS/2009/10/BiblosDSObject" />
  <xs:complexType name="ArrayOfPreservationScheduleTaskType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PreservationScheduleTaskType" nillable="true" type="tns:PreservationScheduleTaskType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPreservationScheduleTaskType" nillable="true" type="tns:ArrayOfPreservationScheduleTaskType" />
  <xs:complexType name="PreservationScheduleTaskType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://BiblosDS/2009/10/BiblosDSObject" base="q1:BiblosDSObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="Offset" type="xs:short" />
          <xs:element xmlns:q2="http://BiblosDS/2009/10/PreservationSchedule" minOccurs="0" name="Schedule" nillable="true" type="q2:PreservationSchedule" />
          <xs:element xmlns:q3="http://BiblosDS/2009/10/PreservationTaskType" minOccurs="0" name="TaskType" nillable="true" type="q3:PreservationTaskType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PreservationScheduleTaskType" nillable="true" type="tns:PreservationScheduleTaskType" />
</xs:schema>