SOURCE_JEEPSERVICES/Tools/VecompSoftware.JeepService.SignEngineFacade/Web References/SignEngineService/eSignEngine.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.vecompsoftware.it/eSignEngine/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.vecompsoftware.it/eSignEngine/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.vecompsoftware.it/eSignEngine/">
      <s:element name="Extract">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="isP7M" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="c64P7BlobFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExtractResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ExtractResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="c64FileBlob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MetaData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="format" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c64P7BlobFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFileInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetFileInfoResult" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="MetaData" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P7xTimeStampDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InfoCamereFormat" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="c64FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c64P7kBlobFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P7xTimeStampDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P7xTimeStampDocumentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P7mSoftSign">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CertificateName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c64FileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SignDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="c64BlobFile" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="P7mSoftSignResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="P7mSoftSignResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExpiryDates">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="encObj" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetExpiryDatesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetExpiryDatesResult" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="firstExpCertificate" type="tns:SimplyCert" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="SimplyCert">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Level" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="FiscalCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Role" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Issuer" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="eMail" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Expiry" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ValidFrom" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="RevokedDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RevokedReason" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTimeStampCount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="service" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTimeStampCountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTimeStampCountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ExtractSoapIn">
    <wsdl:part name="parameters" element="tns:Extract" />
  </wsdl:message>
  <wsdl:message name="ExtractSoapOut">
    <wsdl:part name="parameters" element="tns:ExtractResponse" />
  </wsdl:message>
  <wsdl:message name="GetFileInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetFileInfo" />
  </wsdl:message>
  <wsdl:message name="GetFileInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetFileInfoResponse" />
  </wsdl:message>
  <wsdl:message name="P7xTimeStampDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:P7xTimeStampDocument" />
  </wsdl:message>
  <wsdl:message name="P7xTimeStampDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:P7xTimeStampDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="P7mSoftSignSoapIn">
    <wsdl:part name="parameters" element="tns:P7mSoftSign" />
  </wsdl:message>
  <wsdl:message name="P7mSoftSignSoapOut">
    <wsdl:part name="parameters" element="tns:P7mSoftSignResponse" />
  </wsdl:message>
  <wsdl:message name="GetExpiryDatesSoapIn">
    <wsdl:part name="parameters" element="tns:GetExpiryDates" />
  </wsdl:message>
  <wsdl:message name="GetExpiryDatesSoapOut">
    <wsdl:part name="parameters" element="tns:GetExpiryDatesResponse" />
  </wsdl:message>
  <wsdl:message name="GetTimeStampCountSoapIn">
    <wsdl:part name="parameters" element="tns:GetTimeStampCount" />
  </wsdl:message>
  <wsdl:message name="GetTimeStampCountSoapOut">
    <wsdl:part name="parameters" element="tns:GetTimeStampCountResponse" />
  </wsdl:message>
  <wsdl:message name="P7xTimeStampDocumentHttpGetIn">
    <wsdl:part name="InfoCamereFormat" type="s:string" />
    <wsdl:part name="c64FileName" type="s:string" />
    <wsdl:part name="c64P7kBlobFile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="P7xTimeStampDocumentHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="P7mSoftSignHttpGetIn">
    <wsdl:part name="CertificateName" type="s:string" />
    <wsdl:part name="c64FileName" type="s:string" />
    <wsdl:part name="SignDate" type="s:string" />
    <wsdl:part name="Description" type="s:string" />
    <wsdl:part name="c64BlobFile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="P7mSoftSignHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTimeStampCountHttpGetIn">
    <wsdl:part name="service" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTimeStampCountHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="P7xTimeStampDocumentHttpPostIn">
    <wsdl:part name="InfoCamereFormat" type="s:string" />
    <wsdl:part name="c64FileName" type="s:string" />
    <wsdl:part name="c64P7kBlobFile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="P7xTimeStampDocumentHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="P7mSoftSignHttpPostIn">
    <wsdl:part name="CertificateName" type="s:string" />
    <wsdl:part name="c64FileName" type="s:string" />
    <wsdl:part name="SignDate" type="s:string" />
    <wsdl:part name="Description" type="s:string" />
    <wsdl:part name="c64BlobFile" type="s:string" />
  </wsdl:message>
  <wsdl:message name="P7mSoftSignHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetTimeStampCountHttpPostIn">
    <wsdl:part name="service" type="s:string" />
    <wsdl:part name="user" type="s:string" />
    <wsdl:part name="password" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetTimeStampCountHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="eSignEngineSoap">
    <wsdl:operation name="Extract">
      <wsdl:input message="tns:ExtractSoapIn" />
      <wsdl:output message="tns:ExtractSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <wsdl:input message="tns:GetFileInfoSoapIn" />
      <wsdl:output message="tns:GetFileInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P7xTimeStampDocument">
      <wsdl:input message="tns:P7xTimeStampDocumentSoapIn" />
      <wsdl:output message="tns:P7xTimeStampDocumentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="P7mSoftSign">
      <wsdl:input message="tns:P7mSoftSignSoapIn" />
      <wsdl:output message="tns:P7mSoftSignSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetExpiryDates">
      <wsdl:input message="tns:GetExpiryDatesSoapIn" />
      <wsdl:output message="tns:GetExpiryDatesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeStampCount">
      <wsdl:input message="tns:GetTimeStampCountSoapIn" />
      <wsdl:output message="tns:GetTimeStampCountSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="eSignEngineHttpGet">
    <wsdl:operation name="P7xTimeStampDocument">
      <wsdl:input message="tns:P7xTimeStampDocumentHttpGetIn" />
      <wsdl:output message="tns:P7xTimeStampDocumentHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="P7mSoftSign">
      <wsdl:input message="tns:P7mSoftSignHttpGetIn" />
      <wsdl:output message="tns:P7mSoftSignHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeStampCount">
      <wsdl:input message="tns:GetTimeStampCountHttpGetIn" />
      <wsdl:output message="tns:GetTimeStampCountHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="eSignEngineHttpPost">
    <wsdl:operation name="P7xTimeStampDocument">
      <wsdl:input message="tns:P7xTimeStampDocumentHttpPostIn" />
      <wsdl:output message="tns:P7xTimeStampDocumentHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="P7mSoftSign">
      <wsdl:input message="tns:P7mSoftSignHttpPostIn" />
      <wsdl:output message="tns:P7mSoftSignHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeStampCount">
      <wsdl:input message="tns:GetTimeStampCountHttpPostIn" />
      <wsdl:output message="tns:GetTimeStampCountHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="eSignEngineSoap" type="tns:eSignEngineSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Extract">
      <soap:operation soapAction="http://www.vecompsoftware.it/eSignEngine/Extract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap:operation soapAction="http://www.vecompsoftware.it/eSignEngine/GetFileInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7xTimeStampDocument">
      <soap:operation soapAction="http://www.vecompsoftware.it/eSignEngine/P7xTimeStampDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7mSoftSign">
      <soap:operation soapAction="http://www.vecompsoftware.it/eSignEngine/P7mSoftSign" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpiryDates">
      <soap:operation soapAction="http://www.vecompsoftware.it/eSignEngine/GetExpiryDates" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeStampCount">
      <soap:operation soapAction="http://www.vecompsoftware.it/eSignEngine/GetTimeStampCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eSignEngineSoap12" type="tns:eSignEngineSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Extract">
      <soap12:operation soapAction="http://www.vecompsoftware.it/eSignEngine/Extract" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileInfo">
      <soap12:operation soapAction="http://www.vecompsoftware.it/eSignEngine/GetFileInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7xTimeStampDocument">
      <soap12:operation soapAction="http://www.vecompsoftware.it/eSignEngine/P7xTimeStampDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7mSoftSign">
      <soap12:operation soapAction="http://www.vecompsoftware.it/eSignEngine/P7mSoftSign" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExpiryDates">
      <soap12:operation soapAction="http://www.vecompsoftware.it/eSignEngine/GetExpiryDates" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeStampCount">
      <soap12:operation soapAction="http://www.vecompsoftware.it/eSignEngine/GetTimeStampCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eSignEngineHttpGet" type="tns:eSignEngineHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="P7xTimeStampDocument">
      <http:operation location="/P7xTimeStampDocument" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7mSoftSign">
      <http:operation location="/P7mSoftSign" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeStampCount">
      <http:operation location="/GetTimeStampCount" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="eSignEngineHttpPost" type="tns:eSignEngineHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="P7xTimeStampDocument">
      <http:operation location="/P7xTimeStampDocument" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="P7mSoftSign">
      <http:operation location="/P7mSoftSign" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeStampCount">
      <http:operation location="/GetTimeStampCount" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="eSignEngine">
    <wsdl:port name="eSignEngineSoap" binding="tns:eSignEngineSoap">
      <soap:address location="http://srvbiblos/ESignEngine/eSignEngine.asmx" />
    </wsdl:port>
    <wsdl:port name="eSignEngineSoap12" binding="tns:eSignEngineSoap12">
      <soap12:address location="http://srvbiblos/ESignEngine/eSignEngine.asmx" />
    </wsdl:port>
    <wsdl:port name="eSignEngineHttpGet" binding="tns:eSignEngineHttpGet">
      <http:address location="http://srvbiblos/ESignEngine/eSignEngine.asmx" />
    </wsdl:port>
    <wsdl:port name="eSignEngineHttpPost" binding="tns:eSignEngineHttpPost">
      <http:address location="http://srvbiblos/ESignEngine/eSignEngine.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>