SOURCE_SERVICEBUS/VecompSoftware.ServiceBus.Module.Workflow.Listener.Dematerialisation/Connected Services/DocSuite.Services.PDFGenerator/PDFGeneratorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PDFGeneratorV1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PDFGeneratorV1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/PDFGeneratorV1/PDFGeneratorService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="PdfServiceFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="Type" nillable="true" type="q1:Type" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PdfServiceFault" nillable="true" type="tns:PdfServiceFault" />
</xs:schema>